Repository ws-4020/mobile-app-crib-notes, changes with the labels that .github/labeler.yaml gives for each.
All labels: iOS, Android, app, build, chore, ci, doc, test

💄: Fix lint error and typo
  docs/reference.mdx
Labels: none

例が暗黙Intentっぽいので削除
  docs/reference/deep-link/overview.md
Labels: none

gh-pages.yamlの修正（Build）
  .github/workflows/gh-pages.yaml
Labels: ci

Update README.md
  README.md
Labels: none

website/.gitignoreのその他（Misc）の設定を santoku-app/.gitignoreに移動
  santoku-app/.gitignore
  website/.gitignore
Labels: none

トップの記述とHugoの記述を削除
  .gitignore
Labels: chore

website配下をすべて含め、除外対象を指定するように修正
  .github/workflows/gh-pages.yaml
Labels: ci

AppLinkはもうおしまい
  docs/reference/deep-link/app-links.md
  docs/reference/deep-link/basics.md
Labels: none

github actionsのテスト
  website/docs/test.md
Labels: doc

lint errorじゃなくてBuildエラーだった
  docs/reference/deep-link/app-links.md
Labels: none

pathsの指定に誤りがあったため修正
  .github/workflows/gh-pages.yaml
Labels: ci

pathsの指定を修正
  .github/workflows/gh-pages.yaml
Labels: ci

カレントディレクトリの指定方法を修正
  .github/workflows/gh-pages.yaml
Labels: ci

lintのカレントディレクトリをwebsiteに修正
  .github/workflows/gh-pages.yaml
Labels: ci

カレントディレクトリをwebsiteに指定
  .github/workflows/gh-pages.yaml
Labels: ci

github action用テストファイルを削除
  website/docs/test.md
Labels: doc

トップの.gitignoreの.DS_Storeの削除を元に戻す
  .gitignore
Labels: chore

App LinksだとFacebookの商標に引っかかりそう
  docs/reference/deep-link/android-app-links.md
  docs/reference/deep-link/dynamic-links.md
  docs/reference/deep-link/overview.md
Labels: none

整理もなにも基本的にはガイド通り
  docs/reference/deep-link/dynamic-links.md
Labels: none

対象のpackage.jsonを変更 package.json -> website/package.json
  .github/renovate.json5
Labels: chore

git管理していないファイル、フォルダの記述を削除
  .github/workflows/gh-pages.yaml
Labels: ci

Update README.md
  README.md
Labels: none

不要な文言を削除
  README.md
Labels: none

概要は書いた
  docs/reference/deep-link/android-app-links.md
  docs/reference/deep-link/universal-links.md
Labels: none

カレントディレクトリの変更手段をcdでなく--prefixで指定するように修正（reviewdog以外）
  .github/workflows/gh-pages.yaml
Labels: ci

修正
  docs/reference/deep-link/android-app-links.md
  docs/reference/deep-link/dynamic-links.md
  docs/reference/deep-link/overview.md
  docs/reference/deep-link/universal-links.md
Labels: none

npmとnode_modulesのキャッシュのキーに`website`を追加
  .github/workflows/gh-pages.yaml
Labels: ci

.github/labeler.yaml:

# Add 'iOS' label to any change within the 'ios' directory
iOS:
  - SantokuApp/ios/**/*

# Add 'Android' label to any change within the 'android' directory
Android:
  - SantokuApp/android/**/*

# Add 'app' label to any change within the 'src' directory and to the files listed below
app:
  - SantokuApp/src/**/*
  - SantokuApp/index.js

# Add 'build' label to any changes to the files listed below
build:
  - SantokuApp/.script/**/*
  - SantokuApp/.buckconfig
  - SantokuApp/.editorconfig
  - SantokuApp/.eslintrc.js
  - SantokuApp/babel.config.js
  - SantokuApp/metro.config.js
  - SantokuApp/package.json
  - SantokuApp/package-lock.json
  - SantokuApp/tsconfig.json
  - .tool-versions

# Add 'chore' label to any change within the '.github' directory and to the files listed below
chore:
  # Changes to files within '.github/workflows' should correspond to the 'ci' label
  - any: ['.github/**/*', '!.github/workflows/**/*']
  - .idea/**/*
  - SantokuApp/.gitattributes
  - SantokuApp/.gitignore
  - .editorconfig
  - .gitattributes
  - .gitignore
  - .tool-versions
  - LICENSE

# Add 'ci' label to any change within the '.github/workflows' directory
ci:
  - .github/workflows/**/*

# Add 'doc' label to any change within the 'website/docs' directory
doc:
  - website/docs/**
  - website/src/**
  - website/static/**
  - SantokuApp/README.md
  - website/.htmltest.yaml
  - website/.markdownlint.js
  - website/.textlintrc.js
  - website/babel.config.js
  - website/docusaurus.config.js
  - website/package.json
  - website/package-lock.json
  - website/prh.yaml
  - website/README.md

# Add 'test' label to any change to files within the directories listed below
test:
  - SantokuApp/jest/**/*
  - SantokuApp/jest.config.js
  - SantokuApp/src/**/*.test.tsx
