Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2021-04, with the labels that each got.

#116 🐛 link切れのためredirect
  docusaurus.config.js
Labels: doc

#118 🖋️: コマンド例が正しくないので修正
  docs/react-native/troubleshooting/unable-to-load-script.mdx
Labels: doc

#152 👷: Run workflow when SantokuApp is changed
  .github/labeler.yaml
  .github/renovate.json5
  .github/workflows/app.yaml
  .idea/dictionaries/ryotan.xml
  SantokuApp/README.md
  package.json
Labels: chore, ci, doc

#153 🖋️: proxy設定のコマンド誤りを修正
  docs/react-native/learn/getting-started/setting-up-development-environment.mdx
Labels: doc

#156 🔧: Fix Renovate configuration files
  .github/renovate.json5
Labels: chore

#163 🖋️: 日本語やファイル名の軽微な誤りを修正
  docs/react-native/learn/todo-app/logo.mdx
  docs/react-native/learn/todo-app/navigation-hook.mdx
  docs/react-native/learn/todo-app/tab.mdx
Labels: doc

#157 🌱: Add a page to view application information
  SantokuApp/src/navigation/RootStackNav.tsx
  SantokuApp/src/screens/home/Home.tsx
  SantokuApp/src/screens/index.ts
  SantokuApp/src/screens/info/ApplicationInfo.tsx
  SantokuApp/src/screens/info/index.ts
Labels: app

#158 🌱: Use `expo-keep-awake` while running in development mode
  .github/renovate.json5
  SantokuApp/package.json
  SantokuApp/src/App.tsx
Labels: app, build, chore

#164 🖋: FlatListのサンプルでWarningが出ないように修正
  docs/react-native/learn/basic-concepts/react-native-basics/components/lists/flat-list.mdx
Labels: doc

#165 🖋: react-native-cliインストール確認手順にバージョンチェックを追加
  docs/react-native/learn/getting-started/setting-up-development-environment.mdx
  docs/react-native/troubleshooting/react-native-cli-uninstall.md
Labels: doc

#122 📝 モバイルアプリケーション配布のドラフト版作成
  .github/workflows/gh-pages.yaml
  .idea/dictionaries/ryotan.xml
  .textlintrc.js
  docs/distribution/build/android/apk_dist.md
  docs/distribution/build/android/google_play_test.md
  docs/distribution/build/android/local.md
  docs/distribution/build/android/overview.md
  docs/distribution/build/index.md
  docs/distribution/build/ios/adep_in_house.md
  docs/distribution/build/ios/adp_local.md
  docs/distribution/build/ios/adp_testflight.md
  docs/distribution/build/ios/build_setting.md
  docs/distribution/build/ios/overview.md
  docs/distribution/build/ios/personal_team.md
  docs/distribution/index.md
  docs/distribution/ios_lisence.md
  docs/distribution/links.md
  docs/distribution/usecase/client_test.md
  docs/distribution/usecase/demo.md
  docs/distribution/usecase/develop_test.md
  docs/distribution/usecase/field_test.md
  docs/distribution/usecase/index.md
  docs/distribution/usecase/local.md
  docs/sidebars.js
  docusaurus.config.js
  src/pages/index.tsx
Labels: chore, ci, doc

#166 ⬆: Update Flipper to 0.84.0
  SantokuApp/android/gradle.properties
  SantokuApp/ios/Podfile
  SantokuApp/ios/Podfile.lock
Labels: Android, iOS

#168 ⏪️: pull request target から pull request に変更
  .github/workflows/app.yaml
  .github/workflows/gh-pages.yaml
Labels: ci

#170 lint errorの修正
  docs/react-native/troubleshooting/react-native-cli-uninstall.md
  santoku-app/README.md
Labels: doc

#169 🖋: iOSのリソースについて追記
  docs/distribution/build/android/overview.md
  docs/distribution/build/ios/adp_testflight.md
  docs/distribution/build/ios/build_setting.md
  docs/distribution/build/ios/developer_account.md
  docs/distribution/build/ios/overview.md
  docs/distribution/index.md
  docs/distribution/ios_lisence.md
  docs/distribution/usecase/client_test.md
  docs/distribution/usecase/demo.md
  docs/distribution/usecase/develop_test.md
  docs/distribution/usecase/field_test.md
  docs/distribution/usecase/index.md
  docs/distribution/usecase/index.mdx
  docs/distribution/usecase/local.md
  docs/sidebars.js
Labels: doc

#172 🖋 : TestFlightの配信を追加
  docs/distribution/build/ios/adp_testflight.md
Labels: doc

#171 🖋: Refine distribution index page and remove header item
  docs/distribution/index.md
  docs/distribution/index.mdx
  docusaurus.config.js
Labels: doc

#177 🖋: iOSのビルドに関するページを作成する
  docs/distribution/build/ios/adep_in_house.md
  docs/distribution/build/ios/adp_local.md
  docs/distribution/build/ios/adp_testflight.md
  docs/distribution/build/ios/build-setting.md
  docs/distribution/build/ios/ios-build.md
  docs/distribution/ios_lisence.md
Labels: doc

#178 🖋: 学習コンテンツにビルドの仕組み説明を追加
  docs/react-native/learn/getting-started/expo-build.png
  docs/react-native/learn/getting-started/launch-created-app.mdx
  docs/react-native/learn/getting-started/react-native-build.png
Labels: doc

#184 ✨ : リンクとかコンテンツの見直し
  docs/distribution/build/index.md
  docs/distribution/build/ios-build-setting.md
  docs/distribution/build/ios-build.md
  docs/distribution/build/ios/adp_local.md
  docs/distribution/build/ios/ios-build.md
  docs/distribution/ios-ad-hoc.md
  docs/distribution/ios-developer-account.md
  docs/distribution/ios-in-house.md
  docs/distribution/ios-lisence.md
  docs/distribution/ios-testflight.md
  docs/distribution/usecase/index.mdx
  docs/sidebars.js
Labels: doc

#183 🖋: Androidのページの修正
  docs/distribution/android-apk-dist.md
  docs/distribution/android-google-play-test.md
  docs/distribution/android-local.md
  docs/distribution/build/android-build.md
  docs/distribution/build/android/apk_dist.md
  docs/distribution/usecase/index.mdx
  docs/sidebars.js
Labels: doc

#187 🐛: もともとAd-Hocではなく開発用証明書がガイドされていたので修正
  docs/distribution/build/ios-build.md
  docs/distribution/ios-develop-certificate.md
  docs/distribution/ios-in-house.md
  docs/distribution/usecase/index.mdx
  docs/sidebars.js
Labels: doc

#188 🐛: 不要な記載を削除
  docs/distribution/ios-lisence.md
  docs/distribution/usecase/index.mdx
Labels: doc

#189 ✨: ログインが必要なやつには記載する
  docs/distribution/build/ios-build.md
  docs/distribution/ios-developer-account.md
  docs/distribution/ios-testflight.md
  docs/distribution/links.md
Labels: doc

#191 🖋: Androidのビルドの説明を公式に寄せる
  docs/distribution/build/android-build.md
Labels: doc

#192 🐛: おかしい箇所を修正
  docs/distribution/android-local.md
  docs/distribution/ios-developer-account.md
  docs/distribution/usecase/index.mdx
  docs/sidebars.js
Labels: doc

#179 ✨: landing page を追加
  .github/workflows/gh-pages.yaml
  landing-page/app-distribution-lp.md
Labels: ci

#197 🐛: ボスからの指摘に対応（lintがかかってない問題に対応）
  docs/distribution/android-apk-dist.md
  docs/distribution/android-google-play-test.md
  docs/distribution/android-local.md
  docs/distribution/app-build/android-build.md
  docs/distribution/app-build/ios-build-setting.md
  docs/distribution/app-build/ios-build.md
  docs/distribution/ios-develop-certificate.md
  docs/distribution/ios-in-house.md
  docs/distribution/ios-testflight.md
  docs/sidebars.js
Labels: doc

#203 🐛: ボスからの指摘に対応
  docs/distribution/ios-develop-certificate.md
  docs/distribution/usecase/index.mdx
Labels: doc

#201 🐛: Fix link to another fintan content
  docs/reference/auth/authn-with-backend-using-OIDC-and-device-authn.md
Labels: doc

#204 🐛: Fix link errors and chore
  .idea/dictionaries/ryotan.xml
  docs/distribution/app-build/ios-build-setting.md
  docs/distribution/app-build/ios-build.md
  docs/distribution/ios-license.md
  docs/distribution/ios-testflight.md
  docs/distribution/usecase/index.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/button.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/design/flexbox.mdx
  docs/react-native/learn/getting-started/create-project.md
  docs/react-native/learn/getting-started/setting-up-development-environment.mdx
  docs/react-native/learn/todo-app/exercise.mdx
  docs/react-native/learn/todo-app/logo.mdx
  docs/react-native/learn/todo-app/navigation-hook.mdx
  docs/react-native/learn/todo-app/todo-board.mdx
  docs/react-native/learn/todo-app/todo-form.mdx
  docs/react-native/learn/todo-app/use-focus-effect.mdx
  docs/reference/auth/authn-with-backend-using-OIDC-and-device-authn.md
  docs/reference/auth/overview.md
  docs/sidebars.js
Labels: chore, doc

#196 🔨: Fix reset-cache script to use bundle exec
  SantokuApp/.script/jobs/reset-cache-macos.js
  SantokuApp/README.md
Labels: build, doc

#205 💄: Enable code block syntax highlighting of Ruby and Groovy
  docs/reference/notification/client.md
  docusaurus.config.js
Labels: doc

#195 🔧: Add packages to Gemfile for Ruby 3.0
  .tool-versions
  SantokuApp/Gemfile
  SantokuApp/Gemfile.lock
  SantokuApp/package.json
Labels: build, chore

#202 🖋️: 「前提知識」ではReact Navigationの型定義を紹介しないように修正
  docs/react-native/learn/advance/modal.png
  docs/react-native/learn/advance/react-navigation-param.mdx
  docs/react-native/learn/basic-concepts/react-navigation-basics.mdx
  docs/react-native/learn/basic-concepts/react-navigation-basics/modal.mdx
  docs/react-native/learn/basic-concepts/react-navigation-basics/modal.png
  docs/react-native/learn/basic-concepts/react-navigation-basics/stack.mdx
  docs/react-native/learn/basic-concepts/react-navigation-basics/tab.mdx
  docs/sidebars.js
Labels: doc
