Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2021-09, with the labels that each got.

#397 🐛 ADRのリンクがDevelopmentにとんでいるので修正してみました
  website/docs/react-native/santoku.mdx
Labels: doc

#400 ✨: ライフサイクル管理の概要を記載
  example-app/SantokuApp/src/navigation/RootStackNav.tsx
  example-app/SantokuApp/src/screens/demo/AppState.tsx
  example-app/SantokuApp/src/screens/demo/Demo.tsx
  example-app/SantokuApp/src/screens/demo/index.ts
  example-app/SantokuApp/src/screens/home/Home.tsx
  example-app/SantokuApp/src/screens/index.ts
  website/docs/react-native/santoku/application-architecture.mdx
  website/docs/react-native/santoku/application-architecture/life-cycle-management/app-life-cycle-flow.drawio.png
  website/docs/react-native/santoku/application-architecture/life-cycle-management/initialization-flow.png
  website/docs/react-native/santoku/application-architecture/life-cycle-management/initialization.mdx
  website/docs/react-native/santoku/application-architecture/life-cycle-management/overview.mdx
  website/docs/react-native/santoku/application-architecture/life-cycle-managing/overview.mdx
  website/docs/sidebars.js
  website/src/pages/index.tsx
Labels: app, doc

#402 🩹: 例として記載しているアプリケーションIDが、誤解しやすいものだったので修正
  website/docs/react-native/santoku/development/build-configuration/build-variants.mdx
Labels: doc

#394 🖋: ビルドバリアントについての説明を拡充
  website/docs/react-native/santoku/development/build-configuration.mdx
  website/docs/react-native/santoku/development/build-configuration/build-type-configurations.mdx
  website/docs/react-native/santoku/development/build-configuration/build-variants.mdx
Labels: doc

#401 🐛: Androidでウィンドウを分割してリサイズすると、Home画面に戻ってしまう問題に対応
  example-app/SantokuApp/android/app/src/main/AndroidManifest.xml
Labels: Android

#405 ✨: Releaseモードのシミュレータ起動ではCPUアーキテクチャからarm64を除外するように変更
  example-app/SantokuApp/ios/SantokuApp.xcodeproj/project.pbxproj
Labels: iOS

#406 🔍: Google Analyticsの設定を追加
  website/docusaurus.config.js
  website/src/css/custom.css
  website/src/pages/terms-of-use.md
  website/src/pages/trademark.md
Labels: doc

#389 🌱: htmltestでリンクをチェックする
  .github/workflows/gh-pages.yaml
  website/.htmltest.yaml
  website/docs/react-native/santoku/development/dependency-management.md
  website/docs/reference/auth/login-screens.md
  website/package.json
Labels: ci, doc

#388 🔗: ディープリンクの方式設計を追加
  website/docs/react-native/santoku/application-architecture.mdx
  website/docs/react-native/santoku/application-architecture/deep-link/create-deep-link.mdx
  website/docs/react-native/santoku/application-architecture/deep-link/overview.drawio.png
  website/docs/react-native/santoku/application-architecture/deep-link/overview.mdx
  website/docs/react-native/santoku/application-architecture/deep-link/process-deep-link.mdx
  website/docs/react-native/santoku/application-architecture/deep-link/react-native-firebase.mdx
  website/docs/sidebars.js
Labels: doc

#372 🌱: ディープリンクのADRを追加
  website/docs/react-native/santoku/decisions/adr-004-deep-link.mdx
  website/docs/sidebars.js
Labels: doc

#408 🔨: IntelliJ IDEAの設定ファイルを最新化
  .idea/codeStyles/Project.xml
Labels: chore

#413 🩹: htmltestでリンクをチェックする要素を見直し、リンク切れを修正
  .github/workflows/gh-pages.yaml
  website/.htmltest.yaml
  website/docs/react-native/santoku/application-architecture/deep-link/process-deep-link.mdx
  website/docs/reference/auth/login-screens.md
Labels: ci, doc

#403 🌱: グローバルエラーハンドリングとログの基盤部品を追加
  .github/renovate.json5
  example-app/SantokuApp/.eslintrc.js
  example-app/SantokuApp/.gitignore
  example-app/SantokuApp/android/app/build.gradle
  example-app/SantokuApp/android/app/proguard-rules.pro
  example-app/SantokuApp/android/app/src/main/java/jp/fintan/mobile/santokuapp/MainApplication.java
  example-app/SantokuApp/android/app/src/main/java/jp/fintan/mobile/santokuapp/demo/throwerror/ThrowErrorModule.java
  example-app/SantokuApp/android/app/src/main/java/jp/fintan/mobile/santokuapp/demo/throwerror/ThrowErrorPackage.java
  example-app/SantokuApp/android/build.gradle
  example-app/SantokuApp/firebase.json
  example-app/SantokuApp/ios/Demo/RCTThrowErrorModule.h
  example-app/SantokuApp/ios/Demo/RCTThrowErrorModule.m
  example-app/SantokuApp/ios/Podfile.lock
  example-app/SantokuApp/ios/SantokuApp.xcodeproj/project.pbxproj
  example-app/SantokuApp/ios/SantokuApp/AppDelegate.m
  example-app/SantokuApp/jest/__mocks__/@react-native-firebase/crashlytics.js
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/src/App.tsx
  example-app/SantokuApp/src/framework/logging/ConsoleTransport.test.ts
  example-app/SantokuApp/src/framework/logging/ConsoleTransport.ts
  example-app/SantokuApp/src/framework/logging/FirebaseCrashlyticsTransport.test.ts
  example-app/SantokuApp/src/framework/logging/FirebaseCrashlyticsTransport.ts
  example-app/SantokuApp/src/framework/logging/Logger.test.ts
  example-app/SantokuApp/src/framework/logging/Logger.ts
  example-app/SantokuApp/src/framework/logging/Transport.ts
  example-app/SantokuApp/src/framework/logging/index.ts
  example-app/SantokuApp/src/navigation/RootStackNav.tsx
  example-app/SantokuApp/src/screens/demo/Demo.tsx
  example-app/SantokuApp/src/screens/demo/error/ErrorCase.tsx
  example-app/SantokuApp/src/screens/demo/error/ErrorInEventHandler.tsx
  example-app/SantokuApp/src/screens/demo/error/ErrorInNativeModules.tsx
  example-app/SantokuApp/src/screens/demo/error/ErrorInReactComponent.tsx
  example-app/SantokuApp/src/screens/demo/error/ErrorInUseEffect.tsx
  example-app/SantokuApp/src/screens/demo/error/ErrorInUseEffectAsyncProcess.tsx
  example-app/SantokuApp/src/screens/demo/error/ErrorInUseEffectSyncProcess.tsx
Labels: iOS, Android, app, build, chore, test

#415 ✨: アプリ起動後の初期化処理に、メッセージの取得処理を追加
  .github/renovate.json5
  .github/workflows/gh-pages.yaml
  .idea/codeStyles/Project.xml
  example-app/SantokuApp/.eslintrc.js
  example-app/SantokuApp/.gitignore
  example-app/SantokuApp/android/app/build.gradle
  example-app/SantokuApp/android/app/proguard-rules.pro
  example-app/SantokuApp/android/app/src/main/java/jp/fintan/mobile/santokuapp/MainApplication.java
  example-app/SantokuApp/android/app/src/main/java/jp/fintan/mobile/santokuapp/demo/throwerror/ThrowErrorModule.java
  example-app/SantokuApp/android/app/src/main/java/jp/fintan/mobile/santokuapp/demo/throwerror/ThrowErrorPackage.java
  example-app/SantokuApp/android/build.gradle
  example-app/SantokuApp/firebase.json
  example-app/SantokuApp/ios/Demo/RCTThrowErrorModule.h
  example-app/SantokuApp/ios/Demo/RCTThrowErrorModule.m
  example-app/SantokuApp/ios/Podfile.lock
  example-app/SantokuApp/ios/SantokuApp.xcodeproj/project.pbxproj
  example-app/SantokuApp/ios/SantokuApp/AppDelegate.m
  example-app/SantokuApp/jest/__mocks__/@react-native-firebase/crashlytics.js
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/src/App.tsx
  example-app/SantokuApp/src/framework/logging/ConsoleTransport.test.ts
  example-app/SantokuApp/src/framework/logging/ConsoleTransport.ts
  example-app/SantokuApp/src/framework/logging/FirebaseCrashlyticsTransport.test.ts
  example-app/SantokuApp/src/framework/logging/FirebaseCrashlyticsTransport.ts
  example-app/SantokuApp/src/framework/logging/Logger.test.ts
  example-app/SantokuApp/src/framework/logging/Logger.ts
  example-app/SantokuApp/src/framework/logging/Transport.ts
  example-app/SantokuApp/src/framework/logging/index.ts
  example-app/SantokuApp/src/navigation/RootStackNav.tsx
  example-app/SantokuApp/src/screens/demo/Demo.tsx
  example-app/SantokuApp/src/screens/demo/error/ErrorCase.tsx
  example-app/SantokuApp/src/screens/demo/error/ErrorInEventHandler.tsx
  example-app/SantokuApp/src/screens/demo/error/ErrorInNativeModules.tsx
  example-app/SantokuApp/src/screens/demo/error/ErrorInReactComponent.tsx
  example-app/SantokuApp/src/screens/demo/error/ErrorInUseEffect.tsx
  example-app/SantokuApp/src/screens/demo/error/ErrorInUseEffectAsyncProcess.tsx
  example-app/SantokuApp/src/screens/demo/error/ErrorInUseEffectSyncProcess.tsx
  website/.htmltest.yaml
  website/docs/react-native/santoku/application-architecture/deep-link/process-deep-link.mdx
  website/docs/react-native/santoku/application-architecture/life-cycle-management/initialization-flow.png
  website/docs/react-native/santoku/application-architecture/life-cycle-management/initialization.mdx
  website/docs/reference/auth/login-screens.md
Labels: iOS, Android, app, build, chore, ci, doc, test

#419 ✨: アプリ起動後の初期化処理に、メッセージの取得処理を追加
  website/docs/react-native/santoku/application-architecture/life-cycle-management/initialization-flow.png
  website/docs/react-native/santoku/application-architecture/life-cycle-management/initialization.mdx
Labels: doc

#407 🔨: ビルドバリアントごとのプロビジョニングプロファイルを設定
  example-app/SantokuApp/.env.development
  example-app/SantokuApp/.env.production
  example-app/SantokuApp/ios/SantokuApp.xcodeproj/project.pbxproj
Labels: iOS

#410 ✨: WebViewでネットワークエラーが発生した場合はスナックバーにエラー表示するように変更
  website/docs/react-native/santoku/application-architecture/webview/webview-error-handling.mdx
Labels: doc

#420 ✨: エラーハンドリングのアプリケーションアーキテクチャの文章で伝わりづらかった内容などを改善
  website/docs/react-native/santoku/application-architecture/error-handling/how-to-handle-error.mdx
  website/docs/react-native/santoku/application-architecture/error-handling/overview.mdx
  website/docs/react-native/santoku/application-architecture/http-api/http-api-error-handling.mdx
Labels: doc

#422 ✨: アプリ起動後の初期化処理のフロー図が大きすぎて視認性が悪かったので改善
  website/docs/react-native/santoku/application-architecture/life-cycle-management/initialization-data-fetching-flow.drawio.png
  website/docs/react-native/santoku/application-architecture/life-cycle-management/initialization-flow.drawio.png
  website/docs/react-native/santoku/application-architecture/life-cycle-management/initialization-flow.png
  website/docs/react-native/santoku/application-architecture/life-cycle-management/initialization-screen-flow.drawio.png
  website/docs/react-native/santoku/application-architecture/life-cycle-management/initialization.mdx
Labels: doc

#421 🌱: SantokuAppドキュメントのランディングページを作成
  website/docs/react-native/santoku.mdx
  website/landing-page/react-native-example-app-architecture-description.md
Labels: doc

#417 🌱: アプリのビルド、アーカイブ作成のためにfastlaneをインストール、セットアップ
  .idea/dictionaries/shared.xml
  example-app/SantokuApp/.gitignore
  example-app/SantokuApp/Gemfile
  example-app/SantokuApp/Gemfile.lock
  example-app/SantokuApp/fastlane/Fastfile
  example-app/SantokuApp/fastlane/Fastfile.build_santoku_app_ios
  example-app/SantokuApp/fastlane/README.md
  example-app/SantokuApp/ios/Podfile
  example-app/SantokuApp/ios/Podfile.lock
Labels: iOS, chore

#416 🩹: Debugの場合にATSが完全に無効になっていたのを、localhostのみ無効にするように修正
  example-app/SantokuApp/ios/SantokuApp/Debug.plist
  website/docs/react-native/santoku/development/build-configuration/build-type-configurations.mdx
Labels: iOS, doc

#425 ✨: ディープリンクのADRと方式の用語や説明を改善する
  website/docs/react-native/santoku/application-architecture/deep-link/create-deep-link.mdx
  website/docs/react-native/santoku/application-architecture/deep-link/overview.mdx
  website/docs/react-native/santoku/application-architecture/deep-link/process-deep-link.mdx
  website/docs/react-native/santoku/application-architecture/deep-link/react-native-firebase.mdx
  website/docs/react-native/santoku/decisions/adr-004-deep-link.mdx
Labels: doc

#426 ➕: テストを少しでも書きやすいように、testing-libraryを追加
  example-app/SantokuApp/jest.config.js
  example-app/SantokuApp/jest/__mocks__/@react-native-firebase/app.ts
  example-app/SantokuApp/jest/__mocks__/@react-native-firebase/crashlytics.js
  example-app/SantokuApp/jest/__mocks__/@react-native-firebase/crashlytics.ts
  example-app/SantokuApp/jest/__mocks__/@react-navigation/native.ts
  example-app/SantokuApp/jest/setup/global.js
  example-app/SantokuApp/jest/types/global.d.ts
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/src/App.test.tsx
  example-app/SantokuApp/src/__snapshots__/App.test.tsx.snap
  example-app/SantokuApp/src/framework/logging/FirebaseCrashlyticsTransport.test.ts
  example-app/SantokuApp/src/screens/demo/Demo.tsx
  example-app/SantokuApp/src/screens/home/Home.tsx
Labels: app, build, test

#431 ✨: エラーハンドリング - エラー発生元の分類を同期処理・非同期処理からPromiseとPromise以外に変更
  website/docs/react-native/santoku/application-architecture/error-handling/how-to-handle-error.mdx
  website/docs/react-native/santoku/decisions/adr-001-error-handling.mdx
Labels: doc

#432 💄: Noteなどのスタイルを修正
  website/src/css/custom.css
Labels: doc

#433 🖋️: 表現がわかりにくかった箇所を修正
  website/docs/react-native/santoku/application-architecture/life-cycle-management/overview.mdx
  website/landing-page/react-native-example-app-architecture-description.md
Labels: doc

#434 ✨: ADRのエラーハンドリングのタイトルをグローバルエラーハンドリングに変更
  website/docs/react-native/santoku/application-architecture/error-handling/overview.mdx
  website/docs/react-native/santoku/decisions.mdx
  website/docs/react-native/santoku/decisions/adr-001-error-handling.mdx
Labels: doc

#436 ✨: React Native Firebase関連のパッケージをまとめて更新する設定に変更
  .github/renovate.json5
Labels: chore

#429 ⬆️: @babel/coreのバージョン指定を変更
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/patches/expo-constants+11.0.2.patch
  example-app/SantokuApp/patches/expo-updates+0.8.5.patch
Labels: build

#443 ✨: react-test-rendererをRenovate対象外にする
  .github/renovate.json5
Labels: chore

#447 ✨: Flipperをrenovate対象外にする
  .github/renovate.json5
Labels: chore

#439 🖋: Overview全体の名前の見直し
  website/docs/distribution.mdx
  website/docs/docusaurus/index.mdx
  website/docs/react-native/common-pitfalls.md
  website/docs/react-native/common-pitfalls/overview.md
  website/docs/react-native/learn.md
  website/docs/react-native/learn/basic-concepts.mdx
  website/docs/react-native/learn/basic-concepts/react-native-basics.md
  website/docs/react-native/learn/basic-concepts/react-native-basics/components.mdx
  website/docs/react-native/learn/basic-concepts/react-native-basics/components/lists.mdx
  website/docs/react-native/learn/basic-concepts/react-native-basics/design.mdx
  website/docs/react-native/learn/basic-concepts/react-navigation-basics.mdx
  website/docs/react-native/learn/getting-started.mdx
  website/docs/react-native/learn/todo-app.md
  website/docs/react-native/santoku.mdx
  website/docs/react-native/santoku/application-architecture.mdx
  website/docs/react-native/santoku/application-architecture/deep-link/overview.mdx
  website/docs/react-native/santoku/application-architecture/error-handling/overview.mdx
  website/docs/react-native/santoku/application-architecture/life-cycle-management/overview.mdx
  website/docs/react-native/santoku/decisions.mdx
  website/docs/react-native/santoku/development.mdx
  website/docs/react-native/santoku/development/build-configuration.mdx
  website/docs/react-native/santoku/development/tools.mdx
  website/docs/reference.mdx
  website/docs/reference/auth/overview.md
  website/docs/reference/notification/overview.md
Labels: doc

#435 🖋: ライセンスのリンク先と文言の修正
  README.md
  website/README.md
  website/docusaurus.config.js
  website/landing-page/mobile-security-and-authentication-lp.md
  website/landing-page/push-notification-guide-lp.md
Labels: doc

#448 🩹: リリース前の細々とした修正
  .gitignore
  react-native-samples/santoku-app/ios/SantokuApp/AppDelegate.h
Labels: chore

#449 🔨: Fintan-contentsへのPull Requestではhtmltestをスキップするように修正
  .github/workflows/gh-pages.yaml
Labels: ci

#451 🩹: ヘッダリンクにExample Appを表示するように修正
  website/.htmltest.yaml
  website/docusaurus.config.js
Labels: doc
