Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2021-05, with the labels that each got.

#209 🔨: Add patch-package to run Gradle tasks in asdf-vm env
  .github/renovate.json5
  SantokuApp/package-lock.json
  SantokuApp/package.json
  SantokuApp/patches/expo-constants+9.3.5.patch
  SantokuApp/patches/expo-updates+0.4.2.patch
Labels: build, chore

#193 🖋: 画面遷移実装を学習コンテンツの最初によせる
  docs/react-native/learn/todo-app/app-hands-on/auth_flows.png
  docs/react-native/learn/todo-app/app-hands-on/logout.png
  docs/react-native/learn/todo-app/app-hands-on/modal.png
  docs/react-native/learn/todo-app/app-hands-on/screen-transition-modal.png
  docs/react-native/learn/todo-app/app-hands-on/screen-transition-stack.png
  docs/react-native/learn/todo-app/app-hands-on/screen-transition-tab.png
  docs/react-native/learn/todo-app/app-hands-on/stack-login.png
  docs/react-native/learn/todo-app/app-hands-on/tab.png
  docs/react-native/learn/todo-app/app-hands-on/tab_navigation.png
  docs/react-native/learn/todo-app/app-hands-on/todo-form.png
  docs/react-native/learn/todo-app/app-project-desc.md
  docs/react-native/learn/todo-app/app-spec.md
  docs/react-native/learn/todo-app/app-spec/screen_transition.png
  docs/react-native/learn/todo-app/auth.mdx
  docs/react-native/learn/todo-app/basic-components.mdx
  docs/react-native/learn/todo-app/keyboard-avoiding-view.mdx
  docs/react-native/learn/todo-app/login.mdx
  docs/react-native/learn/todo-app/logo.mdx
  docs/react-native/learn/todo-app/modal.mdx
  docs/react-native/learn/todo-app/navigation-hook.mdx
  docs/react-native/learn/todo-app/split-navigation.mdx
  docs/react-native/learn/todo-app/stack.mdx
  docs/react-native/learn/todo-app/tab.mdx
  docs/react-native/learn/todo-app/todo-board.mdx
  docs/react-native/learn/todo-app/todo-form.mdx
  docs/react-native/learn/todo-app/use-focus-effect.mdx
  docs/sidebars.js
Labels: doc

#208 ✨: 書き込み権限が必須のGitHub Actionsはon.workflow_runでトリガーする
  .github/workflows/app.yaml
  .github/workflows/gh-pages-deploy.yaml
  .github/workflows/gh-pages.yaml
  .github/workflows/report.yaml
  SantokuApp/.gitignore
  SantokuApp/package-lock.json
  SantokuApp/package.json
Labels: build, chore, ci

#215 🖋: npm installではなくnpm ciを使って欲しい
  README.md
Labels: doc

#227 🐛: TODOアプリハンズオンの誤字を修正
  docs/react-native/learn/todo-app/auth.mdx
Labels: doc

#211 ⬆: Update Flipper to 0.87.0
  SantokuApp/android/gradle.properties
  SantokuApp/ios/Podfile
  SantokuApp/ios/Podfile.lock
Labels: Android, iOS

#222 🐛: Fix an error occurred when installing fsevents on macOS
  package-lock.json
Labels: doc

#223 🐛: Fix renovate packageRules of Docusaurus
  .github/renovate.json5
Labels: chore

#221 💄: Fix lint errors (ja-technical-writing/max-comma)
  docs/distribution/usecase/index.mdx
  docs/docusaurus/index.mdx
  docs/react-native/learn/advance/react-navigation-param.mdx
  docs/react-native/learn/basic-concepts.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/button.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/image.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/lists.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/lists/flat-list.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/lists/section-list.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/scroll-view.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/text.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/touchable-opacity.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/view.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/design.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/design/flexbox.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/design/height-and-width.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/design/style.mdx
  docs/react-native/learn/basic-concepts/react-navigation-basics.mdx
  docs/react-native/learn/basic-concepts/react-navigation-basics/modal.mdx
  docs/react-native/learn/basic-concepts/react-navigation-basics/stack.mdx
  docs/react-native/learn/basic-concepts/react-navigation-basics/tab.mdx
  docs/react-native/learn/getting-started.mdx
  docs/react-native/learn/getting-started/launch-created-app.mdx
  docs/react-native/learn/getting-started/setting-up-development-environment.mdx
  docs/react-native/santoku/development/build-variants.mdx
  docs/react-native/troubleshooting/unable-to-load-script.mdx
Labels: doc

#207 🖋️: VS Codeでのデバッグを追加
  docs/react-native/settings-vscode.md
  docs/sidebars.js
Labels: doc

#229 ✨: タグを#hands-onから#2021.05.0へ変更
  docs/react-native/learn/getting-started/create-project.md
  docs/react-native/learn/getting-started/setting-up-development-environment.mdx
Labels: doc

#232 ⬆: Upgrade Expo SDK to 41
  SantokuApp/.gitignore
  SantokuApp/android/app/src/main/java/jp/fintan/mobile/santokuapp/generated/BasePackageList.java
  SantokuApp/android/build.gradle
  SantokuApp/android/gradle/wrapper/gradle-wrapper.properties
  SantokuApp/index.js
  SantokuApp/ios/Podfile
  SantokuApp/ios/Podfile.lock
  SantokuApp/metro.config.js
  SantokuApp/package-lock.json
  SantokuApp/package.json
  SantokuApp/patches/expo-constants+10.1.3.patch
  SantokuApp/patches/expo-updates+0.5.5.patch
  SantokuApp/tsconfig.json
  package-lock.json
Labels: Android, app, build, chore, doc, iOS

#237 ✨ : トラブルシュートではなく落とし穴に変更
  docs/react-native/common-pitfalls.md
  docs/react-native/common-pitfalls/cant-build-in-xcode.md
  docs/react-native/common-pitfalls/debug-keystore-not-found.md
  docs/react-native/common-pitfalls/failed-to-load-script.png
  docs/react-native/common-pitfalls/react-native-cli-uninstall.md
  docs/react-native/common-pitfalls/unable-to-load-script.mdx
  docs/react-native/learn/getting-started/launch-created-app.mdx
  docs/react-native/learn/getting-started/setting-up-development-environment.mdx
  docs/react-native/troubleshooting/cant-build-in-xcode.md
  docs/sidebars.js
  docusaurus.config.js
  santoku-app/README.md
  src/pages/index.tsx
Labels: doc

#236 🖋: REST APIとの接続を含めて全体構成を更新
  docs/react-native/learn.md
  docs/react-native/learn/basic-concepts.mdx
  docs/react-native/learn/todo-app.md
  docs/react-native/learn/todo-app/app-spec.md
  docs/react-native/learn/todo-app/networking/api-request.mdx
  docs/react-native/learn/todo-app/networking/generate-api-client.mdx
  docs/react-native/learn/todo-app/networking/setting-up-local-server.mdx
  docs/react-native/learn/todo-app/screens/alert.mdx
  docs/react-native/learn/todo-app/screens/auth.mdx
  docs/react-native/learn/todo-app/screens/basic-components.mdx
  docs/react-native/learn/todo-app/screens/exercise.mdx
  docs/react-native/learn/todo-app/screens/keyboard-avoiding-view.mdx
  docs/react-native/learn/todo-app/screens/login.mdx
  docs/react-native/learn/todo-app/screens/logo.mdx
  docs/react-native/learn/todo-app/screens/modal.mdx
  docs/react-native/learn/todo-app/screens/stack.mdx
  docs/react-native/learn/todo-app/screens/tab.mdx
  docs/react-native/learn/todo-app/screens/todo-board.mdx
  docs/react-native/learn/todo-app/screens/todo-form.mdx
  docs/react-native/learn/todo-app/screens/use-focus-effect.mdx
  docs/react-native/learn/todo-app/screens/welcome.mdx
  docs/sidebars.js
Labels: doc

#235 📦️: 依存パッケージの管理方針についてのドキュメントを追加
  .idea/dictionaries/ryotan.xml
  docs/react-native/santoku/development.mdx
  docs/react-native/santoku/development/dependency-management.md
  docs/sidebars.js
  src/components/RepositoryLink.tsx
Labels: chore, doc

#240 🖋: REST APIの説明とディレクトリ構成(backend)の追加
  docs/react-native/learn/todo-app/app-project-desc.md
  docs/react-native/learn/todo-app/app-spec.md
Labels: doc

#241 ✨: API Clientの自動生成のガイドと説明を追加
  docs/react-native/learn/todo-app/networking/generate-api-client.mdx
Labels: doc

#242 ✨: サービスからTodosAPIを呼び出して確認するページを追加
  docs/react-native/learn/todo-app/networking/api-request.mdx
Labels: doc
