Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2021-07, with the labels that each got.

#342 🐛: Tabs, TabItemのインポート漏れを修正
  docs/react-native/learn/getting-started/supplement.md
Labels: doc

#344 ✨: ドキュメントのDraft版でExample Appを表示するように変更
  docusaurus.config.js
Labels: doc

#345 🔨: Bump tool versions, update IntelliJ IDEA settings
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/dictionaries/shared.xml
  .idea/encodings.xml
  .idea/jsLibraryMappings.xml
  .idea/jsLinters/eslint.xml
  .idea/misc.xml
  .idea/prettier.xml
  .idea/vcs.xml
  .tool-versions
Labels: build, chore

#346 ♻️: Docusaurusの設定を整理
  .idea/dictionaries/shared.xml
  docusaurus.config.js
  src/css/custom.css
  src/plugins/literal-injector-rehype-plugin/index.js
  src/plugins/medium-zoom-docusaurus-plugin/attach-medium-zoom.js
  src/plugins/medium-zoom-docusaurus-plugin/index.js
Labels: chore, doc

#341 🚑: リファレンスのトップページを少しやわらかく修正
  docs/distribution.mdx
  docs/distribution/usecase.mdx
  docs/reference.mdx
  docs/reference/index.mdx
  docs/sidebars.js
Labels: doc

#358 🔨: react-native-samplesの中はRenovateの対象外にする
  .github/renovate.json5
Labels: chore

#366 🌱: ADRのテンプレートと運用方法のドラフト作成
  website/docs/react-native/santoku.mdx
  website/docs/react-native/santoku/decisions/_decision-record-template.mdx
  website/docs/react-native/santoku/decisions/adr-000-use-adr.mdx
  website/docs/react-native/santoku/decisions/decision-record-workflow.png
Labels: doc

#367 🐛: チュートリアルでプロジェクトの作成に使うRN Spoilerのバージョン名を変更
  website/docs/docusaurus/plugins.md
  website/docusaurus.config.js
Labels: doc
