Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2021-02, with the labels that each got.

#19 📈 CIの設定を更新
  .github/labeler.yaml
  .github/pull_request_template.md
  .github/renovate.json5
  .github/workflows/app.yaml
  .github/workflows/auto-complete.yaml
  .github/workflows/gh-pages.yml
  .github/workflows/triage.yaml
  .htmltest.yaml
Labels: chore, ci

#22 🌱: Change admonition styles
  src/css/custom.css
Labels: doc

#23 🔨: Serve built html files from nginx
  .github/renovate.json5
  README.md
  nginx/default.conf.template
  package-lock.json
  package.json
Labels: chore, doc

#25 🌱: Change GitHub link to logo
  docusaurus.config.js
  src/css/custom.css
Labels: doc

#24 🔨: Use official auto-merge instead of auto-merge action
  .github/pull_request_template.md
  .github/workflows/auto-complete.yaml
Labels: chore, ci

#27 🔨: Change directory to publish to GitHub Pages
  .github/workflows/gh-pages.yml
Labels: ci

#30 🎨: Add frontend lint tools for document
  .eslintrc.js
  .github/renovate.json5
  .github/workflows/gh-pages.yml
  .gitignore
  .idea/dictionaries/ryotan.xml
  .prettierrc.js
  .stylelintrc.js
  package-lock.json
  package.json
  src/pages/index.tsx
  tsconfig.json
Labels: chore, ci, doc

#29 🌱: Push通知用の画面のUIの作成
  santoku-app/src/app/components/basics/KeyboardAvoidingView.tsx
  santoku-app/src/app/components/pages/DrawerContent.tsx
  santoku-app/src/app/components/pages/Navigator.tsx
  santoku-app/src/app/components/pages/notification/PushNotification.tsx
  santoku-app/src/app/components/parts/notification/DeviseTokenNotificationForm.tsx
  santoku-app/src/app/components/parts/notification/FormInput.tsx
  santoku-app/src/app/components/parts/notification/TopicNotificationForm.tsx
Labels: app

#34 🔨: Fix lint errors and enable lint steps of GitHub Actions
  .github/renovate.json5
  .github/workflows/gh-pages.yaml
  .textlintrc
  README.md
  docs/doc1.md
  docs/mdx.md
  docs/reference/auth/authn-architecture.md
  docs/reference/auth/login-screens.md
  docs/reference/auth/manage-credentials.md
  docs/reference/auth/stateless-authn.md
  docs/reference/auth/webassets-integration.md
  docs/reference/index.md
  docs/reference/security/awesome-sites.md
  package-lock.json
  package.json
  santoku-app/README.md
  src/css/custom.css
  src/pages/index.tsx
  src/pages/trademark.md
Labels: chore, ci, doc

#31 🖋: Add documents of creating a project and launching the application
  docs/react-native/learn/getting-started.md
  docs/react-native/learn/getting-started/create-project.md
  docs/react-native/learn/getting-started/launch-created-app.mdx
  docs/react-native/learn/getting-started/setting-up-development-environment.md
  docs/react-native/troubleshooting.md
  docs/react-native/troubleshooting/debug-keystore-not-found.md
  docs/react-native/troubleshooting/failed-to-load-script.png
  docs/react-native/troubleshooting/failed-to-run-app.md
  docs/react-native/troubleshooting/unable-to-load-script.mdx
  docs/sidebars.js
Labels: doc

#35 💄: Use medium-zoom, and align images center
  docusaurus.config.js
  package-lock.json
  package.json
  src/css/custom.css
  src/plugins/attach-medium-zoom.js
  src/plugins/medium-zoom-docusaurus-plugin.js
Labels: doc

#32 🌱: Push通知用の設定の追加
  santoku-app/.gitignore
  santoku-app/README.md
  santoku-app/android/app/build.gradle
  santoku-app/android/build.gradle
  santoku-app/ios/GoogleService-Info.dummy.plist
  santoku-app/ios/Podfile.lock
  santoku-app/ios/SantokuApp.xcodeproj/project.pbxproj
  santoku-app/ios/SantokuApp/AppDelegate.m
  santoku-app/package-lock.json
  santoku-app/package.json
Labels: Android, build, chore, doc, iOS

#39 🔨: Include mdx files into lint targets
  .github/labeler.yaml
  .github/workflows/gh-pages.yaml
  .textlintrc
  .textlintrc.js
  docs/react-native/learn/getting-started/launch-created-app.mdx
  docs/react-native/troubleshooting/unable-to-load-script.mdx
  package.json
  santoku-app/README.md
Labels: chore, ci, doc

#38 🔨: Change organization name according to repo name
  docusaurus.config.js
Labels: doc

#37 🌱: Add PageList component
  src/components/PageList.module.css
  src/components/PageList.tsx
  src/components/index.ts
Labels: doc

#40 💄: Use PageList component in the landing page
  .idea/dictionaries/ryotan.xml
  src/pages/index.tsx
  src/pages/styles.module.css
Labels: chore, doc

#41 💄: Use PageList component in the getting-started overview page
  docs/react-native/learn/getting-started.md
  docs/react-native/learn/getting-started.mdx
Labels: doc

#42 🖋: Add pages to learn React Native, configure sidebars and fix links
  docs/react-native/learn.md
  docs/react-native/learn/basic-concepts.mdx
  docs/react-native/learn/basic-concepts/navigation.png
  docs/react-native/learn/basic-concepts/navigation_image.png
  docs/react-native/learn/basic-concepts/pre-requisites.md
  docs/react-native/learn/basic-concepts/react-native-basics.md
  docs/react-native/learn/basic-concepts/react-native-basics/components.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/button.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/button.png
  docs/react-native/learn/basic-concepts/react-native-basics/components/image.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/image.png
  docs/react-native/learn/basic-concepts/react-native-basics/components/lists.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/lists/flat-list.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/lists/flat-list.png
  docs/react-native/learn/basic-concepts/react-native-basics/components/lists/section-list.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/lists/section-list.png
  docs/react-native/learn/basic-concepts/react-native-basics/components/scroll-view.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/scroll-view.png
  docs/react-native/learn/basic-concepts/react-native-basics/components/text.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/text.png
  docs/react-native/learn/basic-concepts/react-native-basics/components/touchable-opacity.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/touchable-opacity.png
  docs/react-native/learn/basic-concepts/react-native-basics/components/view.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/view.png
  docs/react-native/learn/basic-concepts/react-native-basics/design.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/design/flexbox.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/design/flexbox.png
  docs/react-native/learn/basic-concepts/react-native-basics/design/height-and-width.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/design/height-and-width.png
  docs/react-native/learn/basic-concepts/react-native-basics/design/style.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/design/style.png
  docs/react-native/learn/basic-concepts/react-navigation-basics.mdx
  docs/react-native/learn/basic-concepts/react-navigation-basics/modal.mdx
  docs/react-native/learn/basic-concepts/react-navigation-basics/modal.png
  docs/react-native/learn/basic-concepts/react-navigation-basics/modal_image.png
  docs/react-native/learn/basic-concepts/react-navigation-basics/stack.mdx
  docs/react-native/learn/basic-concepts/react-navigation-basics/stack.png
  docs/react-native/learn/basic-concepts/react-navigation-basics/stack_image.png
  docs/react-native/learn/basic-concepts/react-navigation-basics/tab.mdx
  docs/react-native/learn/basic-concepts/react-navigation-basics/tab.png
  docs/react-native/learn/basic-concepts/react-navigation-basics/tab_image.png
  docs/react-native/learn/todo-app.md
  docs/react-native/learn/todo-app/app-spec.md
  docs/react-native/learn/todo-app/app-spec/add_task.png
  docs/react-native/learn/todo-app/app-spec/add_task_close.png
  docs/react-native/learn/todo-app/app-spec/login.png
  docs/react-native/learn/todo-app/app-spec/logout.png
  docs/react-native/learn/todo-app/app-spec/screen_transition.png
  docs/react-native/learn/todo-app/app-spec/setting.png
  docs/react-native/learn/todo-app/app-spec/signup.png
  docs/react-native/learn/todo-app/app-spec/todo_board_all.png
  docs/react-native/learn/todo-app/app-spec/todo_board_done.png
  docs/react-native/learn/todo-app/app-spec/todo_board_undone.png
  docs/react-native/learn/todo-app/app-spec/welcome.png
  docs/sidebars.js
  prh.yaml
Labels: doc

#43 eslintの設定に併せて修正(npm run eslint:fixの反映)
  santoku-app/__tests__/app/components/basics/ViewUtilities.ts
  santoku-app/index.js
  santoku-app/src/App.tsx
  santoku-app/src/app/backend/StatefulAuthnService.ts
  santoku-app/src/app/backend/authn/AuthenticationState.ts
  santoku-app/src/app/backend/authn/oidc/OidcAuthCodeFlowAdapter.ts
  santoku-app/src/app/backend/authn/oidc/OidcAuthCodeFlowAuthenticationUseCase.ts
  santoku-app/src/app/backend/authn/oidc/OidcAuthenticationState.ts
  santoku-app/src/app/backend/authn/oidc/SecureStorageAdapter.ts
  santoku-app/src/app/components/basics/Container.tsx
  santoku-app/src/app/components/basics/Description.tsx
  santoku-app/src/app/components/basics/KeyboardAvoidingView.tsx
  santoku-app/src/app/components/basics/Section.tsx
  santoku-app/src/app/components/basics/Text.tsx
  santoku-app/src/app/components/basics/TextButton.tsx
  santoku-app/src/app/components/basics/Title.tsx
  santoku-app/src/app/components/basics/ViewUtilities.ts
  santoku-app/src/app/components/basics/index.ts
  santoku-app/src/app/components/pages/DrawerContent.tsx
  santoku-app/src/app/components/pages/Navigator.tsx
  santoku-app/src/app/components/pages/auth/StatelessAuth.tsx
  santoku-app/src/app/components/pages/notification/PushNotification.tsx
  santoku-app/src/app/components/pages/top/Top.tsx
  santoku-app/src/app/components/pages/webview/StatefulAuthIntegration.tsx
  santoku-app/src/app/components/parts/StatefulLoginForm.tsx
  santoku-app/src/app/components/parts/WebAppView.tsx
  santoku-app/src/app/components/parts/WithStatefulLoginContext.tsx
  santoku-app/src/app/components/parts/WithStatelessLoginContext.tsx
  santoku-app/src/app/components/parts/notification/DeviseTokenNotificationForm.tsx
  santoku-app/src/app/components/parts/notification/FormInput.tsx
  santoku-app/src/app/components/parts/notification/TopicNotificationForm.tsx
  santoku-app/src/app/context/StatefulLoginContext.ts
  santoku-app/src/app/context/StatelessLoginContext.ts
  santoku-app/src/app/hooks/validation/index.ts
  santoku-app/src/app/hooks/validation/useValidation.ts
  santoku-app/src/framework/logging/Logger.ts
  santoku-app/src/framework/logging/SimpleConsoleLogger.ts
  santoku-app/src/framework/logging/index.ts
Labels: app

#47 表記が壊れていた部分などを修正
  docs/react-native/troubleshooting/unable-to-load-script.mdx
Labels: doc

#50 XCodeでビルドが失敗する。
  docs/react-native/troubleshooting/cant-build-in-xcode.md
  docs/sidebars.js
Labels: doc

#44 🐛: FCMのダミーの設定ファイルだと起動していなかったので修正
  santoku-app/ios/GoogleService-Info.dummy.plist
Labels: iOS

#51 🖋️: ToDoアプリプロジェクトの説明
  docs/react-native/learn/todo-app/app-project-desc.md
  docs/sidebars.js
Labels: doc

#46 🌱: パーミッションの確認をしたらTokenを取得するように実装
  santoku-app/__mocks__/@react-native-firebase/messaging.js
  santoku-app/android/app/build.gradle
  santoku-app/android/app/src/main/java/jp/fintan/mobile/santokuapp/MainApplication.java
  santoku-app/package-lock.json
  santoku-app/package.json
  santoku-app/src/app/backend/notification/PushNotificationService.ts
  santoku-app/src/app/components/pages/notification/PushNotification.tsx
  santoku-app/src/app/components/parts/notification/DeviseTokenNotificationForm.tsx
  santoku-app/src/app/components/parts/notification/FormInput.tsx
  santoku-app/src/app/components/parts/notification/TopicNotificationForm.tsx
  santoku-app/src/framework/hooks/useIsMounted.ts
Labels: Android, app, build

#52 🖋️: welcome
  docs/react-native/learn/todo-app/app-hands-on.md
  docs/react-native/learn/todo-app/app-hands-on/welcome.mdx
  docs/react-native/learn/todo-app/app-hands-on/welcome.png
  docs/sidebars.js
Labels: doc

#53 🖋️: ログイン画面
  docs/react-native/learn/todo-app/app-hands-on/keyboard-avoiding-view.mdx
  docs/react-native/learn/todo-app/app-hands-on/login.mdx
  docs/react-native/learn/todo-app/app-hands-on/login.png
  docs/sidebars.js
Labels: doc

#55 🖋️: ナビゲーションの整理
  docs/react-native/learn/todo-app/app-hands-on/navigation-hook.mdx
  docs/react-native/learn/todo-app/app-hands-on/split-navigation.mdx
  docs/sidebars.js
Labels: doc

#54 🖋️: 認証状態の制御
  docs/react-native/learn/todo-app/app-hands-on/alert.mdx
  docs/react-native/learn/todo-app/app-hands-on/alert.png
  docs/react-native/learn/todo-app/app-hands-on/auth.mdx
  docs/react-native/learn/todo-app/app-hands-on/auth_flows.png
  docs/react-native/learn/todo-app/app-hands-on/logout.png
  docs/sidebars.js
Labels: doc

#57 🖋️: ToDo一覧
  docs/react-native/learn/todo-app/app-hands-on/tab.mdx
  docs/react-native/learn/todo-app/app-hands-on/tab.png
  docs/react-native/learn/todo-app/app-hands-on/tab_navigation.png
  docs/react-native/learn/todo-app/app-hands-on/todo-board.mdx
  docs/react-native/learn/todo-app/app-hands-on/todo_board.png
  docs/react-native/learn/todo-app/app-hands-on/todo_components.png
  docs/sidebars.js
Labels: doc

#36 🖋️: 環境構築ガイドのマージとトラブルシューティングの追加
  docs/react-native/learn/getting-started/setting-up-development-environment.md
  docs/react-native/learn/getting-started/setting-up-development-environment.mdx
  docs/react-native/troubleshooting/react-native-cli-uninstall.md
  docs/sidebars.js
Labels: doc
