Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2021-10, with the labels that each got.

#456 🩹: サバイバルTypeScriptへのリンクを修正
  website/docs/react-native/learn/basic-concepts/pre-requisites.md
Labels: doc

#450 🖋: SantokuAppの開発環境構築ガイドを追加
  .idea/dictionaries/shared.xml
  website/docs/react-native/santoku/development.mdx
  website/docs/react-native/santoku/development/build-configuration/build-type-configurations.mdx
  website/docs/react-native/santoku/development/development-environment.mdx
  website/docs/react-native/santoku/development/development-environment/00.setting-up-environment.mdx
  website/docs/react-native/santoku/development/development-environment/01.basic-setup.mdx
  website/docs/react-native/santoku/development/development-environment/02.setting-up-ios-run-on-device.mdx
  website/docs/react-native/santoku/development/development-environment/03.setting-up-ios-advanced-run-on-device.mdx
  website/docs/react-native/santoku/development/development-environment/04.use-firebase.mdx
  website/docs/react-native/santoku/development/development-environment/10.setting-up-android-distribution-build.mdx
  website/docs/react-native/santoku/development/development-environment/11.setting-up-ios-distribution-build.mdx
  website/docs/react-native/santoku/development/development-environment/90.use-multiple-version-xcode.mdx
  website/docs/react-native/santoku/development/development-environment/99.other-tools.mdx
  website/docs/sidebars.js
Labels: chore, doc

#460 🌱: ビルドバリアントに応じたFirebaseの設定ファイルを使用するように変更
  example-app/SantokuApp/.gitignore
  example-app/SantokuApp/ios/SantokuApp.xcodeproj/xcshareddata/xcschemes/DevSantokuApp.xcscheme
  example-app/SantokuApp/ios/SantokuApp.xcodeproj/xcshareddata/xcschemes/SantokuApp.xcscheme
  example-app/SantokuApp/ios/SantokuApp/Supporting/GoogleService-Info.Dummy.plist
Labels: iOS, chore

#472 🔨: Debugの時は、Androidの難読化ファイルをCrashlyticsにアップロードしないようにする
  example-app/SantokuApp/android/app/build.gradle
Labels: Android

#476 🌱: アプリ起動後の初期化処理に、メッセージの取得処理を追加
  website/docs/react-native/santoku/application-architecture/life-cycle-management/initialization-flow.drawio.png
  website/docs/react-native/santoku/application-architecture/life-cycle-management/initialization.mdx
Labels: doc

#479 🌱: メッセージ管理の部品を追加
  example-app/SantokuApp/src/App.tsx
  example-app/SantokuApp/src/framework/index.ts
  example-app/SantokuApp/src/framework/message/BundledMessageLoader.ts
  example-app/SantokuApp/src/framework/message/Message.test.ts
  example-app/SantokuApp/src/framework/message/Message.ts
  example-app/SantokuApp/src/framework/message/index.ts
  example-app/SantokuApp/src/generated/BundledMessages.ts
  example-app/SantokuApp/src/navigation/DemoStackNav.tsx
  example-app/SantokuApp/src/screens/demo/DemoScreen.tsx
  example-app/SantokuApp/src/screens/demo/index.ts
  example-app/SantokuApp/src/screens/demo/message/MessageListItem.tsx
  example-app/SantokuApp/src/screens/demo/message/MessageScreen.tsx
  example-app/SantokuApp/src/screens/demo/message/MessageTemplate.tsx
  example-app/SantokuApp/src/screens/demo/message/index.ts
  example-app/SantokuApp/src/screens/demo/message/useMessage.tsx
Labels: app

#490 ⏪: ESLintの実行失敗の暫定対応
  example-app/SantokuApp/ios/Podfile.lock
  example-app/SantokuApp/package-lock.json
Labels: iOS, build

#486 📝: 画面一覧作成(サイクル１)
  website/docs/react-native/santoku.mdx
  website/docs/react-native/santoku/design.mdx
  website/docs/react-native/santoku/design/screen-list/overview.mdx
  website/docs/sidebars.js
Labels: doc

#495 📝: 画面遷移図作成(サイクル１)
  website/docs/react-native/santoku/design.mdx
  website/docs/react-native/santoku/design/screen-list/overview.mdx
  website/docs/react-native/santoku/design/screen-transitions/overview.mdx
  website/docs/react-native/santoku/design/screen-transitions/screen-transitions.drawio.png
  website/docs/sidebars.js
Labels: doc
