Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2021-12, with the labels that each got.

#644 🩹: Fix Apple OS names
  website/docs/react-native/santoku/requirements/non-functional/usability.mdx
Labels: doc

#645 🔨: Update Renovate settings to disable unnecessary update requests
  .github/renovate.json5
Labels: chore

#641 📝: サンプルアプリケーションの開発手法について記載
  website/docs/react-native/santoku.mdx
Labels: doc

#642 🐛: サインアップ後はアクティブアカウントIDをセキュアストレージに保存しないように修正
  example-app/SantokuApp/ios/Podfile.lock
  example-app/SantokuApp/src/framework/authentication/AuthenticationService.test.ts
  example-app/SantokuApp/src/framework/authentication/AuthenticationService.ts
Labels: iOS, app

#606 📝 :非機能要件「ユーザビリティ」「システム方式」「運用」「セキュリティ」「性能」を修正
  website/docs/react-native/santoku/requirements/non-functional/operation.mdx
  website/docs/react-native/santoku/requirements/non-functional/performance.mdx
  website/docs/react-native/santoku/requirements/non-functional/security.mdx
  website/docs/react-native/santoku/requirements/non-functional/system-method.mdx
  website/docs/react-native/santoku/requirements/non-functional/usability.mdx
  website/docs/react-native/santoku/requirements/requirements-images/out-range.drawio.png
  website/docs/react-native/santoku/requirements/requirements-images/support-range.drawio.png
Labels: doc

#646 🚩: リリースモードでもデモ画面を表示できるように変更
  example-app/SantokuApp/src/navigation/RootStackNav.tsx
  example-app/SantokuApp/src/screens/team/TeamDetailScreen.tsx
Labels: app

#655 ♻️: 認証部品のリファクタ
  example-app/SantokuApp/src/framework/authentication/AuthenticationService.test.ts
  example-app/SantokuApp/src/framework/authentication/AuthenticationService.ts
  example-app/SantokuApp/src/framework/authentication/index.ts
  example-app/SantokuApp/src/framework/index.ts
  example-app/SantokuApp/src/screens/demo/authentication/AuthenticationScreen.tsx
  example-app/SantokuApp/src/screens/demo/authentication/useAuthentication.tsx
Labels: app

#651 ✨: セキュアストレージに保存する際のオプションをWHEN_UNLOCKEDに変更
  example-app/SantokuApp/src/framework/authentication/SecureStorageAdapter.test.ts
  example-app/SantokuApp/src/framework/authentication/SecureStorageAdapter.ts
Labels: app

#656 🩹: iOSでアプリ起動時に警告メッセージが表示される事象の対応
  example-app/SantokuApp/ios/SantokuApp/AppDelegate.m
Labels: iOS

#659 🩹: typo SharedPreference -> SharedPreferences
  website/docs/reference/auth/manage-credentials.md
Labels: doc

#643 ✨: React Native Fetchの既知の問題検証用コード
  example-app/SantokuApp/src/navigation/DemoStackNav.tsx
  example-app/SantokuApp/src/screens/demo/DemoScreen.tsx
  example-app/SantokuApp/src/screens/demo/http-api/HttpApiScreen.tsx
  example-app/SantokuApp/src/screens/demo/http-api/index.ts
  example-app/SantokuApp/src/screens/demo/http-api/useHttpApi.tsx
  example-app/SantokuApp/src/screens/demo/index.ts
  example-app/santoku-app-backend/src/main/java/jp/fintan/mobile/santokuapp/presentation/restapi/sandbox/FetchTestAction.java
  example-app/santoku-app-backend/src/main/java/jp/fintan/mobile/santokuapp/system/nablarch/handler/LoginCheckHandler.java
Labels: app

#639 ✏️: 全体テスト計画の作成
  website/docs/react-native/santoku.mdx
  website/docs/react-native/santoku/requirements/non-functional/test-outline.mdx
  website/docs/react-native/santoku/test-planning.mdx
  website/docs/react-native/santoku/test-planning/test-all-planning.mdx
  website/docs/react-native/santoku/test-planning/test-variation.mdx
  website/docs/sidebars.js
Labels: doc

#654 📝: 認証機能の利用方法を追記
  website/docs/react-native/santoku/application-architecture/auth/login.mdx
  website/docs/react-native/santoku/application-architecture/auth/logout.mdx
  website/docs/react-native/santoku/application-architecture/auth/signup.mdx
Labels: doc

#652 📝: ADRに動作検証結果を反映＋α
  website/docs/react-native/santoku/decisions/adr-007-auth.mdx
Labels: doc

#663 🩹: Use relative paths for pod spec to keep checksum stable
  example-app/SantokuApp/ios/Podfile.lock
  example-app/SantokuApp/patches/README.md
  example-app/SantokuApp/patches/react-native+0.64.3.patch
Labels: iOS

#648 🌱: プッシュ通知のADRのうち、通知方式の選定に関する議論を追加
  website/docs/react-native/santoku/decisions.mdx
  website/docs/react-native/santoku/decisions/adr-008-push-notification.mdx
  website/docs/sidebars.js
Labels: doc

#662 📝: Landing Page更新（2021年12月分）
  website/docs/react-native/santoku.mdx
  website/docs/react-native/santoku/application-architecture.mdx
  website/docs/react-native/santoku/design.mdx
  website/docs/react-native/santoku/design/screen-specs/basic-policy.mdx
  website/docs/react-native/santoku/design/screen-specs/common-parts/webview/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/definitions/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/definitions/screen-type/overlay.mdx
  website/docs/react-native/santoku/design/screen-specs/definitions/screen-type/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/screens/overview.mdx
  website/docs/sidebars.js
  website/landing-page/react-native-example-app-architecture-description.md
Labels: doc

#661 🖋: Update React Native development environment setup instructions
  website/docs/react-native/learn/getting-started/create-project.md
  website/docs/react-native/learn/getting-started/launch-created-app.mdx
  website/docs/react-native/learn/getting-started/setting-up-development-environment.mdx
  website/docs/react-native/learn/getting-started/supplement.md
  website/docs/react-native/santoku/development/development-environment/90.use-multiple-version-xcode.mdx
  website/docs/sidebars.js
  website/docusaurus.config.js
Labels: doc

#666 🖋: Update SantokuApp development environment setting up instruction
  website/docs/react-native/santoku/development/development-environment/00.setting-up-environment.mdx
Labels: doc

#630 ✏️: 単体・結合テスト観点のページを切り出して追加
  website/docs/react-native/santoku/test-planning.mdx
  website/docs/react-native/santoku/test-planning/test-type/configuration-test.mdx
  website/docs/react-native/santoku/test-planning/test-type/functional-testing.mdx
  website/docs/react-native/santoku/test-planning/test-type/functional-testing/display-content.mdx
  website/docs/react-native/santoku/test-planning/test-type/functional-testing/layout-test.mdx
  website/docs/react-native/santoku/test-planning/test-type/functional-testing/operation-event.mdx
  website/docs/react-native/santoku/test-planning/test-type/functional-testing/security-test.mdx
  website/docs/react-native/santoku/test-planning/test-type/functional-testing/terminal-os.mdx
  website/docs/react-native/santoku/test-planning/test-type/functional-testing/use-case.mdx
  website/docs/react-native/santoku/test-planning/test-type/functional-testing/validation-check.mdx
  website/docs/react-native/santoku/test-planning/test-type/overview.mdx
  website/docs/react-native/santoku/test-planning/test-type/performance-test.mdx
  website/docs/sidebars.js
Labels: doc

#665 💄: Fix lint errors in the learning content
  website/docs/react-native/learn/todo-app/networking/activity-indicator-each-todo.mdx
  website/docs/react-native/learn/todo-app/networking/activity-indicator.mdx
  website/docs/react-native/learn/todo-app/screens/todo-board.mdx
  website/docs/react-native/learn/todo-app/screens/todo-form.mdx
  website/docs/react-native/learn/todo-app/screens/use-focus-effect.mdx
Labels: doc

#672 📝: 図、文章中のandroid表記を修正
  website/docs/react-native/santoku/design/screen-specs/definitions/screen-type/form-sheet.mdx
  website/docs/react-native/santoku/requirements/requirements-images/out-range.drawio.png
  website/docs/react-native/santoku/requirements/requirements-images/support-range.drawio.png
Labels: doc

#675 ✏️: テスト観点の名称を修正
  website/docs/react-native/santoku/test-planning/test-type/functional-testing/operation-event.mdx
Labels: doc

#679 ✏️: 誤字修正
  website/docs/react-native/santoku/application-architecture/auth/credential-management.mdx
Labels: doc

#674 ✏️: 工程名称と情報セキュリティに関する事項の名称を修正
  website/docs/react-native/santoku/requirements/non-functional/test-outline.mdx
Labels: doc

#681 ✏️: バックエンドAPIの保護についての記載を削除
  website/docs/react-native/santoku/requirements/functional/overview.mdx
Labels: doc

#682 ✏️: システム構成に関するページを追加
  website/docs/react-native/santoku/application-architecture.mdx
  website/docs/react-native/santoku/application-architecture/system-configuration/local-system-configuration.drawio.png
  website/docs/react-native/santoku/application-architecture/system-configuration/overview.md
  website/docs/react-native/santoku/application-architecture/system-configuration/system-configuration.drawio.png
  website/docs/sidebars.js
Labels: doc

#683 ✏️: ボタンのインジケータ表示の用途に関する注釈を追加
  website/docs/react-native/santoku/design/screen-specs/common-parts/button/overview.mdx
Labels: doc

#676 ✏️: LPのコンテンツ紹介項を修正
  website/landing-page/react-native-example-app-architecture-description.md
Labels: doc

#680 ✏️: テスト観点の例やその他の表現の統一と誤字の修正
  website/docs/react-native/santoku/test-planning/test-type/functional-testing/display-content.mdx
  website/docs/react-native/santoku/test-planning/test-type/functional-testing/layout-test.mdx
  website/docs/react-native/santoku/test-planning/test-type/functional-testing/operation-event.mdx
  website/docs/react-native/santoku/test-planning/test-type/functional-testing/terminal-os.mdx
  website/docs/react-native/santoku/test-planning/test-type/functional-testing/use-case.mdx
  website/docs/react-native/santoku/test-planning/test-type/functional-testing/validation-check.mdx
Labels: doc

#677 ✏️: 画面仕様の基本方針に、利用規約未同意時のエラーハンドリングについて記載
  .github/workflows/gh-pages.yaml
  website/.htmltest.yaml
  website/docs/react-native/santoku/design/screen-specs/basic-policy.mdx
Labels: ci, doc

#687 ✏️: 非機能要件ページの表現および誤字修正
  website/docs/react-native/santoku/requirements/non-functional/test-outline.mdx
  website/docs/react-native/santoku/requirements/non-functional/usability.mdx
Labels: doc

#678 ✏️: バックエンドのテスト対象範囲の修正と連携するサービスの修正
  website/docs/react-native/santoku/requirements/non-functional/test-outline.mdx
  website/docs/react-native/santoku/test-planning/test-all-planning.mdx
Labels: doc

#686 ✏️: 表記が必要な商標を追加
  website/src/pages/trademark.md
Labels: doc

#684 ✏️: スプラッシュスクリーンと利用規約画面の画面設計に利用するAPIに関する説明を追加
  example-app/api-document/openapi.yaml
  website/.htmltest.yaml
  website/.textlintrc.js
  website/docs/react-native/santoku/design/screen-specs/basic-policy.mdx
  website/docs/react-native/santoku/design/screen-specs/common-parts/button/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/common-parts/snackbar/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/common-parts/webview/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/screens/_template.mdx
  website/docs/react-native/santoku/design/screen-specs/screens/common/bottom-tab/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/screens/splash-screen/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/screens/terms-of-service-agreement/layout.drawio.png
  website/docs/react-native/santoku/design/screen-specs/screens/terms-of-service-agreement/overview.mdx
Labels: doc

#691 🚑: スナックバーがアンマウントされない事象の対応
  example-app/SantokuApp/src/components/snackbar/Snackbar.test.tsx
  example-app/SantokuApp/src/components/snackbar/Snackbar.tsx
  example-app/SantokuApp/src/components/snackbar/__snapshots__/Snackbar.test.tsx.snap
Labels: app, test

#689 📝: 第三者レビュー指摘対応（認証ADR）
  website/docs/react-native/santoku/decisions.mdx
  website/docs/react-native/santoku/decisions/adr-007-auth.mdx
Labels: doc

#668 📝: プッシュ通知の残りのADRの作成
  website/docs/react-native/santoku/decisions.mdx
  website/docs/react-native/santoku/decisions/adr-008-push-notification.mdx
  website/docs/react-native/santoku/decisions/adr-009-push-notification-fcm.mdx
  website/docs/react-native/santoku/decisions/adr-010-push-notification-contents.mdx
  website/docs/sidebars.js
Labels: doc

#692 💄: iOSでWebViewのデフォルトスクロール減速が速すぎたので、少し遅くなるように変更
  example-app/SantokuApp/src/__snapshots__/App.test.tsx.snap
  example-app/SantokuApp/src/components/webview/WebView.tsx
  example-app/SantokuApp/src/components/webview/__snapshots__/WebView.test.tsx.snap
  example-app/SantokuApp/src/screens/account/__snapshots__/TermsOfServiceAgreementScreen.test.tsx.snap
Labels: app

#657 📝: 単体テスト計画作成
  website/docs/react-native/santoku/development/test.mdx
  website/docs/react-native/santoku/development/test/create-emulator-simulator.mdx
  website/docs/react-native/santoku/test-planning.mdx
  website/docs/react-native/santoku/test-planning/test-all-planning.mdx
  website/docs/react-native/santoku/test-planning/test-variation.mdx
  website/docs/react-native/santoku/test-planning/ut-planning.mdx
  website/docs/react-native/santoku/test-planning/ut-reconfirmation-flow.drawio.png
  website/docs/sidebars.js
Labels: doc

#696 🚑: 学習コンテンツのToDo一覧画面のhtmlリンク切れ対応
  website/docs/react-native/learn/todo-app/screens/todo-board.mdx
Labels: doc

#694 📝: 方式設計の認証と単体テストを更新履歴としてLPに追加
  website/landing-page/react-native-example-app-architecture-description.md
Labels: doc

#701 📝: 第三者レビュー指摘対応（認証方式）
  website/docs/react-native/santoku/application-architecture/auth/credential-management.mdx
  website/docs/react-native/santoku/application-architecture/auth/local-auth.mdx
  website/docs/react-native/santoku/application-architecture/auth/login.mdx
  website/docs/react-native/santoku/application-architecture/auth/logout.mdx
  website/docs/react-native/santoku/application-architecture/auth/overview.mdx
  website/docs/react-native/santoku/application-architecture/auth/signup.mdx
  website/docs/react-native/santoku/decisions/adr-007-auth.mdx
Labels: doc

#697 🧑‍💻: デバッグメニューからデモ画面へ遷移
  example-app/SantokuApp/src/App.test.tsx
  example-app/SantokuApp/src/navigation/RootStackNav.tsx
Labels: app, test

#698 ♻️: コンテキストの生成処理とカスタムフックを共通化
  example-app/SantokuApp/src/components/initialize/InitializeContext.tsx
  example-app/SantokuApp/src/components/initialize/index.ts
  example-app/SantokuApp/src/components/snackbar/WithSnackbar.tsx
  example-app/SantokuApp/src/components/theme/AppThemeContext.test.tsx
  example-app/SantokuApp/src/components/theme/AppThemeContext.tsx
  example-app/SantokuApp/src/components/theme/index.ts
  example-app/SantokuApp/src/components/theme/useAppTheme.test.tsx
  example-app/SantokuApp/src/components/theme/useAppTheme.ts
  example-app/SantokuApp/src/framework/utilities/context.ts
  example-app/SantokuApp/src/framework/utilities/index.ts
  example-app/SantokuApp/src/screens/account/TermsOfServiceAgreementScreen.test.tsx
Labels: app, test

#695 📝: LPの改善案
  website/landing-page/app-distribution-lp.md
  website/landing-page/learn-react-native-lp.md
  website/landing-page/push-notification-guide-lp.md
  website/landing-page/reference-lp.md
Labels: doc

#704 📝: テスト計画の第三者レビュー指摘反映、LPリンク切れ修正
  website/docs/react-native/santoku/test-planning/test-all-planning.mdx
  website/landing-page/react-native-example-app-architecture-description.md
Labels: doc

#708 🩹: 認証デモ内の不要なHooksのdependenciesを削除
  example-app/SantokuApp/src/screens/demo/authentication/useAuthentication.tsx
Labels: app

#707 🩹: ランダム値の偏りをなくすように修正
  example-app/SantokuApp/src/framework/utilities/id.test.ts
  example-app/SantokuApp/src/framework/utilities/id.ts
Labels: app

#706 🩹: Githubページで発生する404対応
  website/docs/react-native/santoku/application-architecture/auth/credential-management.mdx
  website/docs/react-native/santoku/application-architecture/logging-app/logging.mdx
  website/docs/react-native/santoku/application-architecture/logging-app/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/basic-policy.mdx
Labels: doc

#705 📝: 第三者レビュー指摘対応（追加分）
  website/docs/react-native/santoku/application-architecture/auth/signup.mdx
  website/docs/react-native/santoku/decisions/adr-007-auth.mdx
Labels: doc

#700 ♻️: ReactNavigationの型を活用
  example-app/SantokuApp/src/@types/react-navigation.d.ts
  example-app/SantokuApp/src/components/initialize/InitializeContext.tsx
  example-app/SantokuApp/src/components/initialize/initialize.ts
  example-app/SantokuApp/src/navigation/AuthenticatedStackNav.tsx
  example-app/SantokuApp/src/navigation/DemoStackNav.tsx
  example-app/SantokuApp/src/navigation/HomeStackNav.tsx
  example-app/SantokuApp/src/navigation/MainTabNav.tsx
  example-app/SantokuApp/src/navigation/RootStackNav.tsx
  example-app/SantokuApp/src/navigation/TeamStackNav.tsx
  example-app/SantokuApp/src/navigation/types.ts
  example-app/SantokuApp/src/screens/account/TermsOfServiceAgreementScreen.test.tsx
  example-app/SantokuApp/src/screens/account/TermsOfServiceAgreementScreen.tsx
  example-app/SantokuApp/src/screens/demo/DemoScreen.tsx
  example-app/SantokuApp/src/screens/demo/app-state/AppStateScreen.tsx
  example-app/SantokuApp/src/screens/demo/authentication/AuthenticationScreen.tsx
  example-app/SantokuApp/src/screens/demo/button/ButtonScreen.tsx
  example-app/SantokuApp/src/screens/demo/config/ConfigScreen.tsx
  example-app/SantokuApp/src/screens/demo/error/ErrorCaseScreen.tsx
  example-app/SantokuApp/src/screens/demo/error/ErrorInEventHandlerScreen.tsx
  example-app/SantokuApp/src/screens/demo/error/ErrorInNativeModuleScreen.tsx
  example-app/SantokuApp/src/screens/demo/error/ErrorInReactComponentScreen.tsx
  example-app/SantokuApp/src/screens/demo/error/ErrorInUseEffectAsyncProcessScreen.tsx
  example-app/SantokuApp/src/screens/demo/error/ErrorInUseEffectScreen.tsx
  example-app/SantokuApp/src/screens/demo/error/ErrorInUseEffectSyncProcessScreen.tsx
  example-app/SantokuApp/src/screens/demo/http-api/HttpApiScreen.tsx
  example-app/SantokuApp/src/screens/demo/index.ts
  example-app/SantokuApp/src/screens/demo/info/AppInfoScreen.tsx
  example-app/SantokuApp/src/screens/demo/instructions/InstructionsScreen.tsx
  example-app/SantokuApp/src/screens/demo/local-authn/LocalAuthenticationScreen.tsx
  example-app/SantokuApp/src/screens/demo/log/LogScreen.tsx
  example-app/SantokuApp/src/screens/demo/message/MessageScreen.tsx
  example-app/SantokuApp/src/screens/demo/navigation/NavigationScreen.tsx
  example-app/SantokuApp/src/screens/demo/navigation/index.ts
  example-app/SantokuApp/src/screens/demo/snackbar/SnackbarScreen.tsx
  example-app/SantokuApp/src/screens/home/HomeScreen.test.tsx
  example-app/SantokuApp/src/screens/home/HomeScreen.tsx
  example-app/SantokuApp/src/screens/team/TeamDetailScreen.tsx
  example-app/SantokuApp/src/screens/useNavigateToScreen.ts
Labels: app, test
