Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2021-11, with the labels that each got.

#516 ⬆: Bump tool versions
  .azure-pipelines/deploy.yaml
  .github/workflows/app.yaml
  .github/workflows/delete-deploygate-distribution-pages.yaml
  .github/workflows/gh-pages-deploy.yaml
  .github/workflows/gh-pages.yaml
  .idea/dictionaries/shared.xml
  .tool-versions
  example-app/SantokuApp/package-lock.json
  website/package-lock.json
Labels: build, chore, ci, doc

#514 🔀: example-app-cycle1にmasterの更新を取り込み
  .azure-pipelines/deploy-all.yaml
  .azure-pipelines/deploy-devSantokuAppDebugAdvanced.yaml
  .azure-pipelines/deploy-devSantokuAppReleaseInHouse.yaml
  .azure-pipelines/deploy-santokuAppDebugAdvanced.yaml
  .azure-pipelines/deploy-santokuAppReleaseInHouse.yaml
  .azure-pipelines/deploy.yaml
  .github/workflows/app.yaml
  .github/workflows/delete-deploygate-distribution-pages.yaml
  .github/workflows/gh-pages-deploy.yaml
  .github/workflows/gh-pages.yaml
  .idea/dictionaries/shared.xml
  .tool-versions
  example-app/SantokuApp/Gemfile.lock
  example-app/SantokuApp/ios/Podfile.lock
  example-app/SantokuApp/ios/SantokuApp.xcodeproj/project.pbxproj
  example-app/SantokuApp/jest/__mocks__/@react-navigation/native.ts
  example-app/SantokuApp/jest/types/global.d.ts
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/src/@types/react-navigation.d.ts
  example-app/SantokuApp/src/__snapshots__/App.test.tsx.snap
  example-app/SantokuApp/src/navigation/DemoStackNav.tsx
  example-app/SantokuApp/src/navigation/RootStackNav.tsx
  example-app/SantokuApp/src/screens/demo/DemoScreen.tsx
  website/.stylelintrc.js
  website/package-lock.json
  website/package.json
  website/src/css/custom.css
Labels: iOS, app, build, chore, ci, doc, test

#512 ✨: Landing Page（2021/11/24公開予定）
  website/docs/react-native/santoku.mdx
  website/landing-page/react-native-example-app-architecture-description.md
Labels: doc

#524 📌: expo-randomをrenovateの管理対象から除外
  .github/renovate.json5
Labels: chore

#511 📝: サンプルアプリの非機能要件「性能に関する事項」を追加
  website/docs/react-native/santoku/requirements/non-functional/overview.mdx
  website/docs/react-native/santoku/requirements/non-functional/performance.mdx
  website/docs/sidebars.js
Labels: doc

#509 📝: サンプルアプリの用語集を追加
  website/docs/react-native/santoku.mdx
  website/docs/react-native/santoku/glossary.mdx
  website/docs/sidebars.js
Labels: doc

#527 🚀: サイクル１の画面準備と画面遷移
  example-app/SantokuApp/src/App.test.tsx
  example-app/SantokuApp/src/__snapshots__/App.test.tsx.snap
  example-app/SantokuApp/src/navigation/AuthenticatedStackNav.tsx
  example-app/SantokuApp/src/navigation/HomeStackNav.tsx
  example-app/SantokuApp/src/navigation/MainTabNav.tsx
  example-app/SantokuApp/src/navigation/RootStackNav.tsx
  example-app/SantokuApp/src/navigation/TeamStackNav.tsx
  example-app/SantokuApp/src/screens/account/TermsOfServiceAgreementScreen.tsx
  example-app/SantokuApp/src/screens/account/index.ts
  example-app/SantokuApp/src/screens/home/HomeScreen.test.tsx
  example-app/SantokuApp/src/screens/home/HomeScreen.tsx
  example-app/SantokuApp/src/screens/home/HomeTemplate.tsx
  example-app/SantokuApp/src/screens/home/__snapshots__/HomeScreen.test.tsx.snap
  example-app/SantokuApp/src/screens/index.ts
  example-app/SantokuApp/src/screens/team/TeamDetailScreen.tsx
  example-app/SantokuApp/src/screens/team/index.ts
  example-app/SantokuApp/src/screens/useNavigateToScreen.ts
Labels: app, test

#515 ✅: サイクル1で実現予定の機能にチェックを追加
  website/docs/react-native/santoku/requirements/functional/overview.mdx
Labels: doc

#528 📝: コンテキスト設計のドキュメント作成
  website/docs/react-native/santoku/design.mdx
  website/docs/react-native/santoku/design/context/overview.mdx
  website/docs/react-native/santoku/design/context/theme.mdx
  website/docs/sidebars.js
Labels: doc

#531 ✨: 認証のADRを追加
  website/docs/react-native/santoku/decisions.mdx
  website/docs/react-native/santoku/decisions/adr-007-auth.mdx
  website/docs/sidebars.js
Labels: doc

#547 🔀: example-app-cycle1にmasterをマージ
  .github/renovate.json5
  .idea/dictionaries/shared.xml
  example-app/SantokuApp/ios/Podfile.lock
  example-app/SantokuApp/jest/__mocks__/expo-random.ts
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/src/App.tsx
  example-app/SantokuApp/src/framework/logging/ConsoleTransport.test.ts
  example-app/SantokuApp/src/framework/logging/ConsoleTransport.ts
  example-app/SantokuApp/src/framework/logging/FirebaseCrashlyticsTransport.test.ts
  example-app/SantokuApp/src/framework/logging/FirebaseCrashlyticsTransport.ts
  example-app/SantokuApp/src/framework/logging/Logger.test.ts
  example-app/SantokuApp/src/framework/logging/Logger.ts
  example-app/SantokuApp/src/framework/logging/SimpleLogFormatter.test.ts
  example-app/SantokuApp/src/framework/logging/SimpleLogFormatter.ts
  example-app/SantokuApp/src/framework/logging/Transport.ts
  example-app/SantokuApp/src/framework/logging/index.ts
  example-app/SantokuApp/src/framework/message/Message.test.ts
  example-app/SantokuApp/src/framework/utilities/id.test.ts
  example-app/SantokuApp/src/framework/utilities/id.ts
  example-app/SantokuApp/src/navigation/DemoStackNav.tsx
  example-app/SantokuApp/src/screens/demo/DemoScreen.tsx
  example-app/SantokuApp/src/screens/demo/index.ts
  example-app/SantokuApp/src/screens/demo/log/LogScreen.tsx
  example-app/SantokuApp/src/screens/demo/log/LogTemplate.tsx
  example-app/SantokuApp/src/screens/demo/log/index.ts
  example-app/SantokuApp/src/screens/demo/log/useLog.tsx
  website/docs/react-native/santoku.mdx
  website/docs/react-native/santoku/application-architecture.mdx
  website/docs/react-native/santoku/application-architecture/error-handling/how-to-handle-error.mdx
  website/docs/react-native/santoku/application-architecture/life-cycle-management/initialization-flow.drawio.png
  website/docs/react-native/santoku/application-architecture/life-cycle-management/initialization.mdx
  website/docs/react-native/santoku/application-architecture/logging-app/log-overview.drawio.png
  website/docs/react-native/santoku/application-architecture/logging-app/logging.mdx
  website/docs/react-native/santoku/application-architecture/logging-app/overview.mdx
  website/docs/react-native/santoku/decisions.mdx
  website/docs/react-native/santoku/decisions/adr-006-logging.mdx
  website/docs/react-native/santoku/development/design.mdx
  website/docs/react-native/santoku/development/design/logs.mdx
  website/docs/react-native/santoku/development/implement/logs-implementation.mdx
  website/docs/sidebars.js
  website/landing-page/react-native-example-app-architecture-description.md
  website/package-lock.json
Labels: iOS, app, build, chore, doc, test

#551 📝: サンプルアプリの非機能要件「運用に関する事項」を追加
  website/docs/react-native/santoku/requirements/non-functional/operation.mdx
  website/docs/react-native/santoku/requirements/non-functional/overview.mdx
  website/docs/sidebars.js
Labels: doc

#539 📝:サンプルアプリの非機能要件「上位互換性に関する事項」を追加
  website/docs/react-native/santoku/requirements/non-functional/compatibility.mdx
  website/docs/react-native/santoku/requirements/non-functional/overview.mdx
  website/docs/sidebars.js
Labels: doc

#540 📝: サンプルアプリの非機能要件「セキュリティに関する事項」を追加
  website/docs/react-native/santoku/requirements/non-functional/overview.mdx
  website/docs/react-native/santoku/requirements/non-functional/security.mdx
  website/docs/sidebars.js
Labels: doc

#543 ✨: テーマコンテキストのコンポーネント実装
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/src/App.tsx
  example-app/SantokuApp/src/__snapshots__/App.test.tsx.snap
  example-app/SantokuApp/src/components/theme/AppTheme.ts
  example-app/SantokuApp/src/components/theme/AppThemeContext.test.tsx
  example-app/SantokuApp/src/components/theme/AppThemeContext.tsx
  example-app/SantokuApp/src/components/theme/ReactNativeElementsTheme.ts
  example-app/SantokuApp/src/components/theme/__snapshots__/AppThemeContext.test.tsx.snap
  example-app/SantokuApp/src/components/theme/index.ts
  example-app/SantokuApp/src/components/theme/useAppTheme.test.tsx
  example-app/SantokuApp/src/components/theme/useAppTheme.ts
  website/docs/react-native/santoku/design/context/theme.mdx
Labels: app, build, doc, test

#538 ✨: スナックバーの共通コンポーネント追加
  example-app/SantokuApp/ios/Podfile.lock
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/src/App.tsx
  example-app/SantokuApp/src/components/snackbar/FullWindowOverlay.tsx
  example-app/SantokuApp/src/components/snackbar/Snackbar.tsx
  example-app/SantokuApp/src/components/snackbar/WithSnackbar.tsx
  example-app/SantokuApp/src/components/snackbar/index.ts
  example-app/SantokuApp/src/navigation/DemoStackNav.tsx
  example-app/SantokuApp/src/screens/demo/DemoScreen.tsx
  example-app/SantokuApp/src/screens/demo/index.ts
  example-app/SantokuApp/src/screens/demo/snackbar/SnackbarScreen.tsx
  example-app/SantokuApp/src/screens/demo/snackbar/SnackbarTemplate.tsx
  example-app/SantokuApp/src/screens/demo/snackbar/index.ts
  example-app/SantokuApp/src/screens/demo/snackbar/useSnackbarDemo.tsx
Labels: iOS, app, build

#561 🚀: サイクル１のプロトタイプ実装
  example-app/SantokuApp/.env.development
  example-app/SantokuApp/.env.production
  example-app/SantokuApp/ios/Podfile.lock
  example-app/SantokuApp/jest/__mocks__/react-native-config.ts
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/src/App.test.tsx
  example-app/SantokuApp/src/App.tsx
  example-app/SantokuApp/src/__snapshots__/App.test.tsx.snap
  example-app/SantokuApp/src/components/button/Button.tsx
  example-app/SantokuApp/src/components/webview/WebView.tsx
  example-app/SantokuApp/src/framework/config/AppConfig.ts
  example-app/SantokuApp/src/generated/BundledMessages.ts
  example-app/SantokuApp/src/navigation/DemoStackNav.tsx
  example-app/SantokuApp/src/navigation/MainTabNav.tsx
  example-app/SantokuApp/src/navigation/RootStackNav.tsx
  example-app/SantokuApp/src/screens/account/TermsOfServiceAgreementScreen.test.tsx
  example-app/SantokuApp/src/screens/account/TermsOfServiceAgreementScreen.tsx
  example-app/SantokuApp/src/screens/account/__snapshots__/TermsOfServiceAgreementScreen.test.tsx.snap
  example-app/SantokuApp/src/screens/demo/DemoScreen.tsx
  example-app/SantokuApp/src/screens/demo/button/ButtonScreen.tsx
  example-app/SantokuApp/src/screens/demo/button/index.ts
  example-app/SantokuApp/src/screens/demo/index.ts
  example-app/SantokuApp/src/screens/demo/message/useMessage.tsx
  example-app/SantokuApp/src/screens/team/TeamDetailScreen.tsx
Labels: iOS, app, build, test

#575 ✨: ログ出力のADR内の誤字を修正
  website/docs/react-native/santoku/decisions/adr-006-logging.mdx
Labels: doc

#565 ✨: ログ出力の開発ガイドで、表現の微修正、Windows環境を考慮したコマンドの記載に対応
  website/docs/react-native/santoku/development/implement/logs-implementation.mdx
Labels: doc

#564 ✨: ログ管理の方式設計内の表記ゆれを修正
  website/docs/react-native/santoku/application-architecture/logging-app/overview.mdx
Labels: doc

#563 ✨: ログ出力のADRで、決定事項に対する理由がわかりづらかった点の改善や、誤字の修正
  website/docs/react-native/santoku/decisions/adr-006-logging.mdx
Labels: doc

#559 📝: メッセージ管理のADRにメッセージの管理場所に関する議論を追加
  website/docs/react-native/santoku/decisions/adr-005-message.mdx
Labels: doc

#558 📝: 環境切り替えの開発ガイドで読みづらかった部分を修正
  website/docs/react-native/santoku/development/implement/app-launch-with-build-variants.mdx
Labels: doc

#521 ✏️:共通部品WebViewの画面設計を追加
  website/docs/react-native/santoku/application-architecture/webview/webview-error-handling.mdx
  website/docs/react-native/santoku/design.mdx
  website/docs/react-native/santoku/design/message-list/overview.mdx
  website/docs/react-native/santoku/design/screen-list/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/common-parts/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/common-parts/webview/layout.drawio.png
  website/docs/react-native/santoku/design/screen-specs/common-parts/webview/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/overview.mdx
  website/docs/sidebars.js
Labels: doc

#549 ✏️: 画面共通部：ボトムタブの画面設計を追加
  website/docs/react-native/santoku/design/screen-specs/screens/common/bottom-tab/layout.drawio.png
  website/docs/react-native/santoku/design/screen-specs/screens/common/bottom-tab/overview.mdx
  website/docs/sidebars.js
Labels: doc

#560 ✨: メッセージ取得時に、同じプレースホルダが複数存在した場合は、全て置換するように変更
  example-app/SantokuApp/src/framework/message/Message.test.ts
  example-app/SantokuApp/src/framework/message/Message.ts
Labels: app

#550 ✏️: 画面：スプラッシュスクリーンの画面設計を追加
  website/docs/react-native/santoku/design/screen-specs/message-list.mdx
  website/docs/react-native/santoku/design/screen-specs/screens/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/screens/splash-screen/layout.drawio.png
  website/docs/react-native/santoku/design/screen-specs/screens/splash-screen/overview.mdx
  website/docs/sidebars.js
Labels: doc

#582 🔨: テスト用のスクリプト追加
  example-app/SantokuApp/.gitignore
  example-app/SantokuApp/package.json
Labels: build, chore

#578 ✏️: Google Playの商標を追記
  website/src/pages/trademark.md
Labels: doc

#541 📝: サンプルアプリの非機能要件「その他事項」を追加
  website/docs/react-native/santoku/requirements/non-functional/other.mdx
  website/docs/react-native/santoku/requirements/non-functional/overview.mdx
  website/docs/sidebars.js
Labels: doc

#590 🎨: 各画面のヘッダタイトルをMessageLoaderから取得するように変更
  example-app/SantokuApp/src/screens/account/TermsOfServiceAgreementScreen.tsx
  example-app/SantokuApp/src/screens/home/HomeScreen.tsx
  example-app/SantokuApp/src/screens/team/TeamDetailScreen.tsx
Labels: app

#535 ✏️: 共通部品：スナックバーの画面設計を追加
  website/docs/react-native/santoku/design/message-list/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/common-parts/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/common-parts/snackbar/layout.drawio.png
  website/docs/react-native/santoku/design/screen-specs/common-parts/snackbar/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/message-list.mdx
  website/docs/sidebars.js
Labels: doc

#591 ✏️: 概要に非機能要件の前提を追加。目次にアプリの簡単な説明を追加
  website/docs/react-native/santoku/requirements.mdx
  website/docs/react-native/santoku/requirements/non-functional/other.mdx
  website/docs/react-native/santoku/requirements/non-functional/overview.mdx
Labels: doc

#592 ✨: 共通コンポーネント、最新の画面設計を取り込み
  example-app/SantokuApp/src/components/button/Button.tsx
  example-app/SantokuApp/src/components/snackbar/Snackbar.tsx
  example-app/SantokuApp/src/components/snackbar/WithSnackbar.tsx
  example-app/SantokuApp/src/components/theme/AppTheme.ts
  example-app/SantokuApp/src/components/webview/WebView.tsx
  example-app/SantokuApp/src/generated/BundledMessages.ts
  example-app/SantokuApp/src/screens/demo/button/ButtonScreen.tsx
  example-app/SantokuApp/src/screens/demo/snackbar/SnackbarScreen.tsx
  example-app/SantokuApp/src/screens/demo/snackbar/SnackbarTemplate.tsx
  example-app/SantokuApp/src/screens/demo/snackbar/useSnackbarDemo.tsx
Labels: app

#593 ✏️: 画面：画面一覧と目次の修正
  website/docs/react-native/santoku/design/screen-list/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/common-parts/button/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/common-parts/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/common-parts/webview/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/screens/common/bottom-tab/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/screens/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/screens/terms-of-service-agreement/overview.mdx
Labels: doc

#580 ✨: 初期化処理を集約したコンテキストの実装
  example-app/SantokuApp/src/App.test.tsx
  example-app/SantokuApp/src/App.tsx
  example-app/SantokuApp/src/components/initialize/InitializeContext.test.tsx
  example-app/SantokuApp/src/components/initialize/InitializeContext.tsx
  example-app/SantokuApp/src/components/initialize/__snapshots__/InitializeContext.test.tsx.snap
  example-app/SantokuApp/src/components/initialize/index.ts
  example-app/SantokuApp/src/components/initialize/initialize.test.ts
  example-app/SantokuApp/src/components/initialize/initialize.ts
  example-app/SantokuApp/src/navigation/AuthenticatedStackNav.tsx
  example-app/SantokuApp/src/navigation/HomeStackNav.tsx
  example-app/SantokuApp/src/navigation/MainTabNav.tsx
  example-app/SantokuApp/src/navigation/RootStackNav.tsx
  example-app/SantokuApp/src/navigation/TeamStackNav.tsx
  example-app/SantokuApp/src/screens/account/TermsOfServiceAgreementScreen.test.tsx
  example-app/SantokuApp/src/screens/account/TermsOfServiceAgreementScreen.tsx
  example-app/SantokuApp/src/screens/account/__snapshots__/TermsOfServiceAgreementScreen.test.tsx.snap
Labels: app, test

#594 📝 :非機能要件ユーザビリティ・上位互換・その他項目の修正
  website/docs/react-native/santoku/requirements/non-functional/compatibility.mdx
  website/docs/react-native/santoku/requirements/non-functional/maintenance.mdx
  website/docs/react-native/santoku/requirements/non-functional/other.mdx
  website/docs/react-native/santoku/requirements/non-functional/overview.mdx
  website/docs/react-native/santoku/requirements/non-functional/usability.mdx
  website/docs/sidebars.js
Labels: doc

#542 🌱: ローカル認証（生体認証）の部品の追加
  .github/renovate.json5
  example-app/SantokuApp/android/app/src/main/java/jp/fintan/mobile/santokuapp/generated/BasePackageList.java
  example-app/SantokuApp/ios/Podfile.lock
  example-app/SantokuApp/ios/SantokuApp/Debug.plist
  example-app/SantokuApp/ios/SantokuApp/Info.plist
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/src/framework/index.ts
  example-app/SantokuApp/src/framework/local-authentication/LocalAuthentication.test.ts
  example-app/SantokuApp/src/framework/local-authentication/LocalAuthentication.ts
  example-app/SantokuApp/src/framework/local-authentication/index.ts
  example-app/SantokuApp/src/navigation/DemoStackNav.tsx
  example-app/SantokuApp/src/screens/demo/DemoScreen.tsx
  example-app/SantokuApp/src/screens/demo/index.ts
  example-app/SantokuApp/src/screens/demo/local-authn/LocalAuthenticationScreen.tsx
  example-app/SantokuApp/src/screens/demo/local-authn/index.ts
  example-app/SantokuApp/src/screens/demo/local-authn/useLocalAuthentication.tsx
Labels: iOS, Android, app, build, chore

#579 🌱: 認証部品の追加
  .github/renovate.json5
  .idea/dictionaries/shared.xml
  README.md
  example-app/SantokuApp/.env.development
  example-app/SantokuApp/.env.production
  example-app/SantokuApp/android/app/src/main/java/jp/fintan/mobile/santokuapp/generated/BasePackageList.java
  example-app/SantokuApp/index.js
  example-app/SantokuApp/ios/Podfile.lock
  example-app/SantokuApp/jest/__mocks__/expo-crypto.ts
  example-app/SantokuApp/jest/__mocks__/expo-secure-store.ts
  example-app/SantokuApp/openapitools.json
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/src/components/initialize/initialize.ts
  example-app/SantokuApp/src/framework/authentication/AuthenticationService.test.ts
  example-app/SantokuApp/src/framework/authentication/AuthenticationService.ts
  example-app/SantokuApp/src/framework/authentication/SecureStorageAdapter.test.ts
  example-app/SantokuApp/src/framework/authentication/SecureStorageAdapter.ts
  example-app/SantokuApp/src/framework/authentication/index.ts
  example-app/SantokuApp/src/framework/backend/ApiClient.ts
  example-app/SantokuApp/src/framework/backend/index.ts
  example-app/SantokuApp/src/framework/config/AppConfig.ts
  example-app/SantokuApp/src/framework/error/ApplicationError.ts
  example-app/SantokuApp/src/framework/index.ts
  example-app/SantokuApp/src/framework/utilities/crypto.test.ts
  example-app/SantokuApp/src/framework/utilities/crypto.ts
  example-app/SantokuApp/src/framework/utilities/id.test.ts
  example-app/SantokuApp/src/framework/utilities/id.ts
  example-app/SantokuApp/src/framework/utilities/index.ts
  example-app/SantokuApp/src/generated/api/.gitignore
  example-app/SantokuApp/src/generated/api/.npmignore
  example-app/SantokuApp/src/generated/api/.openapi-generator-ignore
  example-app/SantokuApp/src/generated/api/.openapi-generator/FILES
  example-app/SantokuApp/src/generated/api/.openapi-generator/VERSION
  example-app/SantokuApp/src/generated/api/api.ts
  example-app/SantokuApp/src/generated/api/base.ts
  example-app/SantokuApp/src/generated/api/common.ts
  example-app/SantokuApp/src/generated/api/configuration.ts
  example-app/SantokuApp/src/generated/api/git_push.sh
  example-app/SantokuApp/src/generated/api/index.ts
  example-app/SantokuApp/src/navigation/DemoStackNav.tsx
  example-app/SantokuApp/src/screens/demo/DemoScreen.tsx
  example-app/SantokuApp/src/screens/demo/authentication/AuthenticationScreen.tsx
  example-app/SantokuApp/src/screens/demo/authentication/index.ts
  example-app/SantokuApp/src/screens/demo/authentication/useAuthentication.tsx
  example-app/SantokuApp/src/screens/demo/index.ts
  example-app/SantokuApp/src/screens/demo/log/useLog.tsx
  example-app/api-document/openapi.yaml
Labels: iOS, Android, app, build, chore, test

#548 ✏️: テストに関する事項の内容の見直しと修正
  website/docs/react-native/santoku/requirements/non-functional/test-outline.mdx
Labels: doc

#562 ⬆: Upgrade Expo SDK to 43
  .azure-pipelines/deploy.yaml
  .github/renovate.json5
  example-app/SantokuApp/.gitattributes
  example-app/SantokuApp/.gitignore
  example-app/SantokuApp/.prettierrc.js
  example-app/SantokuApp/android/app/build.gradle
  example-app/SantokuApp/android/app/proguard-rules.pro
  example-app/SantokuApp/android/app/src/main/AndroidManifest.xml
  example-app/SantokuApp/android/app/src/main/java/jp/fintan/mobile/santokuapp/AppActivity.java
  example-app/SantokuApp/android/app/src/main/java/jp/fintan/mobile/santokuapp/MainApplication.java
  example-app/SantokuApp/android/app/src/main/java/jp/fintan/mobile/santokuapp/generated/BasePackageList.java
  example-app/SantokuApp/android/app/src/main/res/values/strings.xml
  example-app/SantokuApp/android/app/src/main/res/values/styles.xml
  example-app/SantokuApp/android/build.gradle
  example-app/SantokuApp/android/gradle.properties
  example-app/SantokuApp/android/gradle/wrapper/gradle-wrapper.jar
  example-app/SantokuApp/android/gradle/wrapper/gradle-wrapper.properties
  example-app/SantokuApp/android/gradlew
  example-app/SantokuApp/android/gradlew.bat
  example-app/SantokuApp/android/settings.gradle
  example-app/SantokuApp/ios/Podfile
  example-app/SantokuApp/ios/Podfile.lock
  example-app/SantokuApp/ios/Podfile.properties.json
  example-app/SantokuApp/ios/SantokuApp.xcodeproj/project.pbxproj
  example-app/SantokuApp/ios/SantokuApp.xcodeproj/xcshareddata/xcschemes/DevSantokuApp.xcscheme
  example-app/SantokuApp/ios/SantokuApp.xcodeproj/xcshareddata/xcschemes/SantokuApp.xcscheme
  example-app/SantokuApp/ios/SantokuApp/AppDelegate.h
  example-app/SantokuApp/ios/SantokuApp/AppDelegate.m
  example-app/SantokuApp/ios/SantokuApp/Base.lproj/LaunchScreen.xib
  example-app/SantokuApp/ios/SantokuApp/Supporting/Expo.plist
  example-app/SantokuApp/jest/__mocks__/@react-native-firebase/crashlytics.ts
  example-app/SantokuApp/jest/__mocks__/@react-navigation/native.ts
  example-app/SantokuApp/jest/__mocks__/expo-random.ts
  example-app/SantokuApp/jest/__mocks__/expo-splash-screen.ts
  example-app/SantokuApp/jest/setup/react-navigation.js
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/patches/@react-native-community+cli-platform-ios+5.0.2.patch
  example-app/SantokuApp/patches/README.md
  example-app/SantokuApp/patches/expo-constants+11.0.2.patch
  example-app/SantokuApp/patches/expo-splash-screen+0.13.5.patch
  example-app/SantokuApp/patches/expo-updates+0.8.5.patch
  example-app/SantokuApp/src/components/button/Button.tsx
  example-app/SantokuApp/src/components/initialize/InitializeContext.tsx
  example-app/SantokuApp/src/components/initialize/initialize.test.ts
  example-app/SantokuApp/src/components/initialize/initialize.ts
  example-app/SantokuApp/src/components/snackbar/Snackbar.tsx
  example-app/SantokuApp/src/components/snackbar/WithSnackbar.tsx
  example-app/SantokuApp/src/framework/backend/ApiClient.ts
  example-app/SantokuApp/src/framework/error/ApplicationError.ts
  example-app/SantokuApp/src/framework/logging/Logger.ts
  example-app/SantokuApp/src/framework/message/BundledMessageLoader.ts
  example-app/SantokuApp/src/framework/message/Message.test.ts
  example-app/SantokuApp/src/framework/utilities/id.test.ts
  example-app/SantokuApp/src/navigation/RootStackNav.tsx
  example-app/SantokuApp/src/screens/demo/app-state/useAppStateHistory.ts
  example-app/SantokuApp/src/screens/demo/authentication/AuthenticationScreen.tsx
  website/docs/react-native/santoku/development/development-environment/00.setting-up-environment.mdx
  website/docs/react-native/santoku/development/development-environment/90.use-multiple-version-xcode.mdx
Labels: iOS, Android, app, build, chore, doc, test

#633 📌: santoku-app-backendをRenovateの対象から除外
  .github/renovate.json5
Labels: chore

#631 ✅: 共通コンポーネントのテスト
  example-app/SantokuApp/jest/__mocks__/react-native-screens.js
  example-app/SantokuApp/src/components/button/Button.test.tsx
  example-app/SantokuApp/src/components/button/__snapshots__/Button.test.tsx.snap
  example-app/SantokuApp/src/components/snackbar/FullWindowOverlay.test.tsx
  example-app/SantokuApp/src/components/snackbar/FullWindowOverlay.tsx
  example-app/SantokuApp/src/components/snackbar/Snackbar.test.tsx
  example-app/SantokuApp/src/components/snackbar/Snackbar.tsx
  example-app/SantokuApp/src/components/snackbar/WithSnackbar.test.tsx
  example-app/SantokuApp/src/components/snackbar/__snapshots__/FullWindowOverlay.test.tsx.snap
  example-app/SantokuApp/src/components/snackbar/__snapshots__/Snackbar.test.tsx.snap
  example-app/SantokuApp/src/components/snackbar/__snapshots__/WithSnackbar.test.tsx.snap
  example-app/SantokuApp/src/components/webview/WebView.test.tsx
  example-app/SantokuApp/src/components/webview/__snapshots__/WebView.test.tsx.snap
Labels: app, test
