Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2021-03, with the labels that each got.

#60 🚨: Fix EditorConfig max line length setting
  .editorconfig
  .idea/codeStyles/Project.xml
  src/pages/index.tsx
Labels: chore, doc

#58 🖋️: タスク登録画面
  docs/react-native/learn/todo-app/app-hands-on/modal.mdx
  docs/react-native/learn/todo-app/app-hands-on/modal.png
  docs/react-native/learn/todo-app/app-hands-on/todo-form.mdx
  docs/react-native/learn/todo-app/app-hands-on/todo-form.png
  docs/react-native/learn/todo-app/app-hands-on/todo_form_navigation.png
  docs/react-native/learn/todo-app/app-hands-on/use-focus-effect.mdx
  docs/sidebars.js
Labels: doc

#59 🌱: BackendのAPIの呼び出し
  santoku-app/.env
  santoku-app/src/app/AppConfig.ts
  santoku-app/src/app/backend/notification/PushNotificationService.ts
  santoku-app/src/app/components/pages/notification/PushNotification.tsx
  santoku-app/src/app/components/parts/notification/DeviseTokenNotificationForm.tsx
  santoku-app/src/app/components/parts/notification/TopicNotificationForm.tsx
Labels: app

#61 🖋️: 共通部品化とロゴ作成
  docs/react-native/learn/todo-app/app-hands-on/basic-components.mdx
  docs/react-native/learn/todo-app/app-hands-on/logo.mdx
  docs/react-native/learn/todo-app/app-hands-on/logo.png
  docs/react-native/learn/todo-app/app-hands-on/welcome_with_logo.png
  docs/sidebars.js
Labels: doc

#62 🖋️: 演習課題
  docs/react-native/learn/todo-app/app-hands-on/exercise.mdx
  docs/sidebars.js
Labels: doc

#64 目次構成変更／ファイル移動とそれに伴う修正
  docs/react-native/learn/todo-app/alert.mdx
  docs/react-native/learn/todo-app/app-hands-on.md
  docs/react-native/learn/todo-app/auth.mdx
  docs/react-native/learn/todo-app/basic-components.mdx
  docs/react-native/learn/todo-app/exercise.mdx
  docs/react-native/learn/todo-app/keyboard-avoiding-view.mdx
  docs/react-native/learn/todo-app/login.mdx
  docs/react-native/learn/todo-app/logo.mdx
  docs/react-native/learn/todo-app/modal.mdx
  docs/react-native/learn/todo-app/navigation-hook.mdx
  docs/react-native/learn/todo-app/split-navigation.mdx
  docs/react-native/learn/todo-app/tab.mdx
  docs/react-native/learn/todo-app/todo-board.mdx
  docs/react-native/learn/todo-app/todo-form.mdx
  docs/react-native/learn/todo-app/use-focus-effect.mdx
  docs/react-native/learn/todo-app/welcome.mdx
  docs/sidebars.js
Labels: doc

#72 トラブルシュートに導線はった
  docs/react-native/learn/getting-started/setting-up-development-environment.mdx
Labels: doc

#65 RN-Spoilerのハンズオン用タグ指定
  docs/react-native/learn/getting-started/create-project.md
Labels: doc

#80 Fix/issues
  docs/react-native/learn/todo-app/auth.mdx
  docs/react-native/learn/todo-app/basic-components.mdx
  docs/react-native/learn/todo-app/login.mdx
  docs/react-native/learn/todo-app/logo.mdx
  docs/react-native/learn/todo-app/modal.mdx
  docs/react-native/learn/todo-app/navigation-hook.mdx
  docs/react-native/learn/todo-app/split-navigation.mdx
  docs/react-native/learn/todo-app/tab.mdx
  docs/react-native/learn/todo-app/todo-board.mdx
  docs/react-native/learn/todo-app/todo-form.mdx
  docs/react-native/learn/todo-app/welcome.mdx
Labels: doc

#63 通知メッセージを表示するようにする
  santoku-app/index.js
  santoku-app/ios/Podfile
  santoku-app/ios/Podfile.lock
  santoku-app/src/app/backend/notification/PushNotificationService.ts
  santoku-app/src/app/components/pages/notification/PushNotification.tsx
  santoku-app/src/app/components/parts/notification/FormInput.tsx
  santoku-app/src/app/components/parts/notification/TopicNotificationForm.tsx
Labels: app, iOS

#83 android のリリース用IDについている.release suffixを除去
  santoku-app/android/app/build.gradle
Labels: Android

#88 🐛: リンク切れの修正
  docs/react-native/learn/getting-started/create-project.md
Labels: doc

#86 🐛: 不要な判定を削除してアプリが処理できない場合はユーザーに通知する
  santoku-app/src/app/components/parts/notification/DeviseTokenNotificationForm.tsx
  santoku-app/src/app/components/parts/notification/TopicNotificationForm.tsx
Labels: app

#90 🔧: Xcodeのビルド設定を更新（npx pod install）
  santoku-app/ios/SantokuApp.xcodeproj/project.pbxproj
Labels: iOS

#93 🚨: Fix textlint errors
  .idea/dictionaries/ryotan.xml
  santoku-app-backend/README.md
Labels: chore

#96 🐛 deviceのtypoを修正
  santoku-app/src/app/components/pages/notification/PushNotification.tsx
  santoku-app/src/app/components/parts/notification/DeviceTokenNotificationForm.tsx
  santoku-app/src/app/components/parts/notification/TopicNotificationForm.tsx
Labels: app

#94 🌱: Add expo-local-authentication
  santoku-app/android/app/src/main/java/jp/fintan/mobile/santokuapp/generated/BasePackageList.java
  santoku-app/ios/Podfile
  santoku-app/ios/Podfile.lock
  santoku-app/ios/SantokuApp/Info.plist
  santoku-app/package-lock.json
  santoku-app/package.json
  santoku-app/src/app/components/pages/auth/StatelessAuth.tsx
Labels: Android, app, build, iOS

#97 ドキュメントの実装に合わせる
  santoku-app/src/app/components/pages/notification/PushNotification.tsx
Labels: app

#99 🖋: 不要なガイドページの削除（リンク含む）
  docs/sidebars.js
  docusaurus.config.js
  src/pages/index.tsx
  src/pages/styles.module.css
Labels: doc

#95 🖋: プッシュ通知開発ガイドの追加
  docs/reference/notification/backend.md
  docs/reference/notification/client.md
  docs/reference/notification/configuration.md
  docs/reference/notification/infrastructure.md
  docs/reference/notification/overview.md
  docs/sidebars.js
Labels: doc

#100 🖋: OpenID Connectと端末認証を用いたモバイルアプリケーションとバックエンドサービスの認証方式
  docs/reference/auth/authn-flowchart.svg
  docs/reference/auth/authn-sequence-1.svg
  docs/reference/auth/authn-sequence-2.svg
  docs/reference/auth/authn-with-backend-using-OIDC-and-device-authn-architecture.svg
  docs/reference/auth/authn-with-backend-using-OIDC-and-device-authn.md
  docs/reference/auth/overview.md
  docs/reference/auth/service-application-system-architecture-using-authn-service.svg
  docs/reference/auth/web-application-system-architecture.svg
  docs/sidebars.js
  docusaurus.config.js
Labels: doc

#105 サイドバーのタイトルを概要からOverviewに変更し、Overviewのタイトルは全体のタイトルへ
  docs/react-native/learn/getting-started.mdx
  docs/reference/auth/overview.md
  docs/reference/notification/overview.md
Labels: doc

#101 🌱: IdTokenを用いたバックエンド認証機能の追加
  santoku-app/ios/Podfile.lock
  santoku-app/src/app/backend/BackendAuthnService.ts
  santoku-app/src/app/backend/authn/backend/BackendAuthenticationState.ts
  santoku-app/src/app/backend/authn/backend/BackendAuthenticationUsingIdTokenUseCase.ts
  santoku-app/src/app/backend/authn/oidc/SecureStorageAdapter.ts
  santoku-app/src/app/components/pages/DrawerContent.tsx
  santoku-app/src/app/components/pages/Navigator.tsx
  santoku-app/src/app/components/pages/auth/StatelessAuth.tsx
  santoku-app/src/app/components/pages/backendauth/BackendAuth.tsx
  santoku-app/src/app/components/parts/WithBackendAuthContext.tsx
  santoku-app/src/app/context/BackendAuthContext.tsx
Labels: app, iOS

#102 🖋: 商標登録のやつ書いた
  src/pages/trademark.md
Labels: doc

#108 🖋: 不要な句点を削除
  docs/react-native/troubleshooting/cant-build-in-xcode.md
Labels: doc

#110 🌱: GitHub Actionsはpull request targetにするように修正
  .github/workflows/app.yaml
  .github/workflows/gh-pages.yaml
Labels: ci
