Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2022-08, with the labels that each got.

#914 📝: Fix README
  example-app/SantokuApp/.attachments/stereotype.drawio.png
  example-app/SantokuApp/README.md
Labels: doc

#913 🐛: Fixed problems around accounts.
  example-app/SantokuApp/src/apps/app/navigators/RootStackNav.tsx
  example-app/SantokuApp/src/features/account/pages/ProfileRegistrationPage.tsx
  example-app/SantokuApp/src/features/account/services/account/useAccountCommands.ts
  example-app/SantokuApp/src/features/account/services/auth/autoLogin.test.tsx
  example-app/SantokuApp/src/features/account/services/auth/autoLogin.ts
  example-app/SantokuApp/src/features/account/services/auth/changeAccount.test.tsx
  example-app/SantokuApp/src/features/account/services/auth/changeAccount.ts
  example-app/SantokuApp/src/features/account/services/auth/login.ts
  example-app/SantokuApp/src/features/account/services/auth/signup.test.tsx
  example-app/SantokuApp/src/features/account/services/auth/signup.ts
  example-app/SantokuApp/src/features/account/services/auth/useAuthCommands.ts
  example-app/SantokuApp/src/features/app-updates/components/AppUpdatesChecker.tsx
  example-app/SantokuApp/src/features/app-updates/services/useAppUpdates.ts
  example-app/SantokuApp/src/features/demo-authentication/pages/AuthenticationPage.tsx
  example-app/SantokuApp/src/features/terms/use-cases/useOnAgree.ts
  example-app/SantokuApp/src/fixtures/msw/handlers/account/postSignup.ts
Labels: app, test

#916 🚨: Fix unused import
  example-app/SantokuApp/src/features/account/services/auth/autoLogin.test.tsx
  example-app/SantokuApp/src/features/account/services/auth/changeAccount.test.tsx
Labels: app, test

#915 ✨: Add feature modules for qa app
  example-app/SantokuApp/src/apps/app/__snapshots__/App.test.tsx.snap
  example-app/SantokuApp/src/apps/app/navigators/AuthenticatedStackNav.tsx
  example-app/SantokuApp/src/apps/app/navigators/HomeStackNav.tsx
  example-app/SantokuApp/src/apps/app/navigators/QuestionAndEventPostStackNav.tsx
  example-app/SantokuApp/src/apps/app/navigators/RootStackNav.tsx
  example-app/SantokuApp/src/apps/app/navigators/types.ts
  example-app/SantokuApp/src/apps/app/screens/home/HomeScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/qa-home/HomeScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/qa-post/QuestionAndEventPostScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/qa-question/QuestionDetailScreen.tsx
  example-app/SantokuApp/src/bases/message/BundledMessages.ts
  example-app/SantokuApp/src/features/home/pages/__snapshots__/HomePage.test.tsx.snap
  example-app/SantokuApp/src/features/qa-event/components/EventList.tsx
  example-app/SantokuApp/src/features/qa-home/pages/HomePage.test.tsx
  example-app/SantokuApp/src/features/qa-home/pages/HomePage.tsx
  example-app/SantokuApp/src/features/qa-home/pages/__snapshots__/HomePage.test.tsx.snap
  example-app/SantokuApp/src/features/qa-home/services/useRequestPermissionAndRegisterToken.ts
  example-app/SantokuApp/src/features/qa-post/pages/QuestionAndEventPostPage.tsx
  example-app/SantokuApp/src/features/qa-question/components/QuestionList.tsx
  example-app/SantokuApp/src/features/qa-question/pages/QuestionDetailPage.tsx
Labels: app, test

#920 💄: Add bases ui for qa app
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/src/bases/ui/common/StyledSvgIconBase.tsx
  example-app/SantokuApp/src/bases/ui/common/index.tsx
  example-app/SantokuApp/src/bases/ui/fab/Fab.tsx
  example-app/SantokuApp/src/bases/ui/illustration/PersonIllustration.tsx
  example-app/SantokuApp/src/bases/ui/theme/AppThemeProvider.tsx
  example-app/SantokuApp/src/bases/ui/theme/restyleTheme.ts
Labels: app, build

#895 📝: Add push notification demo design
  website/docs/react-native/santoku/design/demo/overview.mdx
  website/docs/react-native/santoku/design/demo/push-notification/android-app-settings.png
  website/docs/react-native/santoku/design/demo/push-notification/android-background-emergency-channel.png
  website/docs/react-native/santoku/design/demo/push-notification/android-background-high-channel.png
  website/docs/react-native/santoku/design/demo/push-notification/android-foreground.png
  website/docs/react-native/santoku/design/demo/push-notification/android-push-notification-settings.png
  website/docs/react-native/santoku/design/demo/push-notification/ios-app-settings.png
  website/docs/react-native/santoku/design/demo/push-notification/ios-background.png
  website/docs/react-native/santoku/design/demo/push-notification/ios-foreground.png
  website/docs/react-native/santoku/design/demo/push-notification/ios-permission-dialog.png
  website/docs/react-native/santoku/design/demo/push-notification/ios-push-notification-settings.png
  website/docs/react-native/santoku/design/demo/push-notification/overview.mdx
  website/docs/sidebars.js
Labels: doc

#896 ✨: Add push notification channels to display heads-up notifications
  example-app/SantokuApp/.env.development
  example-app/SantokuApp/.env.production
  example-app/SantokuApp/firebase.json
  example-app/SantokuApp/ios/Podfile.lock
  example-app/SantokuApp/jest/__mocks__/@notifee/react-native.ts
  example-app/SantokuApp/jest/types/global.d.ts
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/src/apps/app/services/createMessagingChannels.ts
  example-app/SantokuApp/src/apps/app/services/initializeFirebaseCrashlyticsAsync.ts
  example-app/SantokuApp/src/apps/app/use-cases/useAppInitialize.ts
  example-app/SantokuApp/src/bases/core/config/AppConfig.ts
  example-app/SantokuApp/src/features/demo-github-link/components/SpecAndSourceCodeLink.tsx
  example-app/SantokuApp/src/features/demo-push-notification/pages/PushNotificationPage.tsx
  example-app/SantokuApp/src/features/demo-push-notification/services/notifyMessageToAll.ts
  example-app/SantokuApp/src/features/demo-push-notification/services/notifyMessageToMe.ts
  example-app/SantokuApp/src/features/demo-push-notification/services/requestUserPermission.ts
  example-app/santoku-app-backend/src/main/java/jp/fintan/mobile/santokuapp/domain/model/notification/PushNotification.java
  example-app/santoku-app-backend/src/main/java/jp/fintan/mobile/santokuapp/domain/model/notification/PushNotificationChannelId.java
  example-app/santoku-app-backend/src/main/java/jp/fintan/mobile/santokuapp/infrastructure/service/FcmPushNotifier.java
  example-app/santoku-app-backend/src/main/java/jp/fintan/mobile/santokuapp/sandbox/presentation/restapi/PushNotificationTestAction.java
Labels: iOS, app, build, test

#898 📝: Add adr about heads-up notifications
  website/docs/react-native/santoku/decisions.mdx
  website/docs/react-native/santoku/decisions/adr-015-android-head-up-notification.mdx
  website/docs/sidebars.js
Labels: doc

#907 📝: Add ad about notification channels
  website/docs/react-native/santoku/application-architecture/life-cycle-management/initialization-flow.drawio.png
  website/docs/react-native/santoku/application-architecture/life-cycle-management/initialization.mdx
  website/docs/react-native/santoku/application-architecture/push-notification/overview.mdx
  website/docs/react-native/santoku/application-architecture/push-notification/register-notification-channels.mdx
  website/docs/react-native/santoku/application-architecture/push-notification/send-push-notification.drawio.png
  website/docs/react-native/santoku/application-architecture/push-notification/send-push-notification.mdx
  website/docs/sidebars.js
Labels: doc
