Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2022-04, with the labels that each got.

#808 🩹: Refine ESLint config
  example-app/SantokuApp/.eslintignore
  example-app/SantokuApp/.eslintrc.js
Labels: build

#813 🚑: .eslintrc.jsにreact-hooks/recommendedを追加
  example-app/SantokuApp/.eslintrc.js
Labels: build

#812 ➕: Renovateで管理しているReact Navigationの各種パッケージの更新タイミングを合わせるように変更
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
Labels: build

#809 🐛: Snackbarが意図せず再表示されてしまう事象の対応
  example-app/SantokuApp/src/components/overlay/snackbar/Snackbar.test.tsx
  example-app/SantokuApp/src/components/overlay/snackbar/Snackbar.tsx
  example-app/SantokuApp/src/components/overlay/snackbar/WithSnackbar.tsx
Labels: app, test

#814 🐛: WebViewのページロード完了の判定が正しくない事象の対応
  example-app/SantokuApp/src/__snapshots__/App.test.tsx.snap
  example-app/SantokuApp/src/components/webview/WebView.test.tsx
  example-app/SantokuApp/src/components/webview/WebView.tsx
  example-app/SantokuApp/src/components/webview/__snapshots__/WebView.test.tsx.snap
  example-app/SantokuApp/src/screens/account/__snapshots__/TermsOfServiceAgreementScreen.test.tsx.snap
Labels: app, test

#787 ⬆️: Upgrade Expo SDK to 44
  .azure-pipelines/deploy.yaml
  .github/renovate.json5
  .github/workflows/app.yaml
  .github/workflows/gh-pages.yaml
  .idea/codeStyles/Project.xml
  .idea/dictionaries/shared.xml
  .idea/encodings.xml
  .idea/inspectionProfiles/Project_Default.xml
  .tool-versions
  example-app/SantokuApp/.script/internals/task-executor.js
  example-app/SantokuApp/.script/jobs/build-and-run-all-variants-macos.js
  example-app/SantokuApp/.script/jobs/reset-cache-macos.js
  example-app/SantokuApp/Gemfile
  example-app/SantokuApp/Gemfile.lock
  example-app/SantokuApp/android/app/build.gradle
  example-app/SantokuApp/android/app/src/main/java/jp/fintan/mobile/santokuapp/AppActivity.java
  example-app/SantokuApp/android/app/src/main/res/drawable/splashscreen.xml
  example-app/SantokuApp/android/app/src/main/res/values/colors.xml
  example-app/SantokuApp/android/app/src/main/res/values/styles.xml
  example-app/SantokuApp/fastlane/README.md
  example-app/SantokuApp/ios/Podfile
  example-app/SantokuApp/ios/Podfile.lock
  example-app/SantokuApp/ios/SantokuApp/AppDelegate.m
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/patches/expo-splash-screen+0.14.2.patch
  example-app/SantokuApp/src/App.tsx
  example-app/SantokuApp/src/__snapshots__/App.test.tsx.snap
Labels: iOS, Android, app, build, chore, ci

#800 ✨: アプリアップデートのフロントエンド実装
  example-app/SantokuApp/.env.development
  example-app/SantokuApp/.env.production
  example-app/SantokuApp/jest/__mocks__/react-native-config.ts
  example-app/SantokuApp/src/App.test.tsx
  example-app/SantokuApp/src/AppWithInitialization.tsx
  example-app/SantokuApp/src/components/reactQuery/useDefaultCache.ts
  example-app/SantokuApp/src/components/reactQuery/useDefaultGlobalMutationErrorHandler.test.tsx
  example-app/SantokuApp/src/components/reactQuery/useDefaultGlobalMutationErrorHandler.tsx
  example-app/SantokuApp/src/components/reactQuery/useDefaultGlobalQueryErrorHandler.test.tsx
  example-app/SantokuApp/src/components/reactQuery/useDefaultGlobalQueryErrorHandler.tsx
  example-app/SantokuApp/src/framework/backend/refreshCsrfToken.test.ts
  example-app/SantokuApp/src/framework/backend/refreshCsrfToken.ts
  example-app/SantokuApp/src/framework/backend/refreshSession.test.ts
  example-app/SantokuApp/src/framework/config/AppConfig.test.ts
  example-app/SantokuApp/src/framework/config/AppConfig.ts
  example-app/SantokuApp/src/framework/error/ApplicationError.test.ts
  example-app/SantokuApp/src/framework/error/ApplicationError.ts
  example-app/SantokuApp/src/framework/error/resolveErrorMessage.test.ts
  example-app/SantokuApp/src/framework/error/resolveErrorMessage.ts
  example-app/SantokuApp/src/framework/error/sendErrorLog.test.ts
  example-app/SantokuApp/src/framework/error/sendErrorLog.ts
  example-app/SantokuApp/src/framework/error/useDefaultGlobalErrorHandler.test.tsx
  example-app/SantokuApp/src/framework/error/useDefaultGlobalErrorHandler.ts
  example-app/SantokuApp/src/framework/initialize/helpers/index.ts
  example-app/SantokuApp/src/framework/initialize/helpers/initialDataError.ts
  example-app/SantokuApp/src/framework/initialize/helpers/updateRequired.test.ts
  example-app/SantokuApp/src/framework/initialize/helpers/updateRequired.ts
  example-app/SantokuApp/src/framework/initialize/useAppInitializer.ts
  example-app/SantokuApp/src/generated/BundledMessages.ts
  example-app/SantokuApp/src/generated/backend/model/appUpdatesResponse.ts
  example-app/SantokuApp/src/generated/backend/model/index.ts
  example-app/SantokuApp/src/generated/backend/system/system.ts
  example-app/SantokuApp/src/generated/sandbox/model/index.ts
  example-app/SantokuApp/src/service/backend/systemService.ts
  example-app/api-document/openapi.yaml
  example-app/santoku-app-backend/src/main/java/jp/fintan/mobile/santokuapp/domain/model/system/AppUpdates.java
  example-app/santoku-app-backend/src/main/java/jp/fintan/mobile/santokuapp/presentation/restapi/system/AppUpdatesAction.java
  example-app/santoku-app-backend/src/main/resources/db/migration/V2_1__insert_data.sql
  example-app/santoku-app-backend/src/test/java/jp/fintan/mobile/santokuapp/domain/model/system/AppUpdatesTest.java
Labels: app, test

#816 ✨: 強制アプリアップデート
  example-app/SantokuApp/.env.development
  example-app/SantokuApp/.env.production
  example-app/SantokuApp/jest/__mocks__/react-native-config.ts
  example-app/SantokuApp/src/App.test.tsx
  example-app/SantokuApp/src/AppWithInitialization.tsx
  example-app/SantokuApp/src/components/reactQuery/useDefaultCache.ts
  example-app/SantokuApp/src/components/reactQuery/useDefaultGlobalMutationErrorHandler.test.tsx
  example-app/SantokuApp/src/components/reactQuery/useDefaultGlobalMutationErrorHandler.tsx
  example-app/SantokuApp/src/components/reactQuery/useDefaultGlobalQueryErrorHandler.test.tsx
  example-app/SantokuApp/src/components/reactQuery/useDefaultGlobalQueryErrorHandler.tsx
  example-app/SantokuApp/src/framework/backend/refreshCsrfToken.test.ts
  example-app/SantokuApp/src/framework/backend/refreshCsrfToken.ts
  example-app/SantokuApp/src/framework/backend/refreshSession.test.ts
  example-app/SantokuApp/src/framework/config/AppConfig.test.ts
  example-app/SantokuApp/src/framework/config/AppConfig.ts
  example-app/SantokuApp/src/framework/error/ApplicationError.test.ts
  example-app/SantokuApp/src/framework/error/ApplicationError.ts
  example-app/SantokuApp/src/framework/error/resolveErrorMessage.test.ts
  example-app/SantokuApp/src/framework/error/resolveErrorMessage.ts
  example-app/SantokuApp/src/framework/error/sendErrorLog.test.ts
  example-app/SantokuApp/src/framework/error/sendErrorLog.ts
  example-app/SantokuApp/src/framework/error/useDefaultGlobalErrorHandler.test.tsx
  example-app/SantokuApp/src/framework/error/useDefaultGlobalErrorHandler.ts
  example-app/SantokuApp/src/framework/initialize/helpers/index.ts
  example-app/SantokuApp/src/framework/initialize/helpers/initialDataError.ts
  example-app/SantokuApp/src/framework/initialize/helpers/updateRequired.test.ts
  example-app/SantokuApp/src/framework/initialize/helpers/updateRequired.ts
  example-app/SantokuApp/src/framework/initialize/useAppInitializer.ts
  example-app/SantokuApp/src/generated/BundledMessages.ts
  example-app/SantokuApp/src/generated/backend/model/appUpdatesResponse.ts
  example-app/SantokuApp/src/generated/backend/model/index.ts
  example-app/SantokuApp/src/generated/backend/system/system.ts
  example-app/SantokuApp/src/generated/sandbox/model/index.ts
  example-app/SantokuApp/src/service/backend/systemService.ts
  example-app/api-document/openapi.yaml
  example-app/santoku-app-backend/pom.xml
  example-app/santoku-app-backend/src/main/java/jp/fintan/mobile/santokuapp/application/InvalidAppVersionException.java
  example-app/santoku-app-backend/src/main/java/jp/fintan/mobile/santokuapp/application/service/system/AppUpdatesService.java
  example-app/santoku-app-backend/src/main/java/jp/fintan/mobile/santokuapp/domain/model/system/AppSupportedVersion.java
  example-app/santoku-app-backend/src/main/java/jp/fintan/mobile/santokuapp/domain/model/system/AppType.java
  example-app/santoku-app-backend/src/main/java/jp/fintan/mobile/santokuapp/domain/model/system/AppUpdates.java
  example-app/santoku-app-backend/src/main/java/jp/fintan/mobile/santokuapp/domain/model/system/AppVersion.java
  example-app/santoku-app-backend/src/main/java/jp/fintan/mobile/santokuapp/domain/model/system/UpdateMessage.java
  example-app/santoku-app-backend/src/main/java/jp/fintan/mobile/santokuapp/domain/repository/AppSupportedVersionRepository.java
  example-app/santoku-app-backend/src/main/java/jp/fintan/mobile/santokuapp/infrastructure/persistence/AppSupportedVersionDataSource.java
  example-app/santoku-app-backend/src/main/java/jp/fintan/mobile/santokuapp/infrastructure/persistence/entity/AppSupportedVersionEntity.java
  example-app/santoku-app-backend/src/main/java/jp/fintan/mobile/santokuapp/presentation/restapi/system/AppUpdatesAction.java
  example-app/santoku-app-backend/src/main/java/jp/fintan/mobile/santokuapp/presentation/restapi/system/CsrfTokenAction.java
  example-app/santoku-app-backend/src/main/java/jp/fintan/mobile/santokuapp/system/nablarch/handler/LoginCheckHandler.java
  example-app/santoku-app-backend/src/main/java/jp/fintan/mobile/santokuapp/system/nablarch/handler/RestApiErrorResponseHandler.java
  example-app/santoku-app-backend/src/main/resources/db/migration/V2_0__create_table.sql
  example-app/santoku-app-backend/src/main/resources/db/migration/V2_1__insert_data.sql
  example-app/santoku-app-backend/src/main/resources/messages.properties
  example-app/santoku-app-backend/src/test/java/jp/fintan/mobile/santokuapp/domain/model/system/AppSupportedVersionTest.java
  example-app/santoku-app-backend/src/test/java/jp/fintan/mobile/santokuapp/domain/model/system/AppTypeTest.java
  example-app/santoku-app-backend/src/test/java/jp/fintan/mobile/santokuapp/domain/model/system/AppUpdatesTest.java
  example-app/santoku-app-backend/src/test/java/jp/fintan/mobile/santokuapp/domain/model/system/AppVersionTest.java
  example-app/santoku-app-backend/src/test/java/jp/fintan/mobile/santokuapp/domain/model/system/UpdateMessageTest.java
  example-app/santoku-app-backend/src/test/java/jp/fintan/mobile/santokuapp/presentation/restapi/system/CsrfTokenActionIT.java
Labels: app, test

#817 🔧: In Jest testing, suppress warning log by React Query
  example-app/SantokuApp/jest.config.js
  example-app/SantokuApp/jest/setup/react-query.js
Labels: test

#818 🚑: Fix broken aspect ratio of images in Tab
  website/src/css/custom.css
Labels: doc

#822 🚑: Fix wrong option name to run Android variant
  website/docs/react-native/santoku/development/build-configuration/build-variants.mdx
Labels: doc

#823 🚑: Align the version of the iOS Release build with the others
  example-app/SantokuApp/ios/SantokuApp/Info.plist
Labels: iOS

#820 💄: Enable React Native Reanimated v2 module
  example-app/SantokuApp/android/app/proguard-rules.pro
  example-app/SantokuApp/babel.config.js
  example-app/SantokuApp/jest.config.js
  example-app/SantokuApp/jest/setup/react-native-gesture-handler.js
  example-app/SantokuApp/jest/setup/react-native-reanimated.js
  example-app/SantokuApp/jest/setup/react-native.js
  example-app/SantokuApp/jest/setup/react-navigation.js
  example-app/SantokuApp/src/@types/react-native-reanimated-jest-util.d.ts
Labels: Android, app, build, test

#825 🔨: Change JavaScript language level to Flow (IntelliJ IDEA)
  .idea/misc.xml
Labels: chore

#826 ✨: アプリ起動後の初期化処理に認証機能を追加、利用規約の同意処理を追加
  example-app/SantokuApp/ios/Podfile.lock
  example-app/SantokuApp/jest/__mocks__/@react-native-async-storage/async-storage.js
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/src/App.test.tsx
  example-app/SantokuApp/src/AppWithInitialization.tsx
  example-app/SantokuApp/src/context/WithAccountContext.test.tsx
  example-app/SantokuApp/src/context/WithAccountContext.tsx
  example-app/SantokuApp/src/context/__snapshots__/WithAccountContext.test.tsx.snap
  example-app/SantokuApp/src/context/useAccountContext.ts
  example-app/SantokuApp/src/context/useSetAccountContext.ts
  example-app/SantokuApp/src/framework/authentication/AuthenticationService.ts
  example-app/SantokuApp/src/framework/authentication/UnauthorizedError.ts
  example-app/SantokuApp/src/framework/authentication/index.ts
  example-app/SantokuApp/src/framework/error/useDefaultGlobalErrorHandler.test.tsx
  example-app/SantokuApp/src/framework/initialize/helpers/autoLogin.ts
  example-app/SantokuApp/src/framework/initialize/helpers/initialData.test.ts
  example-app/SantokuApp/src/framework/initialize/helpers/initialData.ts
  example-app/SantokuApp/src/framework/initialize/types.ts
  example-app/SantokuApp/src/framework/initialize/useAppInitializer.ts
  example-app/SantokuApp/src/generated/BundledMessages.ts
  example-app/SantokuApp/src/navigation/RootStackNav.tsx
  example-app/SantokuApp/src/navigation/types.ts
  example-app/SantokuApp/src/screens/account/LoginScreen.tsx
  example-app/SantokuApp/src/screens/account/TermsOfServiceAgreementScreen.test.tsx
  example-app/SantokuApp/src/screens/account/TermsOfServiceAgreementScreen.tsx
  example-app/SantokuApp/src/screens/account/index.ts
  example-app/SantokuApp/src/screens/account/usecases/useTermsOfServiceAgreementUseCase.ts
  example-app/SantokuApp/src/service/backend/accountService.ts
  example-app/SantokuApp/src/service/backend/termService.ts
Labels: iOS, app, build, test

#832 ➕: FormikとYupを追加
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
Labels: build

#834 ✅: テスト観点にフォースダークのオーバーライドについて追加
  website/docs/react-native/santoku/test-planning/test-type/functional-testing/terminal-os.mdx
Labels: doc

#830 ✨: SelectPickerを追加
  .github/renovate.json5
  example-app/SantokuApp/ios/Podfile.lock
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/src/components/picker/DefaultPickerAccessory.test.tsx
  example-app/SantokuApp/src/components/picker/DefaultPickerAccessory.tsx
  example-app/SantokuApp/src/components/picker/PickerAccessoryButton.tsx
  example-app/SantokuApp/src/components/picker/PickerBackdrop.test.tsx
  example-app/SantokuApp/src/components/picker/PickerBackdrop.tsx
  example-app/SantokuApp/src/components/picker/PickerContainer.test.tsx
  example-app/SantokuApp/src/components/picker/PickerContainer.tsx
  example-app/SantokuApp/src/components/picker/SelectPicker.android.test.tsx
  example-app/SantokuApp/src/components/picker/SelectPicker.android.tsx
  example-app/SantokuApp/src/components/picker/SelectPicker.ios.test.tsx
  example-app/SantokuApp/src/components/picker/SelectPicker.ios.tsx
  example-app/SantokuApp/src/components/picker/SelectPicker.tsx
  example-app/SantokuApp/src/components/picker/SelectPickerItems.test.tsx
  example-app/SantokuApp/src/components/picker/SelectPickerItems.tsx
  example-app/SantokuApp/src/components/picker/__snapshots__/DefaultPickerAccessory.test.tsx.snap
  example-app/SantokuApp/src/components/picker/__snapshots__/PickerBackdrop.test.tsx.snap
  example-app/SantokuApp/src/components/picker/__snapshots__/PickerContainer.test.tsx.snap
  example-app/SantokuApp/src/components/picker/__snapshots__/SelectPicker.android.test.tsx.snap
  example-app/SantokuApp/src/components/picker/__snapshots__/SelectPicker.ios.test.tsx.snap
  example-app/SantokuApp/src/components/picker/__snapshots__/SelectPickerItems.test.tsx.snap
  example-app/SantokuApp/src/components/picker/usePickerBackdropUseCase.ts
  example-app/SantokuApp/src/components/picker/useSelectPickerAndroidUseCase.ts
  example-app/SantokuApp/src/components/picker/useSelectPickerIOSUseCase.ts
  example-app/SantokuApp/src/components/picker/useSelectPickerUseCase.ts
  example-app/SantokuApp/src/framework/utilities/composePressableStyles.test.ts
  example-app/SantokuApp/src/framework/utilities/composePressableStyles.ts
  example-app/SantokuApp/src/framework/utilities/useWorkletCallback.test.ts
  example-app/SantokuApp/src/framework/utilities/useWorkletCallback.ts
  example-app/SantokuApp/src/generated/BundledMessages.ts
  example-app/SantokuApp/src/navigation/DemoStackNav.tsx
  example-app/SantokuApp/src/navigation/types.ts
  example-app/SantokuApp/src/screens/demo/DemoScreen.tsx
  example-app/SantokuApp/src/screens/demo/index.ts
  example-app/SantokuApp/src/screens/demo/picker/PickerScreen.tsx
  example-app/SantokuApp/src/screens/demo/picker/index.ts
  example-app/SantokuApp/src/screens/demo/picker/usePickerScreenUseCase.ts
Labels: iOS, app, build, chore, test

#838 🔧: asdfで使用するJavaのディストリビューションをAzul Zuluに変更
  .tool-versions
Labels: build, chore

#841 📝: 開発環境の構築時に注意すべき点などを追記
  website/docs/react-native/common-pitfalls/unable-to-load-script.mdx
  website/docs/react-native/learn/getting-started/setting-up-development-environment.mdx
  website/docs/react-native/santoku/development/build-configuration/build-variants.mdx
  website/docs/react-native/santoku/development/development-environment/00.setting-up-environment.mdx
Labels: doc

#839 ✨: YearMonthPickerを追加
  example-app/SantokuApp/src/components/picker/PickerBackdrop.test.tsx
  example-app/SantokuApp/src/components/picker/PickerBackdrop.tsx
  example-app/SantokuApp/src/components/picker/PickerContainer.test.tsx
  example-app/SantokuApp/src/components/picker/PickerContainer.tsx
  example-app/SantokuApp/src/components/picker/YearMonth.ts
  example-app/SantokuApp/src/components/picker/YearMonthPicker.android.test.tsx
  example-app/SantokuApp/src/components/picker/YearMonthPicker.android.tsx
  example-app/SantokuApp/src/components/picker/YearMonthPicker.ios.test.tsx
  example-app/SantokuApp/src/components/picker/YearMonthPicker.ios.tsx
  example-app/SantokuApp/src/components/picker/YearMonthPicker.tsx
  example-app/SantokuApp/src/components/picker/YearMonthUtil.test.ts
  example-app/SantokuApp/src/components/picker/YearMonthUtil.ts
  example-app/SantokuApp/src/components/picker/__snapshots__/YearMonthPicker.android.test.tsx.snap
  example-app/SantokuApp/src/components/picker/__snapshots__/YearMonthPicker.ios.test.tsx.snap
  example-app/SantokuApp/src/components/picker/index.ts
  example-app/SantokuApp/src/components/picker/useSelectPickerUseCase.ts
  example-app/SantokuApp/src/components/picker/useYearMonthPickerAndroidUseCase.ts
  example-app/SantokuApp/src/components/picker/useYearMonthPickerIOSUseCase.ts
  example-app/SantokuApp/src/components/picker/useYearMonthPickerUseCase.ts
  example-app/SantokuApp/src/generated/BundledMessages.ts
  example-app/SantokuApp/src/screens/demo/picker/PickerScreen.tsx
  example-app/SantokuApp/src/screens/demo/picker/usePickerScreenUseCase.ts
Labels: app, test

#840 🔧: ARM64アーキテクチャのiPhone Simulatorを除外する設定を削除
  example-app/SantokuApp/ios/SantokuApp.xcodeproj/project.pbxproj
Labels: iOS
