Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2022-10, with the labels that each got.

#942 💄: Add component that can specify gap and space
  example-app/SantokuApp/src/bases/ui/common/StyledColumn.tsx
  example-app/SantokuApp/src/bases/ui/common/StyledRow.tsx
  example-app/SantokuApp/src/bases/ui/common/StyledSpace.tsx
  example-app/SantokuApp/src/bases/ui/common/getSpacedChildren.tsx
  example-app/SantokuApp/src/bases/ui/common/types.ts
  example-app/SantokuApp/src/features/qa-question/components/AddCommentButton.tsx
  example-app/SantokuApp/src/features/qa-question/components/AnswerDetailCard.tsx
  example-app/SantokuApp/src/features/qa-question/components/CommentCard.tsx
  example-app/SantokuApp/src/features/qa-question/components/CommentsButtonWithCount.tsx
  example-app/SantokuApp/src/features/qa-question/components/CommentsLikeButtonWithCount.tsx
  example-app/SantokuApp/src/features/qa-question/components/DiffDaysOrHours.tsx
  example-app/SantokuApp/src/features/qa-question/components/QuestionAndAnswerLikeButtonWithCount.tsx
  example-app/SantokuApp/src/features/qa-question/components/QuestionDetailCard.tsx
  example-app/SantokuApp/src/features/qa-question/components/QuestionPost.tsx
  example-app/SantokuApp/src/features/qa-question/components/TagsSheet.tsx
  example-app/SantokuApp/src/features/qa-question/components/TemplateClearChip.tsx
  example-app/SantokuApp/src/features/qa-question/components/ViewsButtonWithCount.tsx
  example-app/SantokuApp/src/features/qa-question/pages/QuestionDetailPage.tsx
Labels: app

#955 ⬇️: Downgrade @testing-library/react-native to v10
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
Labels: build

#954 📝: refactor document ut-planning
  website/docs/react-native/santoku/test-planning/ut-planning.mdx
Labels: doc

#938 📝: refactor document initialization
  website/docs/react-native/santoku/application-architecture/life-cycle-management/initialization-flow.drawio.png
  website/docs/react-native/santoku/application-architecture/life-cycle-management/initialization.mdx
Labels: doc

#963 ✨: Add StyledFlatList
  example-app/SantokuApp/src/apps/app/__snapshots__/App.test.tsx.snap
  example-app/SantokuApp/src/bases/ui/common/StyledFlatList.tsx
  example-app/SantokuApp/src/features/qa-home/pages/HomePage.tsx
  example-app/SantokuApp/src/features/qa-home/pages/__snapshots__/HomePage.test.tsx.snap
Labels: app
