Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2022-01, with the labels that each got.

#712 💄: React Native Elementsのドキュメントへのリンク切れを修正
  website/docs/react-native/santoku/design/context/theme.mdx
  website/docs/react-native/santoku/design/screen-specs/basic-policy.mdx
  website/docs/react-native/santoku/design/screen-specs/common-parts/button/overview.mdx
Labels: doc

#713 💄: masterブランチのLintエラー修正
  website/docs/react-native/santoku/decisions/adr-007-auth.mdx
  website/tsconfig.json
Labels: doc

#710 📝:組織長レビュー指摘対応（単体テスト）
  website/docs/react-native/santoku/test-planning/ut-planning.mdx
Labels: doc

#711 📝: 認証方式の文章内に登場する商標の追記
  website/src/pages/trademark.md
Labels: doc

#716 📝: 出荷審査の指摘対応
  website/docs/react-native/santoku/application-architecture/auth/credential-management.mdx
  website/docs/react-native/santoku/application-architecture/auth/login.mdx
  website/docs/react-native/santoku/application-architecture/auth/logout.mdx
  website/docs/react-native/santoku/application-architecture/auth/overview.mdx
  website/docs/react-native/santoku/application-architecture/auth/signup.mdx
  website/docs/react-native/santoku/application-architecture/http-api/http-api-error-handling.mdx
  website/docs/react-native/santoku/decisions/adr-007-auth.mdx
  website/landing-page/react-native-example-app-architecture-description.md
Labels: doc

#721 🚑️: DEVビルドの場合のみ開発メニューにデモへのリンクを追加。
  example-app/SantokuApp/src/navigation/RootStackNav.tsx
Labels: app

#719 ♻️: 出荷審査の指摘対応でデモ画面を修正
  example-app/SantokuApp/src/framework/authentication/AuthenticationService.test.ts
  example-app/SantokuApp/src/framework/authentication/AuthenticationService.ts
  example-app/SantokuApp/src/framework/authentication/SecureStorageAdapter.test.ts
  example-app/SantokuApp/src/framework/authentication/SecureStorageAdapter.ts
  example-app/SantokuApp/src/screens/demo/authentication/AuthenticationScreen.tsx
  example-app/SantokuApp/src/screens/demo/authentication/useAuthentication.tsx
Labels: app

#715 📝: ADRで間違っていた点の修正と、iOSのProvisional Authorizationの説明追加
  website/.htmltest.yaml
  website/docs/react-native/santoku/decisions/adr-009-push-notification-fcm.mdx
  website/docs/react-native/santoku/decisions/adr-010-push-notification-contents.mdx
Labels: doc

#723 ✨: Fintanロゴをリニューアル
  website/docusaurus.config.js
  website/static/img/favicon.ico
  website/static/img/fintan-logo.jpg
Labels: doc

#699 🩹: Fix environmental variables of Android SDK
  website/docs/react-native/learn/getting-started/setting-up-development-environment.mdx
Labels: doc

#722 📝: プッシュ通知の方式設計
  website/docs/react-native/santoku/application-architecture.mdx
  website/docs/react-native/santoku/application-architecture/push-notification/delete-token.mdx
  website/docs/react-native/santoku/application-architecture/push-notification/overview.mdx
  website/docs/react-native/santoku/application-architecture/push-notification/push-notification-architecture.drawio.png
  website/docs/react-native/santoku/application-architecture/push-notification/receive-push-notification.drawio.png
  website/docs/react-native/santoku/application-architecture/push-notification/receive-push-notification.mdx
  website/docs/react-native/santoku/application-architecture/push-notification/register-token.drawio.png
  website/docs/react-native/santoku/application-architecture/push-notification/register-token.mdx
  website/docs/react-native/santoku/application-architecture/push-notification/remove-token.drawio.png
  website/docs/react-native/santoku/application-architecture/push-notification/send-push-notification.drawio.png
  website/docs/react-native/santoku/application-architecture/push-notification/send-push-notification.mdx
  website/docs/react-native/santoku/application-architecture/push-notification/tap-push-notification-when-background.drawio.png
  website/docs/react-native/santoku/application-architecture/push-notification/tap-push-notification-when-quit.drawio.png
  website/docs/sidebars.js
Labels: doc

#729 🔀: masterブランチをマージ
  example-app/SantokuApp/src/framework/authentication/AuthenticationService.test.ts
  example-app/SantokuApp/src/framework/authentication/AuthenticationService.ts
  example-app/SantokuApp/src/framework/authentication/SecureStorageAdapter.test.ts
  example-app/SantokuApp/src/framework/authentication/SecureStorageAdapter.ts
  example-app/SantokuApp/src/screens/demo/authentication/AuthenticationScreen.tsx
  example-app/SantokuApp/src/screens/demo/authentication/useAuthentication.tsx
  example-app/santoku-app-backend/pom.xml
  react-native-samples/authentication/authentication-backend/pom.xml
  react-native-samples/santoku-app/package-lock.json
  website/docs/react-native/learn/getting-started/setting-up-development-environment.mdx
  website/docs/react-native/santoku/application-architecture/auth/credential-management.mdx
  website/docs/react-native/santoku/application-architecture/auth/login.mdx
  website/docs/react-native/santoku/application-architecture/auth/logout.mdx
  website/docs/react-native/santoku/application-architecture/auth/overview.mdx
  website/docs/react-native/santoku/application-architecture/auth/signup.mdx
  website/docs/react-native/santoku/application-architecture/http-api/http-api-error-handling.mdx
  website/docs/react-native/santoku/decisions/adr-007-auth.mdx
  website/docusaurus.config.js
  website/landing-page/react-native-example-app-architecture-description.md
  website/static/img/favicon.ico
  website/static/img/fintan-logo.jpg
Labels: app, doc

#724 📝: キャッシュ管理のADR作成
  website/docs/react-native/santoku/decisions.mdx
  website/docs/react-native/santoku/decisions/adr-011-cache-management.mdx
  website/docs/sidebars.js
Labels: doc

#731 📝: 通知受信時の文章修正・メモ追加とホットスタート時の説明にリンク追加
  website/docs/react-native/santoku/application-architecture/life-cycle-management/overview.mdx
  website/docs/react-native/santoku/application-architecture/push-notification/receive-push-notification.mdx
  website/docs/reference/notification/client.md
Labels: doc

#737 ✨: キャッシュ管理
  website/docs/react-native/santoku/application-architecture.mdx
  website/docs/react-native/santoku/application-architecture/cache-management/overview.mdx
  website/docs/react-native/santoku/decisions.mdx
  website/docs/react-native/santoku/decisions/adr-011-cache-management.mdx
  website/docs/sidebars.js
Labels: doc

#734 ✨: キャッシュディレクトリ内のファイルの表示と一括削除が行えるデモ画面の追加
  example-app/SantokuApp/src/navigation/DemoStackNav.tsx
  example-app/SantokuApp/src/navigation/types.ts
  example-app/SantokuApp/src/screens/demo/DemoScreen.tsx
  example-app/SantokuApp/src/screens/demo/cache/CacheScreen.tsx
  example-app/SantokuApp/src/screens/demo/cache/FileInfo.tsx
  example-app/SantokuApp/src/screens/demo/cache/index.ts
  example-app/SantokuApp/src/screens/demo/cache/useCacheDirectory.ts
  example-app/SantokuApp/src/screens/demo/index.ts
Labels: app

#747 2月公開分の更新履歴をランディングページに反映
  website/landing-page/react-native-example-app-architecture-description.md
Labels: doc

#746 📈: Disable analytics
  website/docusaurus.config.js
Labels: doc
