Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2022-07, with the labels that each got.

#890 🚨: Fixed lint error
  example-app/SantokuApp/src/framework/authentication/AuthenticationService.test.tsx
Labels: app, test

#886 🔊: Send log on session refresh error
  example-app/SantokuApp/src/framework/backend/refreshSession.ts
Labels: app

#887 ✨: Set default value when SelectPicker is opened
  example-app/SantokuApp/src/components/picker/useSelectPickerUseCase.ts
Labels: app

#892 📝: Added statement that push notification retry control follows Admin SDK
  website/docs/react-native/santoku/decisions/adr-009-push-notification-fcm.mdx
Labels: doc

#891 💄: Centering terms overlay
  example-app/SantokuApp/src/components/overlay/OverlayContainer.test.tsx
  example-app/SantokuApp/src/components/overlay/OverlayContainer.tsx
  example-app/SantokuApp/src/components/overlay/__snapshots__/OverlayContainer.test.tsx.snap
  example-app/SantokuApp/src/screens/terms/__snapshots__/TermsAgreementOverlay.test.tsx.snap
Labels: app, test

#897 📝: 学習コンテンツの開発環境の構築の記述内容の見直し
  website/docs/react-native/learn/getting-started/setting-up-development-environment.mdx
Labels: doc

#889 🐛: [iOS] Fixed an issue where animations were not executed in the Picker component.
  example-app/SantokuApp/patches/README.md
  example-app/SantokuApp/patches/react-native-reanimated+2.8.0.patch
  example-app/SantokuApp/src/components/picker/DateTimePicker.ios.tsx
  example-app/SantokuApp/src/components/picker/usePickerContainerUseCase.ts
Labels: app

#885 ♻️: Refactor snackbar and overlay
  example-app/SantokuApp/src/__snapshots__/App.test.tsx.snap
  example-app/SantokuApp/src/components/overlay/FullWindowOverlay.tsx
  example-app/SantokuApp/src/components/overlay/loading/LoadingOverlay.tsx
  example-app/SantokuApp/src/components/overlay/loading/WithLoadingOverlay.tsx
  example-app/SantokuApp/src/components/overlay/snackbar/Snackbar.test.tsx
  example-app/SantokuApp/src/components/overlay/snackbar/Snackbar.tsx
  example-app/SantokuApp/src/components/overlay/snackbar/WithSnackbar.tsx
  example-app/SantokuApp/src/components/overlay/snackbar/__snapshots__/Snackbar.test.tsx.snap
  example-app/SantokuApp/src/components/overlay/snackbar/__snapshots__/WithSnackbar.test.tsx.snap
  example-app/SantokuApp/src/components/reactQuery/__snapshots__/WithReactQuery.test.tsx.snap
  example-app/SantokuApp/src/screens/account/__snapshots__/LoginScreen.test.tsx.snap
  example-app/SantokuApp/src/screens/account/__snapshots__/ProfileRegistrationScreen.test.tsx.snap
  example-app/SantokuApp/src/screens/home/__snapshots__/HomeScreen.test.tsx.snap
  example-app/SantokuApp/src/screens/terms/__snapshots__/TermsAgreementOverlay.test.tsx.snap
Labels: app, test

#881 📝: UIライブラリの選定に関するADRを追加
  website/docs/react-native/santoku/decisions.mdx
  website/docs/react-native/santoku/decisions/adr-014-ui-libraries.mdx
  website/docs/sidebars.js
Labels: doc

#884 💄: Changed to use stack instead of native stack in bottom tab
  example-app/SantokuApp/src/@types/react-navigation.d.ts
  example-app/SantokuApp/src/__snapshots__/App.test.tsx.snap
  example-app/SantokuApp/src/navigation/HomeStackNav.tsx
  example-app/SantokuApp/src/navigation/TeamStackNav.tsx
  example-app/SantokuApp/src/screens/home/HomeScreen.tsx
  example-app/SantokuApp/src/screens/team/TeamDetailScreen.tsx
Labels: app
