Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2022-11, with the labels that each got.

#964 📝: Support Expo SDK 46 for todo app learning
  website/docs/react-native/learn/todo-app/screens/auth.mdx
Labels: doc

#962 🐛: Fix scrolling to top on Android
  example-app/SantokuApp/src/features/qa-home/pages/HomePage.tsx
Labels: app

#967 📝: Fix nodejs and ruby versions used in Learn Contents
  website/docs/react-native/learn/getting-started/create-project.md
  website/docs/react-native/learn/getting-started/setting-up-development-environment.mdx
  website/docusaurus.config.js
Labels: doc

#973 📌: Exclude @testing-library/react-native from renovate management
  .github/renovate.json5
Labels: chore

#977 🚨: Fix react-native-firebase-messaging mock
  example-app/SantokuApp/jest/__mocks__/@react-native-firebase/messaging.ts
Labels: test

#976 🐛: Fix postAnswerComment in msw data
  example-app/SantokuApp/src/fixtures/msw/handlers/question/postAnswerComments.ts
Labels: app

#975 📝: Minor modifications to todo app contents
  website/docs/react-native/learn/todo-app/app-spec/screen_transition.png
  website/docs/react-native/learn/todo-app/networking/activity-indicator-each-todo.mdx
  website/docs/react-native/learn/todo-app/networking/activity-indicator.mdx
  website/docs/react-native/learn/todo-app/networking/generate-api-client.mdx
  website/docs/react-native/learn/todo-app/screens/tab.mdx
  website/docs/react-native/learn/todo-app/screens/todo-board.mdx
Labels: doc

#972 📝: fix splash screen
  website/docs/react-native/santoku/design/screen-specs/screens/splash-screen/overview.mdx
Labels: doc

#971 📝: fix screen transitions
  website/docs/react-native/santoku/design/screen-transitions/overview.mdx
  website/docs/react-native/santoku/design/screen-transitions/screen-transitions.drawio.png
Labels: doc

#985 🍱: Change bottom tab home icon
  example-app/SantokuApp/src/assets/images/home.png
Labels: app

#883 📝: QAアプリ学習コンテンツの追加
  website/docs/react-native/learn.md
  website/docs/react-native/learn/qa-app/app-project-desc.md
  website/docs/react-native/learn/qa-app/app-spec.md
  website/docs/react-native/learn/qa-app/exercise-advanced.md
  website/docs/react-native/learn/qa-app/exercise-basic-detail-event-api.md
  website/docs/react-native/learn/qa-app/exercise-basic-detail-event-screen.md
  website/docs/react-native/learn/qa-app/exercise-basic-detail-question-api.md
  website/docs/react-native/learn/qa-app/exercise-basic-detail-question-components.md
  website/docs/react-native/learn/qa-app/exercise-basic-detail-question-screen.md
  website/docs/react-native/learn/qa-app/exercise-basic-home-api.md
  website/docs/react-native/learn/qa-app/exercise-basic-home-components.md
  website/docs/react-native/learn/qa-app/exercise-basic-home-screen.md
  website/docs/react-native/learn/qa-app/exercise-basic-input-api.md
  website/docs/react-native/learn/qa-app/exercise-basic-input-components.md
  website/docs/react-native/learn/qa-app/exercise-basic-input-screen.md
  website/docs/react-native/learn/qa-app/exercise-basic-list-event-api.md
  website/docs/react-native/learn/qa-app/exercise-basic-list-event-screen.md
  website/docs/react-native/learn/qa-app/qa-app.fig
  website/docs/react-native/learn/qa-app/qa-app.md
  website/docs/react-native/learn/qa-app/screen-detail-event.png
  website/docs/react-native/learn/qa-app/screen-detail-question.png
  website/docs/react-native/learn/qa-app/screen-home-scroll.png
  website/docs/react-native/learn/qa-app/screen-home.png
  website/docs/react-native/learn/qa-app/screen-input.png
  website/docs/react-native/learn/qa-app/screen-list-event.png
  website/docs/react-native/learn/qa-app/screen-transitions-qa.drawio.png
  website/docs/react-native/santoku/requirements/functional/overview.mdx
  website/docs/sidebars.js
  website/static/img/app-icon-beginnermark.png
  website/static/img/app-icon-beginnermark@2x.png
  website/static/img/app-icon-beginnermark@3x.png
  website/static/img/app-icon-beginnermark@4x.png
  website/static/img/app-icon-default-avatar.svg
Labels: doc

#997 📝: update landing pages
  website/landing-page/learn-react-native-lp.md
  website/landing-page/react-native-example-app-architecture-description.md
Labels: doc

#994 📝: fix santoku app agenda
  website/docs/react-native/santoku.mdx
Labels: doc

#993 📝: fix message list
  website/docs/react-native/santoku/design/message-list/overview.mdx
Labels: doc

#991 📝: fix terms of service agreement
  website/docs/react-native/santoku/design/screen-specs/screens/terms-of-service-agreement/layout.drawio.png
  website/docs/react-native/santoku/design/screen-specs/screens/terms-of-service-agreement/overview.mdx
Labels: doc

#989 📝: Fix bottom-tab
  website/docs/react-native/santoku/design/screen-specs/screens/common/bottom-tab/layout.drawio.png
  website/docs/react-native/santoku/design/screen-specs/screens/common/bottom-tab/overview.mdx
Labels: doc

#992 📝: remove glossary
  website/docs/react-native/santoku/glossary.mdx
  website/docs/sidebars.js
Labels: doc

#998 📝: Added figma to the trademark description.
  website/src/pages/trademark.md
Labels: doc
