Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2022-06, with the labels that each got.

#857 ✨: Add acknowledgements screen
  .idea/dictionaries/shared.xml
  .idea/misc.xml
  example-app/SantokuApp/.gitignore
  example-app/SantokuApp/.script/generate-acknowledgements-file.js
  example-app/SantokuApp/assets/dummy/dummy.license.txt
  example-app/SantokuApp/assets/dummy/dummy.notice.txt
  example-app/SantokuApp/metro.config.js
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/src/generated/ThirdPartyDependencies.ts
  example-app/SantokuApp/src/navigation/DemoStackNav.tsx
  example-app/SantokuApp/src/navigation/types.ts
  example-app/SantokuApp/src/screens/demo/DemoScreen.tsx
  example-app/SantokuApp/src/screens/demo/acknowledgements/AcknowledgementsScreen.tsx
  example-app/SantokuApp/src/screens/demo/acknowledgements/LicenseScreen.tsx
  example-app/SantokuApp/src/screens/demo/acknowledgements/index.ts
  example-app/SantokuApp/src/screens/demo/acknowledgements/useLicenseScreenUseCase.ts
  example-app/SantokuApp/src/screens/demo/index.ts
Labels: app, build, chore

#862 📌: @react-native-async-storageをRenovate管理から除外
  .github/renovate.json5
Labels: chore

#861 ✨: iOS Nativeのローカライズ対応
  example-app/SantokuApp/ios/SantokuApp.xcodeproj/project.pbxproj
  example-app/SantokuApp/ios/SantokuApp/en.lproj/InfoPlist.strings
  example-app/SantokuApp/ios/SantokuApp/ja.lproj/InfoPlist.strings
Labels: iOS

#865 🐛: 利用規約に同意後も、再度利用規約が表示されてしまう事象の対応
  example-app/SantokuApp/src/context/useAccountContextOperation.ts
  example-app/SantokuApp/src/screens/terms/usecases/useTermsAgreementOverlayUseCase.ts
Labels: app

#872 🩹: websiteのpackage.jsonのdependenciesを見直し
  .github/renovate.json5
  website/package-lock.json
  website/package.json
Labels: chore, doc

#871 📌: gradle-download-taskをRenovate管理から除外
  .github/renovate.json5
Labels: chore

#870 ✨: DateTimePickerを追加
  example-app/SantokuApp/ios/Podfile.lock
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/src/components/picker/DateTimePicker.android.test.tsx
  example-app/SantokuApp/src/components/picker/DateTimePicker.android.tsx
  example-app/SantokuApp/src/components/picker/DateTimePicker.ios.test.tsx
  example-app/SantokuApp/src/components/picker/DateTimePicker.ios.tsx
  example-app/SantokuApp/src/components/picker/DateTimePicker.tsx
  example-app/SantokuApp/src/components/picker/DateTimePickerItems.tsx
  example-app/SantokuApp/src/components/picker/__snapshots__/DateTimePicker.android.test.tsx.snap
  example-app/SantokuApp/src/components/picker/__snapshots__/DateTimePicker.ios.test.tsx.snap
  example-app/SantokuApp/src/components/picker/useDateTimePickerAndroidUseCase.ts
  example-app/SantokuApp/src/components/picker/useDateTimePickerIOSUseCase.ts
  example-app/SantokuApp/src/components/picker/useDateTimePickerUseCase.ts
  example-app/SantokuApp/src/screens/demo/picker/PickerScreen.tsx
  example-app/SantokuApp/src/screens/demo/picker/usePickerScreenUseCase.ts
Labels: iOS, app, build, test

#873 📝: 学習コンテンツにrn-spoilerのExpo SDK 44、45対応を反映
  website/docs/react-native/learn/todo-app/networking/generate-api-client.mdx
  website/docs/react-native/learn/todo-app/screens/auth.mdx
Labels: doc

#876 🐛: PickerコンポーネントでReanimatedのLayout Animationsを使用しないように変更
  example-app/SantokuApp/jest/setup/react-native-reanimated.js
  example-app/SantokuApp/src/components/picker/DateTimePicker.ios.test.tsx
  example-app/SantokuApp/src/components/picker/DateTimePicker.ios.tsx
  example-app/SantokuApp/src/components/picker/PickerBackdrop.test.tsx
  example-app/SantokuApp/src/components/picker/PickerBackdrop.tsx
  example-app/SantokuApp/src/components/picker/PickerContainer.test.tsx
  example-app/SantokuApp/src/components/picker/PickerContainer.tsx
  example-app/SantokuApp/src/components/picker/SelectPicker.test.tsx
  example-app/SantokuApp/src/components/picker/SelectPicker.tsx
  example-app/SantokuApp/src/components/picker/SelectPickerItem.tsx
  example-app/SantokuApp/src/components/picker/SelectPickerItems.android.test.tsx
  example-app/SantokuApp/src/components/picker/SelectPickerItems.android.tsx
  example-app/SantokuApp/src/components/picker/YearMonthPicker.test.tsx
  example-app/SantokuApp/src/components/picker/YearMonthPicker.tsx
  example-app/SantokuApp/src/components/picker/__snapshots__/DateTimePicker.ios.test.tsx.snap
  example-app/SantokuApp/src/components/picker/__snapshots__/PickerBackdrop.test.tsx.snap
  example-app/SantokuApp/src/components/picker/__snapshots__/PickerContainer.test.tsx.snap
  example-app/SantokuApp/src/components/picker/__snapshots__/SelectPicker.test.tsx.snap
  example-app/SantokuApp/src/components/picker/__snapshots__/SelectPickerItems.android.test.tsx.snap
  example-app/SantokuApp/src/components/picker/__snapshots__/YearMonthPicker.test.tsx.snap
  example-app/SantokuApp/src/components/picker/useDateTimePickerIOSUseCase.ts
  example-app/SantokuApp/src/components/picker/usePickerBackdropUseCase.ts
  example-app/SantokuApp/src/components/picker/usePickerContainerUseCase.ts
  example-app/SantokuApp/src/components/picker/useSelectPickerUseCase.ts
  example-app/SantokuApp/src/components/picker/useYearMonthPickerUseCase.ts
  example-app/SantokuApp/src/framework/utilities/useVisibility.ts
Labels: app, test

#882 📌: @react-native-community/datetimepickerをRenovate管理から除外
  .github/renovate.json5
Labels: chore
