Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2022-09, with the labels that each got.

#908 📝: Add reference about notification channels
  website/docs/reference/notification/backend.md
  website/docs/reference/notification/client.md
Labels: doc

#930 ⬆️: Update Podfile.lock
  example-app/SantokuApp/ios/Podfile.lock
Labels: iOS

#929 🐛: Fix required update mock message
  example-app/SantokuApp/src/fixtures/msw/handlers/system/getSystemAppUpdatesTypeVersion.ts
Labels: app

#931 ✨: Support iPad
  example-app/SantokuApp/ios/SantokuApp.xcodeproj/project.pbxproj
Labels: iOS

#934 📌: Exclude react-native-svg from renovate management
  .github/renovate.json5
Labels: chore

#923 ♻️: Refactor terms feature module
  example-app/SantokuApp/src/features/terms/client-states/useAgreed.ts
  example-app/SantokuApp/src/features/terms/client-states/useButtonDisable.ts
  example-app/SantokuApp/src/features/terms/client-states/useIsExited.ts
  example-app/SantokuApp/src/features/terms/client-states/useIsWebViewError.ts
  example-app/SantokuApp/src/features/terms/components/TermsAgreementOverlayComponent.tsx
  example-app/SantokuApp/src/features/terms/use-cases/useComposedExitingCallback.ts
  example-app/SantokuApp/src/features/terms/use-cases/useExitingCallbackOnAgreed.ts
  example-app/SantokuApp/src/features/terms/use-cases/useOnAgree.ts
  example-app/SantokuApp/src/features/terms/use-cases/useOnScrollEndOnce.ts
  example-app/SantokuApp/src/features/terms/use-cases/useOnWebViewError.ts
  example-app/SantokuApp/src/features/terms/use-cases/useResetWebViewError.ts
  example-app/SantokuApp/src/features/terms/use-cases/useWebViewSource.ts
Labels: app

#935 📝: Refactoring Documentation - Introduction
  website/docs/react-native/santoku.mdx
Labels: doc

#937 📝: Refactor document - usability
  website/docs/react-native/santoku/requirements/non-functional/usability.mdx
Labels: doc

#936 📝: Refactor document - functional requirements
  website/docs/react-native/santoku/requirements.mdx
  website/docs/react-native/santoku/requirements/functional/overview.mdx
Labels: doc

#927 ✨: Add question detail
  example-app/SantokuApp/package.json
  example-app/SantokuApp/src/apps/app/navigators/AuthenticatedStackNav.tsx
  example-app/SantokuApp/src/apps/app/navigators/HomeStackNav.tsx
  example-app/SantokuApp/src/apps/app/navigators/types.ts
  example-app/SantokuApp/src/apps/app/screens/qa-question/QuestionDetailScreen.tsx
  example-app/SantokuApp/src/bases/date/diffInDays.ts
  example-app/SantokuApp/src/bases/date/diffInHours.ts
  example-app/SantokuApp/src/bases/date/formatDiffInDaysOrHours.ts
  example-app/SantokuApp/src/bases/message/BundledMessages.ts
  example-app/SantokuApp/src/bases/ui/illustration/ChatBubbleOutlineIllustration.tsx
  example-app/SantokuApp/src/bases/ui/illustration/DoneIllustration.tsx
  example-app/SantokuApp/src/bases/ui/illustration/ExpandLessIllustration.tsx
  example-app/SantokuApp/src/bases/ui/illustration/MoreVertIllustration.tsx
  example-app/SantokuApp/src/bases/ui/illustration/QuestionAnswerIllustration.tsx
  example-app/SantokuApp/src/bases/ui/illustration/ScheduleIllustration.tsx
  example-app/SantokuApp/src/bases/ui/illustration/ThumbUpIllustration.tsx
  example-app/SantokuApp/src/bases/ui/illustration/VisibilityIllustration.tsx
  example-app/SantokuApp/src/bases/ui/theme/restyleTheme.ts
  example-app/SantokuApp/src/features/account/services/account/useAccountQuestionCommands.ts
  example-app/SantokuApp/src/features/account/services/account/useAccountQuestionLikes.ts
  example-app/SantokuApp/src/features/qa-question/components/AddCommentButton.tsx
  example-app/SantokuApp/src/features/qa-question/components/AnswerDetailCard.tsx
  example-app/SantokuApp/src/features/qa-question/components/CommentCard.tsx
  example-app/SantokuApp/src/features/qa-question/components/CommentDivider.tsx
  example-app/SantokuApp/src/features/qa-question/components/CommentsButtonWithCount.tsx
  example-app/SantokuApp/src/features/qa-question/components/CommentsLikeButtonWithCount.tsx
  example-app/SantokuApp/src/features/qa-question/components/DiffDaysOrHours.tsx
  example-app/SantokuApp/src/features/qa-question/components/QuestionAndAnswerLikeButtonWithCount.tsx
  example-app/SantokuApp/src/features/qa-question/components/QuestionDetailCard.tsx
  example-app/SantokuApp/src/features/qa-question/components/ViewsButtonWithCount.tsx
  example-app/SantokuApp/src/features/qa-question/pages/QuestionDetailPage.tsx
  example-app/SantokuApp/src/features/qa-question/services/useQuestion.ts
  example-app/SantokuApp/src/features/qa-question/services/useQuestionCommands.ts
  example-app/SantokuApp/src/fixtures/msw/datas/answerCommentData.ts
  example-app/SantokuApp/src/fixtures/msw/datas/answerCommentMaxData.ts
  example-app/SantokuApp/src/fixtures/msw/datas/questionMaxData.ts
  example-app/SantokuApp/src/fixtures/msw/handlers/account/deleteAccountsMeAnswerCommentLikes.ts
  example-app/SantokuApp/src/fixtures/msw/handlers/account/deleteAccountsMeAnswerLikes.ts
  example-app/SantokuApp/src/fixtures/msw/handlers/account/deleteAccountsMeEventLikes.ts
  example-app/SantokuApp/src/fixtures/msw/handlers/account/deleteAccountsMeQuestionCommentLikes.ts
  example-app/SantokuApp/src/fixtures/msw/handlers/account/deleteAccountsMeQuestionLikes.ts
  example-app/SantokuApp/src/fixtures/msw/handlers/account/putAccountsMeAnswerCommentLikes.ts
  example-app/SantokuApp/src/fixtures/msw/handlers/account/putAccountsMeAnswerLikes.ts
  example-app/SantokuApp/src/fixtures/msw/handlers/account/putAccountsMeEventLikes.ts
  example-app/SantokuApp/src/fixtures/msw/handlers/account/putAccountsMeQuestionCommentLikes.ts
  example-app/SantokuApp/src/fixtures/msw/handlers/account/putAccountsMeQuestionLikes.ts
  example-app/SantokuApp/src/fixtures/msw/models/answerCommentModel.ts
  example-app/SantokuApp/src/fixtures/msw/utils/format2Iso8601.ts
Labels: app, build

#940 🚚: Rename stereotype directories singular to plural
  README.md
  example-app/SantokuApp/index.js
  example-app/SantokuApp/src/apps/app/errors/initialDataError.ts
  example-app/SantokuApp/src/apps/app/services/defaultGlobalErrorHandler.ts
  example-app/SantokuApp/src/bases/core/configs/AppConfig.test.ts
  example-app/SantokuApp/src/bases/core/configs/AppConfig.ts
  example-app/SantokuApp/src/bases/core/errors/ApplicationError.test.ts
  example-app/SantokuApp/src/bases/core/errors/ApplicationError.ts
  example-app/SantokuApp/src/bases/firebase/messaging/deleteFcmToken.ts
  example-app/SantokuApp/src/bases/firebase/messaging/getFcmToken.ts
  example-app/SantokuApp/src/bases/firebase/messaging/requestPushPermission.ts
  example-app/SantokuApp/src/bases/ui/picker/YearMonthPicker.test.tsx
  example-app/SantokuApp/src/bases/ui/picker/useYearMonthPicker.ts
  example-app/SantokuApp/src/features/account/errors/ActiveAccountIdNotFoundError.ts
  example-app/SantokuApp/src/features/account/errors/PasswordNotFoundError.ts
  example-app/SantokuApp/src/features/account/errors/UnauthorizedError.ts
  example-app/SantokuApp/src/features/account/services/auth/refreshSession.ts
  example-app/SantokuApp/src/features/app-updates/services/openStoreLink.test.ts
  example-app/SantokuApp/src/features/app-updates/services/openStoreLink.ts
  example-app/SantokuApp/src/features/app-updates/services/requestAppUpdates.test.ts
  example-app/SantokuApp/src/features/app-updates/services/requestAppUpdates.ts
  example-app/SantokuApp/src/features/backend/errors/RequestTimeoutError.ts
  example-app/SantokuApp/src/features/backend/utils/customInstance.ts
  example-app/SantokuApp/src/features/demo-authentication/utils/handleError.ts
  example-app/SantokuApp/src/features/demo-cache/errors/CacheClearError.ts
  example-app/SantokuApp/src/features/demo-config/constants/info.ts
  example-app/SantokuApp/src/features/demo-github-link/components/SpecAndSourceCodeLink.tsx
  example-app/SantokuApp/src/features/demo-http-api/services/fetchWithAxios.ts
  example-app/SantokuApp/src/features/demo-http-api/services/fetchWithFetchApi.ts
  example-app/SantokuApp/src/features/demo-message/constants/messages.ts
  example-app/SantokuApp/src/features/demo-push-notification/services/notifyMessageToAll.ts
  example-app/SantokuApp/src/features/demo-push-notification/services/notifyMessageToMe.ts
  example-app/SantokuApp/src/features/terms/components/TermsAgreementOverlay.test.tsx
  example-app/SantokuApp/src/features/terms/components/TermsAgreementOverlayComponent.test.tsx
  example-app/SantokuApp/src/fixtures/msw/datas/termsData.ts
  example-app/SantokuApp/src/fixtures/msw/utils/backendUrl.ts
Labels: app, test

#939 📝: refactor document auth
  website/docs/react-native/santoku/application-architecture/auth/login.mdx
  website/docs/react-native/santoku/application-architecture/auth/logout.mdx
  website/docs/react-native/santoku/application-architecture/auth/overview.mdx
  website/docs/react-native/santoku/application-architecture/auth/signup.mdx
Labels: doc
