Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2023-02, with the labels that each got.

#1010 📝 Update build settings doc
  .idea/jsLibraryMappings.xml
  website/docs/react-native/santoku/application-architecture/system-configuration/overview.md
  website/docs/react-native/santoku/development/build-configuration.mdx
  website/docs/react-native/santoku/development/build-configuration/app-constants.mdx
  website/docs/react-native/santoku/development/build-configuration/app-launch-per-build-settings.mdx
  website/docs/react-native/santoku/development/build-configuration/apply-plugins.mdx
  website/docs/react-native/santoku/development/build-configuration/build-type-configurations.mdx
  website/docs/react-native/santoku/development/build-configuration/build-type.mdx
  website/docs/react-native/santoku/development/build-configuration/build-variants.mdx
  website/docs/react-native/santoku/development/build-configuration/development-account-for-ios.mdx
  website/docs/react-native/santoku/development/build-configuration/environments-configuration.mdx
  website/docs/react-native/santoku/development/build-configuration/firebase-setting-file.mdx
  website/docs/react-native/santoku/development/build-configuration/native-project-management.mdx
  website/docs/react-native/santoku/development/build-configuration/order-plugins.mdx
  website/docs/react-native/santoku/development/build-configuration/product-flavor-configurations.mdx
  website/docs/react-native/santoku/development/development-environment.mdx
  website/docs/react-native/santoku/development/development-environment/01.basic-setup.mdx
  website/docs/react-native/santoku/development/development-environment/02.setting-up-ios-run-on-device.mdx
  website/docs/react-native/santoku/development/development-environment/03.setting-up-ios-advanced-run-on-device.mdx
  website/docs/react-native/santoku/development/development-environment/04.use-firebase.mdx
  website/docs/react-native/santoku/development/development-environment/10.setting-up-android-distribution-build.mdx
  website/docs/react-native/santoku/development/development-environment/11.setting-up-ios-distribution-build.mdx
  website/docs/react-native/santoku/development/development-environment/ci-cd.drawio.png
  website/docs/react-native/santoku/development/implement.mdx
  website/docs/react-native/santoku/development/implement/app-launch-with-build-variants.mdx
  website/docs/react-native/santoku/development/implement/cautions-on-using-firebase.mdx
  website/docs/react-native/santoku/development/implement/configurations.mdx
  website/docs/react-native/santoku/development/implement/logs-implementation.mdx
  website/docs/react-native/santoku/test-planning/ut-planning.mdx
  website/docs/sidebars.js
Labels: chore, doc

#1029 📝: About Config Plugins
  website/docs/react-native/santoku/development/build-configuration.mdx
  website/docs/react-native/santoku/development/build-configuration/about-plugins.mdx
  website/docs/react-native/santoku/development/build-configuration/order-plugins.mdx
  website/docs/sidebars.js
Labels: doc

#1013 ⬆️: Bump ruby to v3.1.3
  .tool-versions
Labels: build, chore

#1038 📌: Exclude expo-build-properties from renovate management
  .github/renovate.json5
Labels: chore

#1037 📌: Exclude dependencies used in firebase from renovate management
  .github/renovate.json5
Labels: chore

#1043 🧑‍💻: [SantokuApp] fs-extra ライブラリの型定義改善
  .github/renovate.json5
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
Labels: build, chore
