Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2023-03, with the labels that each got.

#1044 🧑‍💻: [reviewdog] 変更範囲外で lint が fail した場合に PRのchecksをfailさせる
  .github/workflows/app.yaml
  .github/workflows/gh-pages.yaml
Labels: ci

#1046 ♻️: Use Constants.expoConfig instead of Constants.manifest.
  example-app/SantokuApp/jest/__mocks__/expo-constants.ts
  example-app/SantokuApp/src/bases/core/configs/AppConfig.ts
  website/docs/react-native/santoku/development/build-configuration/app-constants.mdx
Labels: app, doc, test

#1048 🐛: @types/fs-extra の version 指定ミス修正
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
Labels: build

#1047 ✨: Add qrcode
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/src/apps/app/navigators/DemoStackNav.tsx
  example-app/SantokuApp/src/apps/app/navigators/types.ts
  example-app/SantokuApp/src/apps/app/screens/demo-menu/DemoMenuScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/demo-qrcode/QRCodeScreen.tsx
  example-app/SantokuApp/src/bases/message/BundledMessages.ts
  example-app/SantokuApp/src/bases/ui/qrcode/QRCode.test.tsx
  example-app/SantokuApp/src/bases/ui/qrcode/QRCode.tsx
  example-app/SantokuApp/src/bases/ui/qrcode/__snapshots__/QRCode.test.tsx.snap
  example-app/SantokuApp/src/bases/validator/index.ts
  example-app/SantokuApp/src/features/demo-qrcode/forms/useQRCodeForm.ts
  example-app/SantokuApp/src/features/demo-qrcode/pages/QRCodePage.tsx
  example-app/SantokuApp/src/features/demo-qrcode/types/errorCorrectionLevel.ts
  website/docs/react-native/santoku/design/demo/overview.mdx
  website/docs/react-native/santoku/design/demo/qrcode/overview.mdx
  website/docs/react-native/santoku/design/demo/qrcode/qrcode.png
  website/docs/react-native/santoku/development/dependency-management.md
  website/docs/sidebars.js
Labels: app, build, doc, test

#1031 🧑‍💻: [SantokuApp] ライセンス一覧 の iOS/Android ライブラリ対応
  example-app/SantokuApp/.script/README.md
  example-app/SantokuApp/.script/check-licenses.js
  example-app/SantokuApp/.script/generate-acknowledgements-file.js
  example-app/SantokuApp/.script/generate-licenses.csv.js
  example-app/SantokuApp/.script/license-text-cache.js
  example-app/SantokuApp/.script/license-text/.gitkeep
  example-app/SantokuApp/.script/license-text/LGPL-apple.txt
  example-app/SantokuApp/.script/list-dependencies.js
  example-app/SantokuApp/.script/managed-license.js
  example-app/SantokuApp/README.md
  example-app/SantokuApp/app.config.js
  example-app/SantokuApp/config/plugin/src/android/index.ts
  example-app/SantokuApp/config/plugin/src/android/withAndroidAddLicensePlugin.ts
  example-app/SantokuApp/prebuild/local/android/app/build.gradle
  example-app/SantokuApp/prebuild/prod/android/app/build.gradle
  example-app/SantokuApp/prebuild/stg/android/app/build.gradle
  example-app/SantokuApp/src/features/acknowledgements/constants/ThirdPartyDependencies.ts
  example-app/SantokuApp/src/features/acknowledgements/pages/AcknowledgementsPage.tsx
  example-app/SantokuApp/src/features/acknowledgements/pages/LicensePage.tsx
  example-app/SantokuApp/src/features/acknowledgements/types/ThirdPartyDependency.ts
Labels: app, build, doc

#1060 📝: Maintenance documentation for Config Plugins support
  website/docs/react-native/santoku/maintenance/enhance.mdx
  website/docs/react-native/santoku/maintenance/enhance/config-plugins.mdx
  website/docs/sidebars.js
Labels: doc

#1056 ⏪️: Revert qrcode (#1047)
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/src/apps/app/navigators/DemoStackNav.tsx
  example-app/SantokuApp/src/apps/app/navigators/types.ts
  example-app/SantokuApp/src/apps/app/screens/demo-menu/DemoMenuScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/demo-qrcode/QRCodeScreen.tsx
  example-app/SantokuApp/src/bases/message/BundledMessages.ts
  example-app/SantokuApp/src/bases/ui/qrcode/QRCode.test.tsx
  example-app/SantokuApp/src/bases/ui/qrcode/QRCode.tsx
  example-app/SantokuApp/src/bases/ui/qrcode/__snapshots__/QRCode.test.tsx.snap
  example-app/SantokuApp/src/bases/validator/index.ts
  example-app/SantokuApp/src/features/demo-qrcode/forms/useQRCodeForm.ts
  example-app/SantokuApp/src/features/demo-qrcode/pages/QRCodePage.tsx
  example-app/SantokuApp/src/features/demo-qrcode/types/errorCorrectionLevel.ts
  website/docs/react-native/santoku/design/demo/overview.mdx
  website/docs/react-native/santoku/design/demo/qrcode/overview.mdx
  website/docs/react-native/santoku/design/demo/qrcode/qrcode.png
  website/docs/react-native/santoku/development/dependency-management.md
  website/docs/sidebars.js
Labels: app, build, doc, test

#1064 📝: WebViewドキュメントの誤記を修正(onceScrollEnd -> onScrollEndOnce)
  website/docs/react-native/santoku/design/screen-specs/common-parts/webview/overview.mdx
Labels: doc

#1067 💬: Fix question data
  example-app/SantokuApp/src/apps/app/__snapshots__/App.test.tsx.snap
  example-app/SantokuApp/src/fixtures/msw/datas/questionData.ts
Labels: app

#1068 ✏️: Fix typo in santoku doc
  website/docs/react-native/santoku/application-architecture/push-notification/receive-push-notification.mdx
  website/docs/react-native/santoku/decisions/adr-004-deep-link.mdx
  website/docs/react-native/santoku/decisions/adr-006-logging.mdx
  website/docs/react-native/santoku/decisions/adr-010-push-notification-contents.mdx
Labels: doc

#1070 📝: Note on prebuild
  website/docs/react-native/learn/getting-started/create-project.md
  website/docs/react-native/santoku/development/build-configuration.mdx
  website/docs/react-native/santoku/maintenance/enhance/config-plugins.mdx
Labels: doc

#1069 📝: エラーログの引数変更に伴うドキュメントの修正
  website/docs/react-native/santoku/application-architecture/logging-app/logging.mdx
  website/docs/react-native/santoku/development/design/logs.mdx
Labels: doc

#1079 📝: 型定義ファイルのバージョン指定に関する説明誤りを修正
  website/docs/react-native/santoku/development/dependency-management.md
Labels: doc

#1077 📝: ツールインストールで紹介しているBundlerのテーブルカラム名を変更
  website/docs/react-native/santoku/development/development-environment/00.setting-up-environment.mdx
Labels: doc

#1075 📝: 通知チャンネルの作成はAndroidのみであることがわかるように追記
  website/docs/react-native/santoku/application-architecture/life-cycle-management/initialization.mdx
Labels: doc

#1076 📝: SantokuAppの機能要件にQAアプリの仕様へのリンクを追加
  website/docs/react-native/santoku/requirements/functional/overview.mdx
Labels: doc

#1073 📝: Responding to remarks on written expressions
  website/docs/react-native/santoku/development/build-configuration/about-plugins.mdx
  website/docs/react-native/santoku/development/build-configuration/build-type.mdx
  website/docs/react-native/santoku/development/development-environment/10.setting-up-android-distribution-build.mdx
  website/docs/react-native/santoku/development/development-environment/11.setting-up-ios-distribution-build.mdx
Labels: doc

#1051 🐛: 質問詳細画面_ニックネームが長い場合、コメントの経過時間が画面に収まるように修正
  example-app/SantokuApp/src/features/qa-question/components/CommentCard.tsx
Labels: app

#1052 🐛: home画面_解決済みの質問に解決済みラベルが付くように修正
  example-app/SantokuApp/src/apps/app/__snapshots__/App.test.tsx.snap
  example-app/SantokuApp/src/features/qa-question/components/QuestionListCard.tsx
Labels: app

#1055 🐛: home画面_スクロール時に質問ラベル行が固定表示されるように修正
  example-app/SantokuApp/src/apps/app/__snapshots__/App.test.tsx.snap
  example-app/SantokuApp/src/features/qa-home/pages/HomePage.tsx
  example-app/SantokuApp/src/features/qa-home/pages/__snapshots__/HomePage.test.tsx.snap
  example-app/SantokuApp/src/features/qa-question/components/QuestionListCard.tsx
  example-app/SantokuApp/src/features/qa-question/components/QuestionListHeader.tsx
Labels: app

#1061 🐛: 質問詳細画面_最下部スクロール時にコメントアイコンを押下できない不具合を改善
  example-app/SantokuApp/src/bases/ui/theme/restyleTheme.ts
  example-app/SantokuApp/src/features/qa-question/pages/QuestionDetailPage.tsx
Labels: app

#1083 📝: ディレクトリ構成にステレオタイプを追加
  example-app/SantokuApp/README.md
Labels: doc

#1058 🐛: home画面_経過時間の分、年単位出力の対応
  example-app/SantokuApp/src/apps/app/App.test.tsx
  example-app/SantokuApp/src/bases/date/diffInDays.test.ts
  example-app/SantokuApp/src/bases/date/diffInHours.test.ts
  example-app/SantokuApp/src/bases/date/diffInMinutes.test.ts
  example-app/SantokuApp/src/bases/date/diffInMinutes.ts
  example-app/SantokuApp/src/bases/date/diffInYears.test.ts
  example-app/SantokuApp/src/bases/date/diffInYears.ts
  example-app/SantokuApp/src/bases/date/formatDiffInDateTime.test.ts
  example-app/SantokuApp/src/bases/date/formatDiffInDateTime.ts
  example-app/SantokuApp/src/bases/date/formatDiffInDaysOrHours.ts
  example-app/SantokuApp/src/bases/message/BundledMessages.ts
  example-app/SantokuApp/src/features/qa-home/pages/HomePage.test.tsx
  example-app/SantokuApp/src/features/qa-question/components/AnswerDetailCard.tsx
  example-app/SantokuApp/src/features/qa-question/components/CommentCard.tsx
  example-app/SantokuApp/src/features/qa-question/components/DiffInDateTime.tsx
  example-app/SantokuApp/src/features/qa-question/components/QuestionDetailCard.tsx
  example-app/SantokuApp/src/features/qa-question/components/QuestionListCard.tsx
Labels: app, test

#1059 📝: Update learn doc
  website/docs/react-native/learn/getting-started/create-project.md
  website/docs/react-native/learn/getting-started/launch-created-app.mdx
  website/docs/react-native/learn/qa-app/app-project-desc.md
Labels: doc

#1081 📝: collaboration-with-test-engineers
  website/docs/react-native/santoku/test-planning.mdx
  website/docs/react-native/santoku/test-planning/collaboration-with-test-engineers.mdx
  website/docs/sidebars.js
Labels: doc

#1065 🐛: home画面_イベントが1件もない場合「募集中のイベントがありません」を出力するよう修正
  example-app/SantokuApp/src/bases/message/BundledMessages.ts
  example-app/SantokuApp/src/features/qa-home/pages/HomePage.tsx
Labels: app

#1057 🐛: 最大桁数を超える値の出力では、最大値の末尾に+を付けて出力するように修正
  example-app/SantokuApp/src/apps/app/__snapshots__/App.test.tsx.snap
  example-app/SantokuApp/src/bases/core/utils/formatLargeNumber.test.ts
  example-app/SantokuApp/src/bases/core/utils/formatLargeNumber.ts
  example-app/SantokuApp/src/features/qa-event/components/EventListCard.tsx
  example-app/SantokuApp/src/features/qa-event/components/LikeWithCount.tsx
  example-app/SantokuApp/src/features/qa-question/components/AnswerDetailCard.tsx
  example-app/SantokuApp/src/features/qa-question/components/AnswerWithCount.tsx
  example-app/SantokuApp/src/features/qa-question/components/CommentButtonWithCount.tsx
  example-app/SantokuApp/src/features/qa-question/components/CommentLikeButtonWithCount.tsx
  example-app/SantokuApp/src/features/qa-question/components/LikeWithCount.tsx
  example-app/SantokuApp/src/features/qa-question/components/QuestionAndAnswerLikeButtonWithCount.tsx
  example-app/SantokuApp/src/features/qa-question/components/QuestionDetailCard.tsx
  example-app/SantokuApp/src/features/qa-question/components/QuestionListCard.tsx
  example-app/SantokuApp/src/features/qa-question/components/ViewButtonWithCount.tsx
  example-app/SantokuApp/src/features/qa-question/components/ViewWithCount.tsx
  website/docs/react-native/learn/qa-app/exercise-basic-home-components.md
Labels: app, doc

#1062 🐛: 質問詳細画面_戻るボタンがデザインと異なる不具合を改善
  example-app/SantokuApp/src/apps/app/navigators/AuthenticatedStackNav.tsx
  example-app/SantokuApp/src/bases/ui/illustration/GoBackIllustration.tsx
  example-app/SantokuApp/src/bases/ui/theme/restyleTheme.ts
Labels: app

#1080 📝: プッシュ通知の登録トークンの登録・更新のフロー図修正
  website/docs/react-native/santoku/application-architecture/push-notification/register-token.drawio.png
Labels: doc

#1087 📝: update landing page
  website/landing-page/react-native-example-app-architecture-description.md
Labels: doc

#1088 📝: collaboration with test vendors
  website/docs/react-native/santoku/test-planning.mdx
  website/docs/react-native/santoku/test-planning/collaboration-with-qa-vendors.mdx
  website/docs/react-native/santoku/test-planning/collaboration-with-test-engineers.mdx
  website/docs/sidebars.js
Labels: doc

#1074 🐛: home画面_横画面表示時、プラスボタンがノッチと重ならないように修正
  example-app/SantokuApp/src/apps/app/__snapshots__/App.test.tsx.snap
  example-app/SantokuApp/src/features/qa-event/components/EventList.tsx
  example-app/SantokuApp/src/features/qa-event/components/EventListCard.tsx
  example-app/SantokuApp/src/features/qa-home/pages/HomePage.tsx
  example-app/SantokuApp/src/features/qa-home/pages/__snapshots__/HomePage.test.tsx.snap
Labels: app

#1089 📝: アプリ開発者を開発エンジニアに修正
  website/docs/react-native/santoku/test-planning/collaboration-with-qa-vendors.mdx
Labels: doc

#1071 🐛: home画面_データ更新後の画面更新でエラーが発生する不具合を改善
  example-app/SantokuApp/src/features/qa-home/pages/HomePage.test.tsx
  example-app/SantokuApp/src/fixtures/msw/handlers/account/getLoggedInAccountId.ts
  example-app/SantokuApp/src/fixtures/msw/handlers/account/postLogin.ts
  example-app/SantokuApp/src/fixtures/msw/handlers/account/postLogout.ts
  example-app/SantokuApp/src/fixtures/msw/handlers/account/setLoggedInAccountId.ts
  example-app/SantokuApp/src/fixtures/msw/models/index.ts
  example-app/SantokuApp/src/fixtures/msw/models/loggedInAccountModel.ts
  website/docs/react-native/learn/qa-app/app-project-desc.md
Labels: app, doc, test

#1090 🐛: 不具合_home画面_募集中のイベントが無い場合、「もっと見る」リンクを表示するよう改善
  example-app/SantokuApp/src/features/qa-event/components/EventList.tsx
  example-app/SantokuApp/src/features/qa-home/pages/HomePage.tsx
Labels: app

#1092 🐛: 不具合_いいね更新時の条件誤りを修正
  example-app/SantokuApp/src/fixtures/msw/handlers/account/deleteAccountsMeAnswerCommentLikes.ts
  example-app/SantokuApp/src/fixtures/msw/handlers/account/deleteAccountsMeAnswerLikes.ts
  example-app/SantokuApp/src/fixtures/msw/handlers/account/deleteAccountsMeEventLikes.ts
  example-app/SantokuApp/src/fixtures/msw/handlers/account/putAccountsMeAnswerCommentLikes.ts
  example-app/SantokuApp/src/fixtures/msw/handlers/account/putAccountsMeAnswerLikes.ts
  example-app/SantokuApp/src/fixtures/msw/handlers/account/putAccountsMeEventLikes.ts
Labels: app

#1093 📈: Fix the target domain name of Plausible
  website/docusaurus.config.js
Labels: doc

#1091 📝: 商標追加「iPad」「Dynamic Island」「ESLint」「AQUOS」
  website/src/pages/trademark.md
Labels: doc

#1094 📝: rn-spoilerのExpo CLI対応に伴うドキュメント修正
  website/docs/react-native/learn/getting-started/launch-created-app.mdx
Labels: doc

#1097 🧑‍💻: Git LFS 有効化(pptx)
  .github/workflows/gh-pages.yaml
  website/.gitattributes
  website/README.md
Labels: ci, doc

#1098 📝: Fix landing page/react native example app architecture description
  website/landing-page/react-native-example-app-architecture-description.md
Labels: doc

#1101 📝: test-planning-with-qa-vendors
  website/docs/react-native/santoku/test-planning/SantokuApp_UT_IT_testplan.pptx
  website/docs/react-native/santoku/test-planning/SantokuApp_testplan.pptx
  website/docs/react-native/santoku/test-planning/collaboration-with-qa-vendors.mdx
Labels: doc

#1096 📝: ドキュメントの軽微な修正
  website/.htmltest.yaml
  website/docs/react-native/learn/qa-app/app-project-desc.md
  website/docs/react-native/learn/todo-app/networking/setting-up-local-server.mdx
Labels: doc

#1095 📝: 画面遷移図の修正
  website/docs/react-native/learn/todo-app/app-hands-on/screen-transition-modal.png
  website/docs/react-native/learn/todo-app/app-hands-on/screen-transition-stack.png
  website/docs/react-native/learn/todo-app/app-hands-on/screen-transition-tab.png
  website/docs/react-native/learn/todo-app/app-spec/screen_transition.png
Labels: doc

#1100 📝: パッケージ追加に関するドキュメントの軽微な修正
  website/docs/react-native/learn/qa-app/app-project-desc.md
  website/docs/react-native/santoku/development/dependency-management.md
Labels: doc
