Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2023-07, with the labels that each got.

#1199 📝: analytics更新対応
  website/docusaurus.config.js
  website/src/pages/terms-of-use.md
Labels: doc

#1200 📝: 脚注の順番が不正な問題に対応するpluginを追加
  website/.eslintrc.js
  website/docusaurus.config.js
  website/src/plugins/fix-footnote-order-plugin/fix-footnote-order.js
  website/src/plugins/fix-footnote-order-plugin/index.js
Labels: doc

#1178 :truck:: ファイル名に含まれる空白を削除
  example-app/SantokuApp/src/features/demo-react-query/pages/ListTodoDemoPage.tsx
  example-app/SantokuApp/src/features/demo-react-query/services/todo/useTodosInfinite.ts
Labels: app

#1191 🚨: 不要にlintをdisableしていた箇所を修正
  example-app/SantokuApp/src/apps/app/App.test.tsx
Labels: app, test

#1176 🧑‍💻: jestのcoverage測定対象から自動生成コード・画面を除外
  example-app/SantokuApp/jest.config.js
Labels: test

#1190 🧑‍💻: renovate対象外を追加
  .github/renovate.json5
Labels: chore

#1179 📝: Windows用PATH設定例を追加
  website/docs/react-native/learn/getting-started/setting-up-development-environment.mdx
Labels: doc

#1177 🧑‍💻: cloc によるコード行数カウント対象外ファイルの追加
  example-app/SantokuApp/.clocignore
  example-app/santoku-app-backend/.clocignore
Labels: chore

#1194 ✨ @ts-directiveに関するルールを追加
  example-app/SantokuApp/.eslintrc.js
  example-app/SantokuApp/src/bases/core/errors/ApplicationError.test.ts
  example-app/SantokuApp/src/bases/core/errors/RuntimeError.test.ts
  example-app/SantokuApp/src/bases/local-authentication/LocalAuthentication.test.ts
  example-app/SantokuApp/src/bases/message/Message.test.ts
  example-app/SantokuApp/src/bases/ui/picker/DateTimePicker.ios.test.tsx
  example-app/SantokuApp/src/features/backend/utils/customInstance.ts
Labels: app, build, test

#1195 ✨ ESLintのルールにcurlyを追加
  example-app/SantokuApp/.eslintrc.js
  example-app/SantokuApp/src/bases/core/contexts/createUseContextAndProvider.ts
  example-app/SantokuApp/src/bases/core/utils/composePressableStyles.ts
  example-app/SantokuApp/src/bases/validator/loginPasswordValidator.ts
  example-app/SantokuApp/src/features/demo-react-query/pages/ListTodoDemoPage.tsx
Labels: app, build

#1192 ✨: ESLintのディレクティブコメントに関するルールを追加
  example-app/SantokuApp/.eslintrc.js
  example-app/SantokuApp/jest/__mocks__/@react-navigation/native.ts
  example-app/SantokuApp/jest/__mocks__/expo-secure-store.ts
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/src/@types/react-native-reanimated-jest-util.d.ts
  example-app/SantokuApp/src/apps/app/AppWithInitialization.tsx
  example-app/SantokuApp/src/apps/app/services/initializeFirebaseCrashlyticsAsync.ts
  example-app/SantokuApp/src/bases/core/errors/ApplicationError.test.ts
  example-app/SantokuApp/src/bases/core/errors/RuntimeError.test.ts
  example-app/SantokuApp/src/bases/firebase/FirebaseConfig.test.ts
  example-app/SantokuApp/src/bases/ui/barcode/Barcode.test.tsx
  example-app/SantokuApp/src/bases/ui/loading/Overlay.test.tsx
  example-app/SantokuApp/src/bases/ui/overlay/FullWindowOverlay.tsx
  example-app/SantokuApp/src/bases/ui/overlay/OverlayBackdrop.test.tsx
  example-app/SantokuApp/src/bases/ui/overlay/OverlayContainer.test.tsx
  example-app/SantokuApp/src/bases/ui/picker/PickerBackdrop.test.tsx
  example-app/SantokuApp/src/bases/ui/picker/PickerContainer.test.tsx
  example-app/SantokuApp/src/bases/ui/snackbar/Snackbar.test.tsx
  example-app/SantokuApp/src/bases/ui/snackbar/SnackbarComponent.test.tsx
  example-app/SantokuApp/src/bases/validator/loginPasswordValidator.ts
  example-app/SantokuApp/src/features/account/pages/LoginPage.test.tsx
  example-app/SantokuApp/src/features/account/pages/ProfileRegistrationPage.test.tsx
  example-app/SantokuApp/src/features/acknowledgements/utils/requireThirdPartyDependenciesWithAction.ts
  example-app/SantokuApp/src/features/demo-error/pages/ErrorInEventHandlerPage.tsx
  example-app/SantokuApp/src/features/demo-error/pages/ErrorInNativeModulePage.tsx
  example-app/SantokuApp/src/features/demo-error/pages/ErrorInUseEffectAsyncProcessPage.tsx
  example-app/SantokuApp/src/features/demo-instructions/pages/InstructionsPage.tsx
  example-app/SantokuApp/src/features/qa-home/pages/HomePage.test.tsx
  example-app/SantokuApp/src/features/terms/components/TermsAgreementOverlayComponent.test.tsx
Labels: app, build, test

#1193 ✨ default exportを禁止にするルールを追加
  example-app/SantokuApp/.eslintrc.js
  example-app/SantokuApp/orval.config.ts
Labels: build

#1204 🔨: fix: Windows環境でprebuildが不完全な問題を修正(copy失敗)
  example-app/SantokuApp/package.json
Labels: build

#1203 📝: React Nativeハンズオン受講後のフィードバック(React公式サイトURL更新、補足追記)
  website/docs/react-native/learn/basic-concepts/pre-requisites.md
  website/docs/react-native/learn/getting-started/launch-created-app.mdx
Labels: doc
