Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2023-06, with the labels that each got.

#1147 ✨: Add qrcode
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/src/apps/app/navigators/DemoStackNav.tsx
  example-app/SantokuApp/src/apps/app/navigators/types.ts
  example-app/SantokuApp/src/apps/app/screens/demo-menu/DemoMenuScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/demo-qrcode/QRCodeScreen.tsx
  example-app/SantokuApp/src/bases/message/BundledMessages.ts
  example-app/SantokuApp/src/bases/ui/qrcode/QRCode.test.tsx
  example-app/SantokuApp/src/bases/ui/qrcode/QRCode.tsx
  example-app/SantokuApp/src/bases/ui/qrcode/__snapshots__/QRCode.test.tsx.snap
  example-app/SantokuApp/src/bases/validator/index.ts
  example-app/SantokuApp/src/features/demo-qrcode/forms/useQRCodeForm.ts
  example-app/SantokuApp/src/features/demo-qrcode/pages/QRCodePage.tsx
  example-app/SantokuApp/src/features/demo-qrcode/types/ErrorCorrectionLevel.ts
  website/docs/react-native/santoku/design/demo/overview.mdx
  website/docs/react-native/santoku/design/demo/qrcode/overview.mdx
  website/docs/react-native/santoku/design/demo/qrcode/qrcode.png
  website/docs/sidebars.js
Labels: app, build, doc, test

#1157 🔧: managed-licenseの更新
  example-app/SantokuApp/.script/managed-license.js
Labels: build

#1160 ✅: App.tsxのテスト実行時に、日付を固定する
  example-app/SantokuApp/src/apps/app/App.test.tsx
Labels: app, test

#1156 ✨: build.gradleのmanifestPlaceholdersに指定されたキーと値を設定するConfig Pluginを追加
  example-app/SantokuApp/config/plugin/src/android/index.ts
  example-app/SantokuApp/config/plugin/src/android/withAndroidAddManifestPlaceholders.ts
  website/docs/react-native/santoku/development/build-configuration/apply-plugins.mdx
Labels: Android, doc

#1050 ✨: Add barcode
  README.md
  example-app/SantokuApp/jest.config.js
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/src/apps/app/navigators/DemoStackNav.tsx
  example-app/SantokuApp/src/apps/app/navigators/types.ts
  example-app/SantokuApp/src/apps/app/screens/demo-barcode/BarcodeScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/demo-menu/DemoMenuScreen.tsx
  example-app/SantokuApp/src/bases/message/BundledMessages.ts
  example-app/SantokuApp/src/bases/ui/barcode/Barcode.test.tsx
  example-app/SantokuApp/src/bases/ui/barcode/Barcode.tsx
  example-app/SantokuApp/src/bases/ui/barcode/__snapshots__/Barcode.test.tsx.snap
  example-app/SantokuApp/src/bases/ui/barcode/jsbarcode-code128.d.ts
  example-app/SantokuApp/src/bases/ui/illustration/RemoveIllustration.tsx
  example-app/SantokuApp/src/bases/validator/index.ts
  example-app/SantokuApp/src/features/demo-barcode/forms/useBarcodeForm.ts
  example-app/SantokuApp/src/features/demo-barcode/pages/BarcodePage.tsx
  example-app/SantokuApp/src/features/demo-barcode/types/BarcodeCharacter.ts
  website/docs/react-native/santoku/design/demo/barcode/code128.png
  website/docs/react-native/santoku/design/demo/barcode/code128auto.png
  website/docs/react-native/santoku/design/demo/barcode/overview.mdx
  website/docs/react-native/santoku/design/demo/overview.mdx
  website/docs/sidebars.js
Labels: app, build, doc, test

#1054 ✨: Add MapView
  .azure-pipelines/deploy.yaml
  example-app/SantokuApp/app.config.js
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/prebuild/local/android/app/build.gradle
  example-app/SantokuApp/prebuild/local/android/app/src/main/AndroidManifest.xml
  example-app/SantokuApp/prebuild/prod/android/app/build.gradle
  example-app/SantokuApp/prebuild/prod/android/app/src/main/AndroidManifest.xml
  example-app/SantokuApp/prebuild/stg/android/app/build.gradle
  example-app/SantokuApp/prebuild/stg/android/app/src/main/AndroidManifest.xml
  example-app/SantokuApp/src/apps/app/navigators/DemoStackNav.tsx
  example-app/SantokuApp/src/apps/app/navigators/types.ts
  example-app/SantokuApp/src/apps/app/screens/demo-map/MapScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/demo-menu/DemoMenuScreen.tsx
  example-app/SantokuApp/src/bases/ui/map/MapView.test.tsx
  example-app/SantokuApp/src/bases/ui/map/MapView.tsx
  example-app/SantokuApp/src/bases/ui/map/Marker.test.tsx
  example-app/SantokuApp/src/bases/ui/map/Marker.tsx
  example-app/SantokuApp/src/bases/ui/map/__snapshots__/MapView.test.tsx.snap
  example-app/SantokuApp/src/bases/ui/map/__snapshots__/Marker.test.tsx.snap
  example-app/SantokuApp/src/features/demo-map/components/MapTypePicker.tsx
  example-app/SantokuApp/src/features/demo-map/components/ToggleButton.tsx
  example-app/SantokuApp/src/features/demo-map/constants/initialMarker.ts
  example-app/SantokuApp/src/features/demo-map/constants/initialRegion.ts
  example-app/SantokuApp/src/features/demo-map/form/useMarkerForm.ts
  example-app/SantokuApp/src/features/demo-map/form/useRegionForm.ts
  example-app/SantokuApp/src/features/demo-map/pages/DemoMapPage.tsx
  website/docs/react-native/santoku/decisions.mdx
  website/docs/react-native/santoku/decisions/adr-017-map-view-library.mdx
  website/docs/react-native/santoku/design/demo/map/android-map.png
  website/docs/react-native/santoku/design/demo/map/ios-map.png
  website/docs/react-native/santoku/design/demo/map/overview.mdx
  website/docs/react-native/santoku/design/demo/overview.mdx
  website/docs/sidebars.js
Labels: app, build, doc, test

#1168 📝: 強制アプリアップデートのADRとExpo SDK 47のアップグレード記事の改善
  website/docs/react-native/santoku/decisions/adr-016-forced-app-updates.mdx
  website/docs/react-native/santoku/maintenance/enhance/expo-47-upgrade.mdx
Labels: doc

#1170 🩹: ドキュメントのリンク切れ対応
  website/docs/react-native/santoku/development/build-configuration.mdx
  website/docs/react-native/santoku/development/build-configuration/about-plugins.mdx
  website/docs/react-native/santoku/maintenance/enhance/expo-46-upgrade.mdx
  website/docs/reference/security/awesome-sites.md
Labels: doc

#1171 ✏️: 文章表現の改善
  website/docs/react-native/santoku/design/demo/barcode/overview.mdx
  website/docs/react-native/santoku/maintenance/enhance/expo-47-upgrade.mdx
  website/docs/react-native/santoku/maintenance/enhance/expo-48-upgrade.mdx
Labels: doc

#1172 📝: QRコードの設計と地図表示ライブラリのADRの改善
  website/docs/react-native/santoku/decisions/adr-017-map-view-library.mdx
  website/docs/react-native/santoku/design/demo/qrcode/overview.mdx
Labels: doc

#1169 📝: 2023/06 Fintan公開用にLPを更新
  website/landing-page/react-native-example-app-architecture-description.md
Labels: doc

#1164 🩹: masterやmainブランチを参照しているリンクの見直し（v2023.03以降のドキュメントが対象）
  website/docs/react-native/santoku/maintenance/enhance/expo-47-upgrade.mdx
  website/docs/react-native/santoku/maintenance/enhance/expo-48-upgrade.mdx
Labels: doc

#1166 ✏️: 表記ゆれやtypoに対応（v2023.03以降のドキュメントが対象）
  example-app/SantokuApp/src/bases/ui/map/MapView.tsx
  example-app/SantokuApp/src/bases/ui/map/Marker.tsx
  website/docs/react-native/santoku/decisions/adr-017-map-view-library.mdx
  website/docs/react-native/santoku/design/demo/map/overview.mdx
  website/docs/react-native/santoku/maintenance/enhance/expo-47-upgrade.mdx
Labels: app, doc

#1163 📝: 商標追加: React, React Native, Firestore, fastlane, Google Maps, Mapbox
  website/src/pages/trademark.md
Labels: doc

#1173 ✏️タイポを修正
  website/docs/react-native/santoku/maintenance/enhance/expo-48-upgrade.mdx
Labels: doc
