Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2023-09, with the labels that each got.

#1212 📝 ディープリンク受信時の画面遷移方法に関するADRを追加
  website/docs/react-native/santoku/decisions.mdx
  website/docs/react-native/santoku/decisions/adr-019-deep-link-navigation.mdx
  website/docs/react-native/santoku/decisions/linking-feasibility.mdx
  website/docs/react-native/santoku/decisions/non-linking-feasibility.mdx
  website/docs/sidebars.js
Labels: doc

#1220 📝: ディープリンクに関するリファレンスを追加
  website/docs/reference/deep-link/android-app-links.mdx
  website/docs/reference/deep-link/overview.mdx
  website/docs/reference/deep-link/universal-links.mdx
  website/docs/sidebars.js
Labels: doc

#1214 📝 ディープリンクのアーキテクチャ解説書を更新
  website/docs/react-native/santoku/application-architecture/deep-link/android-app-links.mdx
  website/docs/react-native/santoku/application-architecture/deep-link/create-deep-link.mdx
  website/docs/react-native/santoku/application-architecture/deep-link/overview.drawio.png
  website/docs/react-native/santoku/application-architecture/deep-link/overview.mdx
  website/docs/react-native/santoku/application-architecture/deep-link/process-deep-link.mdx
  website/docs/react-native/santoku/application-architecture/deep-link/react-native-firebase.mdx
  website/docs/react-native/santoku/application-architecture/deep-link/tap-deep-link-when-background.drawio.png
  website/docs/react-native/santoku/application-architecture/deep-link/tap-deep-link-when-kill.drawio.png
  website/docs/react-native/santoku/application-architecture/deep-link/tap-deep-link-when-quit.drawio.png
  website/docs/react-native/santoku/application-architecture/deep-link/universal-links.mdx
  website/docs/react-native/santoku/application-architecture/life-cycle-management/initialization-flow.drawio.png
  website/docs/react-native/santoku/application-architecture/life-cycle-management/initialization.mdx
  website/docs/sidebars.js
Labels: doc

#1225 🐛: prebuild時に.始まりのファイル(.gitignoreなど)がコピーされてない問題を修正
  example-app/SantokuApp/package.json
  example-app/SantokuApp/prebuild/dev/android/.gitignore
  example-app/SantokuApp/prebuild/dev/ios/.gitignore
  example-app/SantokuApp/prebuild/dev/ios/.xcode.env
  example-app/SantokuApp/prebuild/local/android/.gitignore
  example-app/SantokuApp/prebuild/local/ios/.gitignore
  example-app/SantokuApp/prebuild/local/ios/.xcode.env
  example-app/SantokuApp/prebuild/prod/android/.gitignore
  example-app/SantokuApp/prebuild/prod/ios/.gitignore
  example-app/SantokuApp/prebuild/prod/ios/.xcode.env
  example-app/SantokuApp/prebuild/stg/android/.gitignore
  example-app/SantokuApp/prebuild/stg/ios/.gitignore
  example-app/SantokuApp/prebuild/stg/ios/.xcode.env
Labels: build

#1230 📝: ディープリンクのドキュメント改善
  website/docs/react-native/santoku/application-architecture/deep-link/process-deep-link.mdx
  website/docs/react-native/santoku/decisions/adr-004-deep-link.mdx
  website/docs/react-native/santoku/decisions/adr-018-deep-link.mdx
  website/docs/react-native/santoku/decisions/adr-019-deep-link-navigation.mdx
Labels: doc

#1227 🔧: tsconfigに設定している一部項目をexpo-template-blank-typescriptの設定に合わせる
  example-app/SantokuApp/tsconfig.json
Labels: build

#1226 📝 スタイルガイドの改善
  website/docs/react-native/santoku/development/implement/style-guide/editorconfig.mdx
  website/docs/react-native/santoku/development/implement/style-guide/eslint.mdx
  website/docs/react-native/santoku/development/implement/style-guide/lint-ops.mdx
  website/docs/react-native/santoku/development/implement/style-guide/naming-conversion.mdx
  website/docs/react-native/santoku/development/implement/style-guide/prettier.mdx
  website/docs/react-native/santoku/development/implement/style-guide/typescript-style-guide.mdx
  website/docs/react-native/santoku/development/implement/style-guide/typescript.mdx
Labels: doc

#1223 🐛: `app.config.xxx.js`の`extra`で指定した環境値が反映されていない問題の対応
  example-app/SantokuApp/fastlane/Fastfile
  example-app/SantokuApp/fastlane/Fastfile.build_santoku_app_ios
  example-app/SantokuApp/package.json
  website/docs/react-native/santoku/development/build-configuration/app-launch-per-build-settings.mdx
Labels: build, doc

#1229 📝: 2023/09 Fintan公開用にLPを更新
  website/landing-page/react-native-example-app-architecture-description.md
  website/landing-page/reference-lp.md
Labels: doc

#1213 ✨ SantokuAppにディープリンクを追加
  .github/renovate.json5
  example-app/SantokuApp/app.config.js
  example-app/SantokuApp/assets/web/reactnativesandbox.z11.web.core.windows.net/.well-known/apple-app-site-association
  example-app/SantokuApp/assets/web/reactnativesandbox.z11.web.core.windows.net/.well-known/assetlinks.json
  example-app/SantokuApp/config/app.config.dev.js
  example-app/SantokuApp/config/app.config.local.js
  example-app/SantokuApp/config/app.config.prod.js
  example-app/SantokuApp/config/app.config.stg.js
  example-app/SantokuApp/config/constants/deepLink.js
  example-app/SantokuApp/config/plugin/template/android/app/src/main/java/com/helloworld/MainActivity.java
  example-app/SantokuApp/config/utils/generateDeepLinkIntentFilter.js
  example-app/SantokuApp/package-lock.json
  example-app/SantokuApp/package.json
  example-app/SantokuApp/prebuild/dev/android/app/src/main/AndroidManifest.xml
  example-app/SantokuApp/prebuild/dev/android/app/src/main/java/jp/fintan/mobile/SantokuApp/dev/MainActivity.java
  example-app/SantokuApp/prebuild/dev/ios/DevSantokuApp/DevSantokuApp.entitlements
  example-app/SantokuApp/prebuild/local/android/app/src/main/AndroidManifest.xml
  example-app/SantokuApp/prebuild/local/android/app/src/main/java/jp/fintan/mobile/SantokuApp/local/MainActivity.java
  example-app/SantokuApp/prebuild/local/ios/LocalSantokuApp/LocalSantokuApp.entitlements
  example-app/SantokuApp/prebuild/prod/android/app/src/main/AndroidManifest.xml
  example-app/SantokuApp/prebuild/prod/android/app/src/main/java/jp/fintan/mobile/SantokuApp/MainActivity.java
  example-app/SantokuApp/prebuild/prod/ios/SantokuApp/SantokuApp.entitlements
  example-app/SantokuApp/prebuild/stg/android/app/src/main/AndroidManifest.xml
  example-app/SantokuApp/prebuild/stg/android/app/src/main/java/jp/fintan/mobile/SantokuApp/stg/MainActivity.java
  example-app/SantokuApp/prebuild/stg/ios/StgSantokuApp/StgSantokuApp.entitlements
  example-app/SantokuApp/src/apps/app/App.tsx
  example-app/SantokuApp/src/apps/app/AppWithInitialization.tsx
  example-app/SantokuApp/src/apps/app/client-states/useRedirectDeepLinkUrl.ts
  example-app/SantokuApp/src/apps/app/components/DeepLinkHandler.tsx
  example-app/SantokuApp/src/apps/app/navigators/DemoStackNav.tsx
  example-app/SantokuApp/src/apps/app/navigators/MainTabNav.tsx
  example-app/SantokuApp/src/apps/app/navigators/types.ts
  example-app/SantokuApp/src/apps/app/screens/demo-deep-link/DeepLinkScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/demo-menu/DemoMenuScreen.tsx
  example-app/SantokuApp/src/apps/app/services/deep-link/addDeepLinkListener.ts
  example-app/SantokuApp/src/apps/app/services/deep-link/getInitialDeepLinkUrl.ts
  example-app/SantokuApp/src/apps/app/services/deep-link/parseDeepLinkUrl.ts
  example-app/SantokuApp/src/apps/app/services/deep-link/warmStartDeepLink.ts
  example-app/SantokuApp/src/apps/app/types/AppInitialData.ts
  example-app/SantokuApp/src/apps/app/use-cases/deep-link/deepLinks.ts
  example-app/SantokuApp/src/apps/app/use-cases/deep-link/demoAppInfoDeepLink.ts
  example-app/SantokuApp/src/apps/app/use-cases/deep-link/handleDeepLink.ts
  example-app/SantokuApp/src/apps/app/use-cases/deep-link/homeDeepLink.ts
  example-app/SantokuApp/src/apps/app/use-cases/deep-link/pathWithPrefix.ts
  example-app/SantokuApp/src/apps/app/use-cases/deep-link/questionDetailDeepLink.ts
  example-app/SantokuApp/src/apps/app/use-cases/useAppInitialize.ts
  example-app/SantokuApp/src/bases/core/configs/AppConfig.ts
  example-app/SantokuApp/src/features/account/services/auth/clientLogout.ts
  example-app/SantokuApp/src/features/account/services/auth/useAuthCommands.ts
  example-app/SantokuApp/src/features/demo-deep-link/pages/DeepLinkPage.tsx
  website/.htmltest.yaml
  website/docs/react-native/santoku/design/demo/deep-link/overview.mdx
  website/docs/react-native/santoku/design/demo/deep-link/screen-capture.png
  website/docs/react-native/santoku/design/demo/overview.mdx
  website/docs/sidebars.js
Labels: app, build, chore, doc

#1228 🔨 ESLintルールを表示するツールの改善
  example-app/SantokuApp/.script/print-eslint-rules.js
Labels: build

#1231 🚨: リンク先が404になっているものを修正
  website/docs/react-native/santoku/maintenance/enhance/expo-46-upgrade.mdx
Labels: doc

#1233 📝: 商標追加
  website/src/pages/trademark.md
Labels: doc

#1234 📝 ディープリンクの画面遷移に関するADRでLinking.openURLを使用している箇所を修正
  website/docs/react-native/santoku/decisions/linking-feasibility.mdx
  website/docs/react-native/santoku/decisions/non-linking-feasibility.mdx
Labels: doc

#1235 📝: ディープリンクに関するドキュメントの改善
  website/docs/react-native/santoku/application-architecture/deep-link/android-app-links.mdx
  website/docs/react-native/santoku/application-architecture/deep-link/overview.mdx
  website/docs/react-native/santoku/decisions/adr-018-deep-link.mdx
  website/docs/reference/deep-link/android-app-links.mdx
  website/docs/reference/deep-link/overview.mdx
  website/docs/reference/deep-link/universal-links.mdx
Labels: doc

#1238 🤡: App.test.tsxの自動テスト実行時にエラーログが出力されていたので対応
  example-app/SantokuApp/jest/__mocks__/expo-linking.ts
Labels: test

#1237 ✏️: 文章表現の改善
  website/docs/react-native/santoku/application-architecture/deep-link/overview.mdx
  website/docs/react-native/santoku/design/demo/deep-link/overview.mdx
  website/docs/react-native/santoku/development/development-environment/01.basic-setup.mdx
  website/docs/react-native/santoku/development/implement/style-guide/eslint.mdx
  website/docs/react-native/santoku/development/implement/style-guide/typescript-style-guide.mdx
  website/docs/reference/deep-link/overview.mdx
  website/landing-page/reference-lp.md
Labels: doc

#1240 📝 ドキュメントの改善
  website/docs/react-native/santoku/application-architecture/application-structure/overview.mdx
  website/docs/react-native/santoku/development/implement/style-guide/lint-ops.mdx
Labels: doc

#1239 📝: Expo49への更新ドキュメントの改善
  example-app/SantokuApp/jest/utils/wrapProperty.ts
  example-app/SantokuApp/src/bases/ui/picker/SelectPickerItems.android.test.tsx
  website/docs/react-native/santoku/maintenance/enhance/expo-49-upgrade.mdx
Labels: app, doc, test

#1241 ✏️: "Decisions Records" -> "Decision Records"
  website/docs/react-native/santoku/decisions.mdx
Labels: doc
