Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2023-04, with the labels that each got.

#1102 🐛: modalのlandscape対応
  example-app/SantokuApp/src/bases/ui/modal/ModalBackdrop.tsx
Labels: app

#1103 💡: iOS13〜15環境のNative Stackのmodalは、端末の向き変更に画面が追従しない事象をコメントとして追記
  example-app/SantokuApp/src/apps/app/navigators/AuthenticatedStackNav.tsx
Labels: app

#1104 📝: Modify file paths starting from /
  website/docs/react-native/learn/advance/react-navigation-param.mdx
  website/docs/react-native/learn/basic-concepts/react-native-basics/components/button.mdx
  website/docs/react-native/learn/basic-concepts/react-native-basics/components/image.mdx
  website/docs/react-native/learn/basic-concepts/react-native-basics/components/lists/flat-list.mdx
  website/docs/react-native/learn/basic-concepts/react-native-basics/components/lists/section-list.mdx
  website/docs/react-native/learn/basic-concepts/react-native-basics/components/scroll-view.mdx
  website/docs/react-native/learn/basic-concepts/react-native-basics/components/text.mdx
  website/docs/react-native/learn/basic-concepts/react-native-basics/components/touchable-opacity.mdx
  website/docs/react-native/learn/basic-concepts/react-native-basics/components/view.mdx
  website/docs/react-native/learn/basic-concepts/react-native-basics/design/flexbox.mdx
  website/docs/react-native/learn/basic-concepts/react-native-basics/design/height-and-width.mdx
  website/docs/react-native/learn/basic-concepts/react-native-basics/design/style.mdx
  website/docs/react-native/learn/basic-concepts/react-navigation-basics.mdx
  website/docs/react-native/learn/basic-concepts/react-navigation-basics/modal.mdx
  website/docs/react-native/learn/basic-concepts/react-navigation-basics/stack.mdx
  website/docs/react-native/learn/basic-concepts/react-navigation-basics/tab.mdx
  website/docs/react-native/learn/todo-app/networking/activity-indicator-each-todo.mdx
  website/docs/react-native/learn/todo-app/networking/activity-indicator.mdx
  website/docs/react-native/learn/todo-app/networking/api-request.mdx
  website/docs/react-native/learn/todo-app/networking/generate-api-client.mdx
  website/docs/react-native/learn/todo-app/screens/alert.mdx
  website/docs/react-native/learn/todo-app/screens/auth.mdx
  website/docs/react-native/learn/todo-app/screens/basic-components.mdx
  website/docs/react-native/learn/todo-app/screens/keyboard-avoiding-view.mdx
  website/docs/react-native/learn/todo-app/screens/login.mdx
  website/docs/react-native/learn/todo-app/screens/logo.mdx
  website/docs/react-native/learn/todo-app/screens/modal.mdx
  website/docs/react-native/learn/todo-app/screens/stack.mdx
  website/docs/react-native/learn/todo-app/screens/tab.mdx
  website/docs/react-native/learn/todo-app/screens/todo-board.mdx
  website/docs/react-native/learn/todo-app/screens/todo-form.mdx
  website/docs/react-native/learn/todo-app/screens/use-focus-effect.mdx
  website/docs/react-native/learn/todo-app/screens/welcome.mdx
  website/docs/react-native/santoku/development/tools/vscode.md
Labels: doc

#1107 🔨: ライブラリのライセンス管理用scriptの改善
  example-app/SantokuApp/.script/check-licenses.js
  example-app/SantokuApp/.script/generate-acknowledgements-file.js
  example-app/SantokuApp/.script/license-text/LGPL-apple.txt
  example-app/SantokuApp/.script/managed-license.js
Labels: build

#1109 📝: リンク先不正への対応
  website/docs/react-native/santoku/application-architecture/http-api/http-api-error-handling.mdx
  website/docs/react-native/santoku/requirements/non-functional/usability.mdx
Labels: doc

#1110 💄: Improved Tab UI
  website/src/css/custom.css
Labels: doc

#1111 🐛: Fixed a bug that caused two image zooms to be displayed
  website/src/plugins/medium-zoom-docusaurus-plugin/attach-medium-zoom.js
Labels: doc

#1114 📝: Improved pagination labeling
  website/docs/react-native/common-pitfalls/overview.md
  website/docs/react-native/learn/basic-concepts.mdx
  website/docs/react-native/learn/basic-concepts/react-native-basics.md
  website/docs/react-native/learn/basic-concepts/react-native-basics/components.mdx
  website/docs/react-native/learn/basic-concepts/react-native-basics/components/lists.mdx
  website/docs/react-native/learn/basic-concepts/react-native-basics/design.mdx
  website/docs/react-native/learn/basic-concepts/react-navigation-basics.mdx
  website/docs/react-native/learn/getting-started.mdx
  website/docs/react-native/learn/qa-app/qa-app.md
  website/docs/react-native/learn/todo-app.md
  website/docs/react-native/santoku/application-architecture.mdx
  website/docs/react-native/santoku/application-architecture/auth/overview.mdx
  website/docs/react-native/santoku/application-architecture/deep-link/overview.mdx
  website/docs/react-native/santoku/application-architecture/error-handling/overview.mdx
  website/docs/react-native/santoku/application-architecture/http-api/overview.mdx
  website/docs/react-native/santoku/application-architecture/life-cycle-management/overview.mdx
  website/docs/react-native/santoku/application-architecture/logging-app/overview.mdx
  website/docs/react-native/santoku/application-architecture/message-configuration/overview.mdx
  website/docs/react-native/santoku/application-architecture/push-notification/overview.mdx
  website/docs/react-native/santoku/decisions.mdx
  website/docs/react-native/santoku/design.mdx
  website/docs/react-native/santoku/design/demo/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/common-parts/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/definitions/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/definitions/screen-type/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/overview.mdx
  website/docs/react-native/santoku/design/screen-specs/screens/overview.mdx
  website/docs/react-native/santoku/development.mdx
  website/docs/react-native/santoku/development/build-configuration.mdx
  website/docs/react-native/santoku/development/design.mdx
  website/docs/react-native/santoku/development/development-environment.mdx
  website/docs/react-native/santoku/development/implement.mdx
  website/docs/react-native/santoku/development/test.mdx
  website/docs/react-native/santoku/development/tools.mdx
  website/docs/react-native/santoku/maintenance.mdx
  website/docs/react-native/santoku/maintenance/enhance.mdx
  website/docs/react-native/santoku/requirements.mdx
  website/docs/react-native/santoku/requirements/functional/overview.mdx
  website/docs/react-native/santoku/requirements/non-functional/overview.mdx
  website/docs/react-native/santoku/test-planning.mdx
  website/docs/react-native/santoku/test-planning/test-type/functional-testing.mdx
  website/docs/react-native/santoku/test-planning/test-type/overview.mdx
  website/docs/reference/auth/overview.md
  website/docs/reference/notification/overview.md
Labels: doc

#1113 📝 rn-spoilerがExpo SDK 47にアップグレードしたので、学習コンテンツのプロキシに関する注意事項を削除
  website/docs/react-native/learn/getting-started/create-project.md
Labels: doc

#1117 📈: Plausibleのデータ収集用設定をOrganizationごとに分ける
  website/docusaurus.config.js
Labels: doc

#1116 🧑‍💻: GitHub Action の check 名が website と SantokuApp どちらのものか分かりづらい問題に対処
  .github/workflows/app.yaml
  .github/workflows/gh-pages.yaml
Labels: ci

#1106 📝: withAddPersonalAccountConfig -> withIosAddPersonalAccountConfig
  website/docs/react-native/santoku/development/build-configuration/development-account-for-ios.mdx
Labels: doc

#1120 ⬆️: Upgrade Ruby to 3.1.4とCIのトリガー変更
  .azure-pipelines/deploy-all.yaml
  .azure-pipelines/deploy-stg.yaml
  .azure-pipelines/deploy.yaml
  .tool-versions
Labels: build, chore

#1121 📝: GitHub PR template から古いビルドバリアントについての記述を削除
  .github/pull_request_template.md
Labels: chore

#1125 🩹: Jestでテスト実施前のモッククリア方法を修正
  example-app/SantokuApp/jest.config.js
  example-app/SantokuApp/jest/__mocks__/@notifee/react-native.ts
  example-app/SantokuApp/jest/__mocks__/@react-native-firebase/crashlytics.ts
  example-app/SantokuApp/jest/__mocks__/@react-native-firebase/messaging.ts
  example-app/SantokuApp/jest/__mocks__/@react-navigation/native.ts
  example-app/SantokuApp/jest/__mocks__/expo-splash-screen.ts
  example-app/SantokuApp/src/bases/logging/Logger.test.ts
  example-app/SantokuApp/src/features/account/services/auth/autoLogin.test.tsx
  example-app/SantokuApp/src/features/account/services/auth/canAutoLogin.test.ts
  example-app/SantokuApp/src/features/account/services/auth/changeAccount.test.tsx
  example-app/SantokuApp/src/features/account/services/auth/logout.test.tsx
Labels: app, test
