Repository ws-4020/mobile-app-crib-notes, pull requests merged in 2023-10, with the labels that each got.

#1248 🐛: ライセンス情報が表示されるように修正
  example-app/SantokuApp/src/features/acknowledgements/services/useAssetContent.ts
Labels: app

#1251 🧑‍💻: renovate対象外を追加（expo-dev-client）
  .github/renovate.json5
Labels: chore

#1254 📝: activateKeepAwake -> activateKeepAwakeAsync
  website/docs/react-native/learn/qa-app/app-project-desc.md
Labels: doc

#1253 📝: OPEN APIコマンド修正に伴うドキュメント修正
  website/docs/react-native/learn/todo-app/networking/generate-api-client.mdx
Labels: doc

#1256 🐛: モックデータのイベント日付を未来日に設定
  example-app/SantokuApp/src/apps/app/App.test.tsx
  example-app/SantokuApp/src/apps/app/__snapshots__/App.test.tsx.snap
  example-app/SantokuApp/src/fixtures/msw/datas/eventData.ts
Labels: app, test

#1255 📝: react-navigation「遷移先の画面にパラメータを渡す」ページを移動
  website/docs/react-native/learn/basic-concepts/react-navigation-basics/modal-with-param.png
  website/docs/react-native/learn/basic-concepts/react-navigation-basics/param.mdx
  website/docs/sidebars.js
  website/docusaurus.config.js
Labels: doc

#1259 📝: react-navigation: 型エラーの説明を改善
  website/docs/react-native/learn/basic-concepts/react-navigation-basics/param.mdx
Labels: doc

#1250 🐛: ダークモードでもステータスバーが見えるように修正
  example-app/SantokuApp/src/apps/app/navigators/DemoStackNav.tsx
  example-app/SantokuApp/src/apps/app/screens/account/LoginScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/account/ProfileDetailScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/demo-button/ButtonScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/demo-menu/DemoMenuScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/demo-snackbar/SnackbarScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/qa-home/HomeScreen.tsx
  example-app/SantokuApp/src/apps/app/screens/qa-post/QuestionAndEventPostScreen.tsx
Labels: app

#1257 🐛: Reactコンポーネントで発生した未処理のエラーがCrashlyticsに送信されない問題に対応
  example-app/SantokuApp/src/apps/app/App.tsx
  example-app/SantokuApp/src/bases/firebase/crashlytics/FirebaseCrashlyticsWorkaround.tsx
  website/docs/react-native/santoku/application-architecture/error-handling/how-to-handle-error.mdx
Labels: app, doc

#1265 📝: 使用頻度が高いフックを追加
  website/docs/react-native/learn/basic-concepts/pre-requisites.md
Labels: doc

#1266 📝: キャッシュに関するトラブルシュート作成
  website/docs/react-native/common-pitfalls.md
  website/docs/react-native/common-pitfalls/clear-cache.md
  website/docs/react-native/common-pitfalls/overview.md
  website/docs/react-native/learn/getting-started/launch-created-app.mdx
  website/docs/react-native/learn/todo-app/screens/logo.mdx
  website/docs/sidebars.js
  website/docusaurus.config.js
  website/src/pages/index.tsx
Labels: doc

#1273 📝: rnSpoilerTagを更新
  website/docusaurus.config.js
Labels: doc

#1267 📝: 目次を表示する
  website/docs/react-native/learn.md
  website/docs/react-native/learn/basic-concepts.mdx
  website/docs/react-native/learn/basic-concepts/react-native-basics.md
  website/docs/react-native/learn/basic-concepts/react-native-basics/components/lists.mdx
  website/docs/react-native/learn/getting-started.mdx
  website/docs/react-native/learn/qa-app/app-project-desc.md
  website/docs/react-native/learn/qa-app/app-spec.md
  website/docs/react-native/learn/qa-app/exercise-advanced.md
  website/docs/react-native/learn/qa-app/exercise-basic-detail-event-api.md
  website/docs/react-native/learn/qa-app/exercise-basic-detail-event-screen.md
  website/docs/react-native/learn/qa-app/exercise-basic-detail-question-api.md
  website/docs/react-native/learn/qa-app/exercise-basic-detail-question-components.md
  website/docs/react-native/learn/qa-app/exercise-basic-detail-question-screen.md
  website/docs/react-native/learn/qa-app/exercise-basic-home-api.md
  website/docs/react-native/learn/qa-app/exercise-basic-home-components.md
  website/docs/react-native/learn/qa-app/exercise-basic-home-screen.md
  website/docs/react-native/learn/qa-app/exercise-basic-input-api.md
  website/docs/react-native/learn/qa-app/exercise-basic-input-components.md
  website/docs/react-native/learn/qa-app/exercise-basic-input-screen.md
  website/docs/react-native/learn/qa-app/exercise-basic-list-event-api.md
  website/docs/react-native/learn/qa-app/exercise-basic-list-event-screen.md
  website/docs/react-native/learn/qa-app/qa-app.md
  website/docs/react-native/learn/todo-app.md
  website/docs/react-native/santoku.mdx
  website/docs/react-native/santoku/application-architecture.mdx
  website/docs/react-native/santoku/decisions.mdx
  website/docs/react-native/santoku/design.mdx
  website/docs/react-native/santoku/design/demo/overview.mdx
  website/docs/react-native/santoku/development.mdx
  website/docs/react-native/santoku/maintenance.mdx
  website/docs/react-native/santoku/requirements.mdx
  website/docs/react-native/santoku/test-planning.mdx
Labels: doc

#1263 📝: 環境構築手順の改善
  website/docs/react-native/learn/getting-started/setting-up-development-environment.mdx
  website/docs/react-native/learn/todo-app/networking/setting-up-local-server.mdx
Labels: doc

#1260 📝: TanStack Queryのv4アップグレードに伴うドキュメントの修正
  website/docs/react-native/learn/qa-app/app-project-desc.md
  website/docs/react-native/santoku/application-architecture/http-api/http-api-tanstack-query.mdx
  website/docs/react-native/santoku/application-architecture/http-api/overview.mdx
  website/docs/react-native/santoku/application-architecture/http-api/tanstack-query.drawio.png
  website/docs/react-native/santoku/development/implement/http-api.mdx
  website/docs/react-native/santoku/development/implement/style-guide/naming-conversion.mdx
  website/docs/sidebars.js
  website/docusaurus.config.js
Labels: doc

#1281 📝: 単語の統一（クエリー -> クエリ）
  website/docs/react-native/santoku/application-architecture/http-api/http-api-tanstack-query.mdx
  website/docs/react-native/santoku/development/implement/style-guide/naming-conversion.mdx
  website/prh.yaml
Labels: doc

#1269 📝 rn-spoilerやSantokuのライブラリvupに伴うドキュメントの修正
  website/docs/react-native/learn/qa-app/app-project-desc.md
  website/docusaurus.config.js
Labels: doc

#1282 📝: pod-install方法をnpm runに統一
  website/docs/react-native/learn/qa-app/app-project-desc.md
Labels: doc

#1284 📝 : Q&Aアプリ初期設定のWarn修正
  website/docs/react-native/learn/qa-app/app-project-desc.md
Labels: doc

#1283 📝: 開発用プロビジョニングプロファイルのType表現修正
  website/docs/distribution/app-build/ios-build-setting.md
Labels: doc
